<div class="card">
  <div class="card-header">
    Verein Berner-Architekten-Treffen
  </div>
  <div class="card-block">

    Seit dem 23. Januar 2009 wird das Berner Architekten-Treffen durch den Verein Berner-Architekten-Treffen organisiert.
    <p>
    Das Berner Architekten-Treffen ist seit 2005 eine Begegnungsplattform f&uuml;r an Architekturfragen interessierte Informatikfachleute.
    Durch Fachvortr&auml;ge aus der Praxis und Gelegenheiten zur vertieften Diskussion von aktuellen Problemstellungen sowie zu direkten Kontakten zwischen Firmen
    unterschiedlicher Branchen bietet das Berner Architekten Treffen eine hervorragende Plattform zum Gedanken- und Erfahrungsaustausch.
    <p>
    In den <a href="assets/statuten_v1 0.pdf" target="_blank">Statuten</a> sind Ziel, Zweck und Organisation des Vereins festgelegt.
    Pr&auml;sident ist Nissim Buchs, Vizepr&auml;sident ist Andreas Grütter. Daniel K&uuml;hni ist als Kassier tätig und Baltisar Oswald als Beisitzer.<br>
    Als Revisor wurde Karl Guggisberg gew&auml;hlt.
    <p>
    Das Berner Architekten-Treffen wird durch die freundliche Unterst&uuml;tzungtzung folgender Firmen und Organisationen als kostenlose Veranstaltung erm&ouml;glicht:
    <p>&nbsp;</p>
    <div class="clr-row clr-align-items-center clr-justify-content-around">
    <div class="card-img col-md-4 col-lg-3">
      <a href="http://www.bls.ch" target="_blank">
        <img src="assets/bilder/logo-bls.jpg" alt="BLS AG" />
      </a>
    </div>
    <div class="card-img col-md-4 col-lg-3">
      <a href="http://www.isc-ejpd.admin.ch" target="_blank">
        <img src="assets/bilder/logo-isc.jpg" alt="ISC-EJPD"/>
      </a>
    </div>
    <div class="card-img col-md-4 col-lg-3">
      <a href="http://www.mobi.ch" target="_blank">
        <img src="assets/bilder/logo-mobi.jpg" alt="Die Mobiliar"/>
      </a>
    </div>
    <div class="card-img col-md-4 col-lg-3">
      <a href="http://www.postfinance.ch" target="_blank">
        <img src="assets/bilder/logo-pf.jpg" alt="PostFinance"/>
      </a>
    </div>
    <div class="card-img col-md-4 col-lg-3">
      <a href="http://www.sbb.ch" target="_blank">
        <img src="assets/bilder/logo-sbb.jpg" alt="SBB CFS FFS"/>
      </a>
    </div>
    <div class="card-img col-md-4 col-lg-3">
      <a href="http://www.swisscom.ch" target="_blank">
        <img src="assets/bilder/logo-swisscom.jpg" alt="Swisscom"/>
      </a>
    </div>
  </div>
</div>
