<div class="card bigcard">
  <div class="card-header">
    Anmeldung
  </div>
  <div class="card-block">
    <div class="card-text">
      Die Ausschreibung und Anmeldung erfolgt neu über <b>Meetup</b>: 
      <a target="_blank" href="https://www.meetup.com/de-DE/BATBern/events/">Alle Events von BATBern</a>
    </div>
    <div class="card-text">
      Das nächste BAT findet als Abend-BAT Forum am 8. März 2019 statt: 
      <a target="_blank" href="https://www.meetup.com/de-DE/BATBern/events/">Link auf Meetup</a>
    </div>
  </div>
</div>