  <div class="card bigcard">
    <div class="card-header">
      Infos zum nächsten BATbern42 vom 8. März 2019
    </div>
    <div class="card-block">
      <div class="card-text">
        Das nächste BATbern findet als Abend-BAT wie folgt statt
        <table border="0" cellspacing="2" cellpadding="2" style="margin-left:25px">
          <tr>
            <td>Datum:</td>
            <td><b>Freitag, 8. März 2019</b>, 16:00&minus;18:30 Uhr, anschl. Apéro</td>
          </tr>
          <tr>
            <td>Thema:</td>
            <td><b>noch offen</b></td>
          </tr>
          <tr>
            <td>Ort:</td>
            <td>Forum, Zentrum Paul Klee, Bern (<a href="http://www.zpk.org/de/footer/kontakt-247.html" target="_blank">Anfahrt</a>)</td>
          </tr>			
        </table>
      </div>
      <app-anmeldung></app-anmeldung>
    </div>

    <div class="card-block">
      <div class="card-title">
        Beiträge letztes BATbern41 vom 9. November 2018
      </div>
      <div class="card-text">
        Seit einigen Jahren implementieren Unternehmen Microservices in der Breite und setzen APIs für den Zugriff auf ihre Softwaresysteme ein.
        Wir wollen wissen wo die Unternehmen aktuell stehen, welche Learnings gemacht wurden und was die n&auml;chsten Schritte sind.
      </div>
        <div class="card-text">
          Folgende Beiträge wurden vorgestellt:
        <table border="0" cellspacing="2" cellpadding="2" style="margin-left:25px">
          <tr>
            <td><b>Pascal Auderset, Die Mobiliar</b></td>
            <td><b>Die Evolution zu Microservices</b></td>
          </tr>
          <tr>
            <td><b>Gion Sialm, BIT</b></td>
            <td><b>SOA vs. Microservices oder SOA & Microservices?</b></td>
          </tr>
          <tr>
            <td><b>Florian Seidl, SBB CFF FFS</b></td>
            <td><b>«Microservices@Enterprise»</b></td>
          </tr>
        </table>
      </div>

      Das detaillierte Programm befindet sich im Flyer: 
      <a target="_blank" href="http://www.berner-architekten-treffen.ch/archiv/41/BAT41_Programmheft.pdf">
        <img src="assets/bilder/pdf.png">
      </a>
    </div>

    <div class="card-block">
      <div class="card-title">
        BAT-Termine 2019:
      </div>
      Damit Sie sich bereits die Termine der n&auml;chsten Treffen reservieren k&ouml;nnen:<br>
      <table border="0" cellspacing="2" cellpadding="2" style="margin-left:25px">
        <tr>
          <td>BAT42:</td><td>Freitag, 08.03.2019</td><td><i>Thema offen</i></td><td>Abend-BAT</td>
        </tr>
        <tr>
          <td>BAT43:</td><td>Freitag, 28.06.2019</td><td><i>Thema offen</i></td><td>Ganztägiges BAT Forum</td>
        </tr>
        <tr>
          <td>BAT44:</td><td>Freitag, 01.11.2019</td><td><i>Thema offen</i></td><td>Abend-BAT</td>
        </tr>
      </table>

      <p>Die Themen sind noch nicht fix definiet. Wir freuen uns auf Beitr&auml;ge zu diesen Themen. 
      Bitte Vorschl&auml;ge einfach an <a href="mailto:info@berner-architekten-treffen.ch">info@berner-architekten-treffen.ch</a> mailen.
    </div>
</div>