<section (window:resize)="onResize($event)">
  <div [ngStyle]="{'height':calculateHeight()}" id="top" class="fill-screen title-row" style="background-image: url('assets/bilder/zpk_night_left.jpg')">

    <img class="img-fluid title-img" src="assets/bilder/BATbern_color_logo_transparent.png">

    <div class="down-btn">
      <a class="btn" href="#aktuell">
        <cds-icon shape="angle-double" dir="down" size="64"></cds-icon>
      </a>
    </div>
  </div>

  <div class="card" id="aktuell">
    <div class="card-header">
      Infos zum nächsten BATbern{{currentTopic.bat}} vom {{currentTopic.datum}}
    </div>
    <div class="card-block">
      <div class="card-text">
        Das nächste BATbern{{currentTopic.bat}} findet wie folgt statt
        <table border="0" cellspacing="2" cellpadding="2" style="margin-left:25px">
          <tr>
            <td>Datum:</td>
            <td><b>{{currentTopic.datum}}</b></td>
          </tr>
          <tr>
            <td>Thema:</td>
            <td><b>{{currentTopic.topic}}</b></td>
          </tr>
          <tr>
            <td>Ort:</td>
            <td>Forum, Zentrum Paul Klee, Bern (<a href="http://www.zpk.org/de/footer/kontakt-247.html" target="_blank">Anfahrt</a>)</td>
          </tr>
        </table>
      <app-archiv-overview [bat]=currentTopic.bat></app-archiv-overview>
      </div>
    </div>

    <app-archiv-detail [bat]=currentTopic.bat></app-archiv-detail>

    <div [ngStyle]="{'height':calculateHeight()}" class="fill-screen fixed-attachement" style="background-image: url('assets/bilder/bat_forum_beitrag.jpg')">
    </div>

    <app-anmeldung id="anmeldung"></app-anmeldung>

    <div class="card">
      <div class="card-header">
        BAT-Termine:
      </div>
      <div class="card-block">
        Damit Sie sich bereits die Termine der n&auml;chsten Treffen reservieren k&ouml;nnen:
      </div>
      <div class="card-block">

        <div class="clr-row">
          <div class="clr-col-lg-4 clr-col-12" *ngFor='let topic of plannedTopics'>
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">#BATbern{{topic.bat}}</h3>
                <p class="card-text">
                  {{topic.topic}}
                </p>
              </div>
              <div class="card-footer">
                {{topic.eventType}} am {{topic.datum}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block">
        Die Themen sind noch nicht fix definiert. Wir freuen uns auf Beitr&auml;ge zu diesen Themen.
        Bitte Vorschl&auml;ge einfach an <a href="mailto:info@berner-architekten-treffen.ch">info@berner-architekten-treffen.ch</a>
        mailen.
      </div>
    </div>

    <div [ngStyle]="{'height':calculateHeight()}" class="fill-screen fixed-attachement" style="background-image: url('assets/bilder/bat_auditorium_voll.jpg')">
    </div>

    <app-verein id="verein"></app-verein>

    <div [ngStyle]="{'height':calculateHeight()}" class="fill-screen fixed-attachement" style="background-image: url('assets/bilder/bat_forum_voll.jpg')">
    </div>

    <app-kontakt id="kontakt"></app-kontakt>

  </div>
</section>