node_modules
dist
coverage
build
.husky
*.min.js
*.min.css
package-lock.json
.env*
.prettierignore
.eslintrc.cjs
.eslintignore
*.ico
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.webp
*.csv
release-notes.txt
web-frontend/public/assets/**/*.pdf
*.pdf
