<div class='card' *ngIf='sessions'>
  <div class='card-header' *ngIf='topic'>
    BATbern{{topic.bat}} zu "{{topic.topic}}" vom {{topic.datum}}
  </div>

  <div class='card-block' *ngFor='let session of sessions'>

      <div *ngIf='session.abstract'>
        <div class="card-title">
          <a href={{getUrl(session)}}>
            {{session.title}}
          </a>
        </div>

        <div class="card-text">
          {{session.abstract}}
        </div>

        <div class="clr-row">
          <div class="clr-col-lg-4 clr-col-12" *ngFor='let referent of session.referenten'>
            <div class="card referent">
              <div class="card-block">
                <div class="card-media-block">
                  <img class="card-media-image portrait-image" src="http://www.berner-architekten-treffen.ch/archiv/{{session.bat}}/{{referent.portrait}}" alt="{{referent.portrait}}">
                  <div class="card-media-description">
                    <span class="card-media-title">
                      {{referent.name}}
                    </span>
                    <span class="card-media-text">
                      <img class="company-image" src="http://www.berner-architekten-treffen.ch/archiv/{{session.bat}}/{{referent.company}}" alt="{{referent.company}}">
                    </span>
                  </div>
                </div>
                <p class="card-text">
                  {{referent.bio}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf='!session.abstract'>
        <div class='col-md-4'>{{session.authoren}}</div>
        <div class='col-md-8'>
          <a href={{getUrl(session)}}>
              {{session.title}}
          </a>
        </div>
      </div>
    </div>
</div>