<div class="card bigcard">
  <div class="card-header">
    Themen
  </div>
  <div class="card-block">
    <div class="card-text">
      Wir planen, die folgenden Themen an einem der nächsten Veranstaltungen zu behandeln,
      sofern sich genügend Interessenten für entsprechende Beiträge finden lassen:
    </div>

    <div class="card-text">
        <ul>
          <li>Moderne Software-Architekturen</li>
          <li>Blockchain</li>
          <li>Bimodale IT</li>
          <li>Neue Kooperationsmodelle</li>
          <li>Innovationsmanagement</li>
          <li>Machine Learning, Machine Vision</li>
          <li>Know-How Retention</li>
          <li>Die Makers-Bewegung</li>
          <li>Echtzeitsysteme in der Unternehmens-IT</li>
        </ul>
    </div>
    <div class="card-text">
      Wir sind an Anregungen und Kommentaren zu diesen und weiteren Themen sehr interessiert.
    </div>
  </div>
</div>