openapi: 3.0.3
info:
  title: BATbern Events API
  version: 1.0.0
  description: |
    Consolidated Events API for BATbern Event Management Platform.

    This API consolidates 130 fragmented endpoints into 25 efficient endpoints using:
    - **Resource Expansion**: `?include=` parameter for sub-resources
    - **Rich Filtering**: JSON filter syntax for complex queries
    - **Pagination**: Standard page/limit parameters
    - **Caching**: Caffeine in-memory cache (15min TTL)

    **Story**: 1.15a.1 - Events API Consolidation

    **Performance Targets**:
    - Event list (no includes): <100ms (P95)
    - Event detail (basic): <150ms (P95)
    - Event detail (all includes): <500ms (P95)
    - Cached response: <50ms (P95)

  contact:
    name: BATbern Platform Team
    email: platform@batbern.ch
  license:
    name: Proprietary

servers:
  - url: https://api.batbern.ch/api/v1
    description: Production
  - url: https://api.staging.batbern.ch/api/v1
    description: Staging
  - url: http://localhost:8080/api/v1
    description: Development

tags:
  - name: Events
    description: Event CRUD and listing operations
  - name: Event Types
    description: Event type configuration management (Story 5.1)
  - name: Event Actions
    description: Event publishing and workflow operations
  - name: Sessions
    description: Event session management
  - name: Registrations
    description: Event registration management
  - name: Analytics
    description: Event analytics and metrics
  - name: Bulk Operations
    description: Batch operations on multiple events
  - name: Topics
    description: Topic management and backlog operations (Story 5.2)
  - name: Speaker Outreach
    description: Speaker outreach tracking and history (Story 5.3)
  - name: Watch
    description: Watch app organizer endpoints (Epic W2)
  - name: Email Templates
    description: Email template management for organizers (Story 10.2)

paths:
  /events/attendance-summary:
    get:
      tags:
        - Analytics
      summary: Get attendance summary per event for a company
      description: |
        Returns per-event attendee counts (total and company-specific).
        Called server-to-server by partner-coordination-service.

        **Story**: 8.1 - Partner Attendance Dashboard (AC1, AC2, AC5, AC6)

        **Authorization**: PARTNER or ORGANIZER role required.
        Data isolation enforced at partner-coordination-service level.
      operationId: getAttendanceSummary
      security:
        - bearerAuth: []
      parameters:
        - name: companyName
          in: query
          required: true
          description: Company identifier (ADR-003 meaningful ID, e.g. 'GoogleZH')
          schema:
            type: string
        - name: fromYear
          in: query
          required: false
          description: "Earliest year to include (default: current year minus 5)"
          schema:
            type: integer
      responses:
        '200':
          description: List of per-event attendance summaries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttendanceSummaryDTO'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden — requires PARTNER or ORGANIZER role

  /events:
    get:
      tags:
        - Events
      summary: List and search events
      description: |
        Retrieve a paginated list of events with optional filtering and sorting.

        **Acceptance Criteria**: AC1

        **Filter Syntax Examples**:
        - Single filter: `{"workflowState":"PUBLISHED"}`
        - Year filter: `{"year":2025}`
        - Text search: `{"title":{"$contains":"Cloud"}}`
        - Date range: `{"date":{"$gte":"2025-01-01T00:00:00Z","$lt":"2026-01-01T00:00:00Z"}}`
        - Multiple filters: `{"workflowState":"PUBLISHED","year":2025}`
        - Search with filter: `{"workflowState":"PUBLISHED","title":{"$contains":"Cloud"}}`
        - Logical operators: `{"$or":[{"workflowState":"PUBLISHED"},{"workflowState":"ARCHIVED"}]}`
        - In operator: `{"workflowState":{"$in":["PUBLISHED","ARCHIVED"]}}`

        **Supported Filter Fields**:
        - `year`: Integer (convenience filter, matches events from Jan 1 - Dec 31 of given year)
        - `date`: ISO 8601 timestamp (supports $gte, $lte, $gt, $lt operators for date ranges)
        - `workflowState`: String (single workflow state) or use `$in` operator for multiple states
        - `eventNumber`: Integer (event number)
        - `title`: String (supports $contains, $startsWith, $endsWith operators for text search)

        **Sort Syntax**:
        - Ascending: `date`
        - Descending: `-date`

        **Performance**: <100ms (P95)

      operationId: listEvents
      parameters:
        - name: filter
          in: query
          description: JSON filter criteria
          required: false
          schema:
            type: string
            example: '{"workflowState":"PUBLISHED","year":2025}'
        - name: sort
          in: query
          description: Sort field (prefix with - for descending)
          required: false
          schema:
            type: string
            example: '-date'
        - name: page
          in: query
          description: Page number (0-indexed)
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Items per page (max 100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: include
          in: query
          description: Comma-separated list of resources to include
          required: false
          schema:
            type: string
            example: 'venue,sessions'
      responses:
        '200':
          description: Successful response with paginated events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  pagination:
                    $ref: '#/components/schemas/PaginationMetadata'
              examples:
                basicList:
                  summary: Basic event list
                  value:
                    data:
                      - eventCode: BATbern142
                        title: Spring Conference 2025
                        eventNumber: 142
                        date: 2025-05-15T09:00:00Z
                        registrationDeadline: 2025-05-01T23:59:59Z
                        venueName: Kursaal Bern
                        venueAddress: Kornhausstrasse 3, 3013 Bern
                        venueCapacity: 200
                        workflowState: PUBLISHED
                        organizerUsername: john.doe
                        currentAttendeeCount: 187
                        description: Cloud Native Architecture
                    pagination:
                      page: 0
                      limit: 20
                      totalItems: 1
                      totalPages: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Events
      summary: Create a new event
      description: |
        Create a new event with complete event data.

        **Acceptance Criteria**: AC3

        **Performance**: <200ms (P95)

      operationId: createEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
            examples:
              basicEvent:
                summary: Basic event creation
                value:
                  title: Summer Workshop 2025
                  eventNumber: 143
                  date: 2025-07-20T09:00:00Z
                  registrationDeadline: 2025-07-10T23:59:59Z
                  venueName: Kursaal Bern
                  venueAddress: Kornhausstrasse 3, 3013 Bern
                  venueCapacity: 150
                  workflowState: CREATED
                  organizerUsername: john.doe
                  currentAttendeeCount: 0
                  description: AI/ML in Production
      responses:
        '201':
          description: Event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - Bulk Operations
      summary: Batch update multiple events
      description: |
        Update multiple events in a single request.

        **Acceptance Criteria**: AC14

        **Performance**: <1000ms for 50 events (P95)

      operationId: batchUpdateEvents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateRequest'
      responses:
        '200':
          description: Batch update completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/current:
    get:
      tags:
        - Events
      summary: Get current published event
      description: |
        Retrieve the next upcoming published event for the public website.

        **Story**: 4.1.3 - Public event landing page hero section
        **Public Access**: No authentication required

        Returns the earliest published event by date (next upcoming event).
        If no published events exist, returns 404.

        **Performance**: <150ms (P95)

      operationId: getCurrentEvent
      parameters:
        - name: include
          in: query
          description: Comma-separated list of resources to expand (topics,venue,sessions)
          required: false
          schema:
            type: string
            example: 'topics,venue,sessions'
      responses:
        '200':
          description: Current event retrieved successfully
          headers:
            X-Cache-Status:
              description: Cache hit/miss indicator
              schema:
                type: string
                enum: [HIT, MISS]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetail'
              example:
                eventCode: BATbern57
                title: Cloud-Native Architecture in Practice
                eventNumber: 57
                workflowState: PUBLISHED
                description: Join us for an evening exploring modern cloud-native architecture patterns and best practices.
                date: '2025-03-15T18:00:00Z'
                registrationDeadline: '2025-03-10T23:59:59Z'
                venueName: Bern TechHub
                venueAddress: Waisenhausplatz 30, 3014 Bern
                venueCapacity: 120
                organizerUsername: john.doe
                currentAttendeeCount: 87
                publishedAt: '2025-02-01T10:00:00Z'
                venue:
                  id: venue-001
                  name: Bern TechHub
                  capacity: 120
                  address: Waisenhausplatz 30, 3014 Bern
                topics:
                  - id: topic-1
                    name: Microservices
                    color: blue
                  - id: topic-2
                    name: Kubernetes
                    color: cyan
        '404':
          description: No current published event found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
              example:
                error: Not Found
                message: No current published event available
                timestamp: '2025-03-15T12:00:00Z'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}:
    get:
      tags:
        - Events
      summary: Get event details
      description: |
        Retrieve detailed information about a specific event with optional resource expansion.

        **Acceptance Criteria**: AC2
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Include Options**:
        - `venue`: Venue details with address and capacity
        - `sessions`: Event sessions with schedule (speakers included in sessions)
        - `topics`: Event topics and categories
        - `workflow`: Workflow state and history
        - `registrations`: Registration counts and status
        - `catering`: Catering arrangements
        - `team`: Team assignments
        - `publishing`: Publishing details
        - `notifications`: Notification settings
        - `analytics`: Event analytics and metrics

        **Performance**:
        - Basic (no includes): <150ms (P95)
        - All includes: <500ms (P95)
        - Cached: <50ms (P95)

        **Caching**: 15-minute TTL with automatic invalidation on updates

      operationId: getEvent
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: include
          in: query
          description: Comma-separated list of resources to include
          required: false
          schema:
            type: string
            example: 'venue,sessions,workflow'
      responses:
        '200':
          description: Event details retrieved successfully
          headers:
            X-Cache-Status:
              description: Cache hit status (HIT or MISS)
              schema:
                type: string
                enum: [HIT, MISS]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetail'
              examples:
                basicEvent:
                  summary: Basic event (no includes)
                  value:
                    eventCode: BATbern142
                    title: Spring Conference 2025
                    eventNumber: 142
                    date: 2025-05-15T09:00:00Z
                    registrationDeadline: 2025-05-01T23:59:59Z
                    venueName: Kursaal Bern
                    venueAddress: Kornhausstrasse 3, 3013 Bern
                    venueCapacity: 500
                    workflowState: PUBLISHED
                    organizerUsername: john.doe
                    currentAttendeeCount: 187
                    description: Cloud Native Architecture
                expandedEvent:
                  summary: Event with venue
                  value:
                    eventCode: BATbern142
                    title: Spring Conference 2025
                    eventNumber: 142
                    date: 2025-05-15T09:00:00Z
                    registrationDeadline: 2025-05-01T23:59:59Z
                    venueName: Kursaal Bern
                    venueAddress: Kornhausstrasse 3, 3013 Bern
                    venueCapacity: 500
                    workflowState: PUBLISHED
                    organizerUsername: john.doe
                    currentAttendeeCount: 187
                    description: Cloud Native Architecture
                    venue:
                      id: ven-001
                      name: Kursaal Bern
                      address: Kornhausstrasse 3, 3013 Bern
                      capacity: 500
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags:
        - Events
      summary: Update event (full replacement)
      description: |
        Replace all event data with new data.

        **Acceptance Criteria**: AC4
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Cache Invalidation**: All event caches cleared on update

      operationId: updateEvent
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEventRequest'
      responses:
        '200':
          description: Event updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - Events
      summary: Partially update event
      description: |
        Update specific fields of an event without replacing all data.

        **Acceptance Criteria**: AC5
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Cache Invalidation**: All event caches cleared on update

      operationId: patchEvent
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchEventRequest'
            examples:
              updateTitle:
                summary: Update only title
                value:
                  title: Spring Conference 2025 - Updated
      responses:
        '200':
          description: Event patched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Events
      summary: Delete event
      description: |
        Delete an event and all associated data.

        **Acceptance Criteria**: AC6
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Cascade Deletion**: Deletes all sessions, registrations, and related data
        **Cache Invalidation**: All event caches cleared on deletion

      operationId: deleteEvent
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      responses:
        '204':
          description: Event deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/publish:
    post:
      tags:
        - Event Actions
      summary: Publish event
      description: |
        Publish an event after validation checks.

        **Acceptance Criteria**: AC7
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Validation Rules**:
        - Event must have a date
        - Event must have a title
        - Event must be in draft status

        **Cache Invalidation**: All event caches cleared on publish

      operationId: publishEvent
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      responses:
        '200':
          description: Event published successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/workflow/advance:
    post:
      tags:
        - Event Actions
      summary: Advance workflow to next state
      description: |
        Advance event workflow to the next state in the state machine.

        **Acceptance Criteria**: AC8
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Workflow States**:
        1. draft → planning
        2. planning → ready
        3. ready → published
        4. published → completed

        **Invalid Transitions**: archived events cannot advance workflow

        **Cache Invalidation**: All event caches cleared on workflow advance

      operationId: advanceWorkflow
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      responses:
        '200':
          description: Workflow advanced successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/workflow/transition:
    put:
      tags:
        - Event Actions
      summary: Transition event to target workflow state
      description: |
        Transition an event to a specific target workflow state.

        **Story**: 5.1a - Workflow State Machine Foundation
        **Acceptance Criteria**: AC12
        **Authorization**: Requires ORGANIZER role
        **Rate Limiting**: 10 transitions per minute per user (API Gateway)
        **Performance**: <200ms (P95)

        **16-Step Workflow**:
        1. CREATED - Initial state
        2. TOPIC_SELECTION - Topics being selected
        3. SPEAKER_BRAINSTORMING - Identifying potential speakers
        4. SPEAKER_OUTREACH - Contacting speakers
        5. SPEAKER_CONFIRMATION - Confirming speaker participation
        6. CONTENT_COLLECTION - Collecting presentations and materials
        7. QUALITY_REVIEW - Reviewing content quality
        8. THRESHOLD_CHECK - Checking minimum speaker threshold
        9. OVERFLOW_MANAGEMENT - Managing speaker overflow
        10. SLOT_ASSIGNMENT - Assigning speakers to time slots
        11. AGENDA_PUBLISHED - Publishing agenda
        12. AGENDA_FINALIZED - Finalizing agenda
        13. NEWSLETTER_SENT - Newsletter sent to attendees
        14. EVENT_READY - Event ready to start
        15. PARTNER_MEETING_COMPLETE - Partner meetings completed
        16. ARCHIVED - Event archived

        **Validation**:
        - Some transitions require business rule validation (e.g., minimum speakers for SPEAKER_OUTREACH)
        - Invalid transitions return 400 Bad Request
        - Validation failures return 422 Unprocessable Entity

        **Cache Invalidation**: All event caches cleared on state transition

      operationId: transitionEventWorkflowState
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransitionStateRequest'
            examples:
              validTransition:
                summary: Valid transition from CREATED to TOPIC_SELECTION
                value:
                  targetState: TOPIC_SELECTION
      responses:
        '200':
          description: Workflow transition successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventCode:
                    type: string
                    example: BATbern142
                  workflowState:
                    type: string
                    example: TOPIC_SELECTION
                  updatedAt:
                    type: string
                    format: date-time
        '400':
          description: Invalid state transition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidTransition:
                  summary: Invalid transition (e.g., CREATED → ARCHIVED)
                  value:
                    timestamp: "2025-12-11T10:00:00Z"
                    path: "/api/v1/events/BATbern142/workflow/transition"
                    status: 400
                    error: "Bad Request"
                    message: "Invalid transition from CREATED to ARCHIVED"
                    correlationId: "abc-123-def"
                    severity: "MEDIUM"
                    details:
                      fromState: CREATED
                      toState: ARCHIVED
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation failure (business rules not met)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                insufficientSpeakers:
                  summary: Insufficient speakers for transition
                  value:
                    timestamp: "2025-12-11T10:00:00Z"
                    path: "/api/v1/events/BATbern142/workflow/transition"
                    status: 422
                    error: "Unprocessable Entity"
                    message: "Insufficient speakers identified"
                    correlationId: "abc-123-def"
                    severity: "HIGH"
                    details:
                      required: 6
                      identified: 3
                      placeholder: true
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /events/{eventCode}/workflow/status:
    get:
      tags:
        - Event Actions
      summary: Get current workflow status
      description: |
        Retrieve the current workflow status including current state, next available states,
        and validation messages.

        **Story**: 5.1a - Workflow State Machine Foundation
        **Acceptance Criteria**: AC13
        **Authorization**: Requires authentication (any authenticated user)
        **Rate Limiting**: Applied at API Gateway level

        **Response includes**:
        - Current workflow state
        - Next available states (states that can be transitioned to)
        - Blocked transitions (states that cannot be transitioned to due to business rules)
        - Validation messages (reasons why certain transitions are blocked)

        **Performance**: <100ms (P95)

      operationId: getWorkflowStatus
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      responses:
        '200':
          description: Workflow status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowStatusDto'
              examples:
                createdState:
                  summary: Event in CREATED state
                  value:
                    currentState: CREATED
                    nextAvailableStates:
                      - TOPIC_SELECTION
                    blockedTransitions: []
                    validationMessages: []
                speakerBrainstormingState:
                  summary: Event in SPEAKER_BRAINSTORMING state with validation blocker
                  value:
                    currentState: SPEAKER_BRAINSTORMING
                    nextAvailableStates:
                      - SPEAKER_OUTREACH
                    blockedTransitions:
                      - SPEAKER_OUTREACH
                    validationMessages:
                      - "Cannot transition to SPEAKER_OUTREACH: Insufficient speakers identified"
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /events/{eventCode}/topics:
    post:
      tags:
        - Event Actions
      summary: Select topic for event
      description: |
        Assign a topic to an event and transition workflow state to TOPIC_SELECTION.

        **Story**: 5.2 - Topic Selection & Speaker Brainstorming
        **Acceptance Criteria**: AC14
        **Authorization**: Requires ORGANIZER role
        **Rate Limiting**: Applied at API Gateway level

        **Workflow State Transition**:
        - Valid source states: CREATED, TOPIC_SELECTION
        - Target state: TOPIC_SELECTION
        - Publishes EventWorkflowTransitionEvent domain event

        **Business Rules**:
        - Event must exist
        - Topic must exist in topic backlog
        - Event must be in CREATED or TOPIC_SELECTION state
        - Organizer can change topic while in TOPIC_SELECTION state

        **Performance**: <200ms (P95)

      operationId: selectTopicForEvent
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern56
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - topicId
              properties:
                topicId:
                  type: string
                  format: uuid
                  description: UUID of the topic to assign
                  example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Topic selected successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventCode:
                    type: string
                    example: BATbern56
                  topicId:
                    type: string
                    format: uuid
                    example: 123e4567-e89b-12d3-a456-426614174000
                  workflowState:
                    type: string
                    enum: [TOPIC_SELECTION]
                    example: TOPIC_SELECTION
                  message:
                    type: string
                    example: Topic selected successfully
        '400':
          description: Invalid state transition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: "Invalid state transition"
                timestamp: "2025-12-13T10:00:00Z"
                path: "/api/v1/events/BATbern56/topics"
                status: 400
                error: "Bad Request"
        '404':
          description: Event or topic not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: "Event not found: BATbern56"
                timestamp: "2025-12-13T10:00:00Z"
                path: "/api/v1/events/BATbern56/topics"
                status: 404
                error: "Not Found"
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /events/{eventCode}/speakers/pool:
    post:
      tags:
        - Event Actions
      summary: Add speaker to event speaker pool
      description: |
        Add a potential speaker to the event speaker pool during brainstorming phase.

        **Story**: 5.2 - Topic Selection & Speaker Brainstorming
        **Acceptance Criteria**: AC9-13
        **Authorization**: Requires ORGANIZER role
        **Rate Limiting**: Applied at API Gateway level

        **Business Rules**:
        - Event must exist
        - Speaker name is required
        - Company, expertise, and notes are optional
        - Organizer assignment is optional (can be assigned later)
        - Initial status is automatically set to 'identified'

        **Performance**: <150ms (P95)

      operationId: addSpeakerToPool
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern56
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddSpeakerToPoolRequest'
      responses:
        '201':
          description: Speaker added to pool successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerPoolResponse'
        '400':
          description: Validation error (e.g., speaker name missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: "Speaker name is required"
                timestamp: "2025-12-13T10:00:00Z"
                path: "/api/v1/events/BATbern56/speakers/pool"
                status: 400
                error: "Bad Request"
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: "Event not found: BATbern56"
                timestamp: "2025-12-13T10:00:00Z"
                path: "/api/v1/events/BATbern56/speakers/pool"
                status: 404
                error: "Not Found"
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

    get:
      tags:
        - Event Actions
      summary: Get speaker pool for event
      description: |
        Retrieve all speakers in the event's speaker pool.

        **Story**: 5.2 - Topic Selection & Speaker Brainstorming
        **Authorization**: Requires ORGANIZER role
        **Rate Limiting**: Applied at API Gateway level

        **Performance**: <150ms (P95)

      operationId: getSpeakerPool
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern56
      responses:
        '200':
          description: Speaker pool retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpeakerPoolResponse'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /events/{eventCode}/speakers/pool/{speakerId}:
    delete:
      tags:
        - Event Actions
      summary: Delete speaker from event pool
      description: |
        Remove a speaker from the event's speaker pool.

        **Authorization**: Requires ORGANIZER role
        **Rate Limiting**: Applied at API Gateway level

        **Business Rules**:
        - Event must exist
        - Speaker must exist in the pool
        - Can only delete speakers in IDENTIFIED or CONTACTED status

        **Performance**: <150ms (P95)

      operationId: deleteSpeakerFromPool
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern56
        - name: speakerId
          in: path
          description: UUID of the speaker in the speaker pool
          required: true
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '204':
          description: Speaker deleted successfully
        '404':
          description: Event or speaker not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /events/{eventCode}/speakers/invite:
    post:
      tags:
        - Speaker Invitation
      summary: Invite a speaker to an event
      description: |
        Create a SpeakerPool entry for a speaker and optionally auto-create
        a User account if one doesn't exist.

        **Story**: 6.1b - Speaker Invitation System
        **Acceptance Criteria**: AC1 (invite), AC2 (auto-create user), AC7 (idempotency)
        **Authorization**: Requires ORGANIZER role

        **Business Rules**:
        - If the speaker email already exists in the pool for this event, returns existing entry (idempotent)
        - Auto-creates a User via UserApiClient if no user exists for the email
        - Speaker starts in IDENTIFIED status
        - Cognito account is NOT created for speakers initially

        **Performance**: <300ms (P95)

      operationId: inviteSpeaker
      parameters:
        - name: eventCode
          in: path
          description: Event code
          required: true
          schema:
            type: string
            example: batbern-2026-spring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteSpeakerRequest'
      responses:
        '201':
          description: Speaker invited successfully (new entry created)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteSpeakerResponse'
        '200':
          description: Speaker already exists in pool (idempotent return)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteSpeakerResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - BearerAuth: []

  /events/{eventCode}/speakers/invite-batch:
    post:
      tags:
        - Speaker Invitation
      summary: Batch invite speakers to an event
      description: |
        Invite multiple speakers in a single request with partial failure support.

        **Story**: 6.1b - Speaker Invitation System
        **Acceptance Criteria**: AC5 (batch)
        **Authorization**: Requires ORGANIZER role

        **Business Rules**:
        - Maximum 50 speakers per batch
        - Processing continues even if individual invitations fail
        - Returns 207 Multi-Status when some succeed and some fail

        **Performance**: <2000ms (P95) for 50 speakers

      operationId: inviteSpeakerBatch
      parameters:
        - name: eventCode
          in: path
          description: Event code
          required: true
          schema:
            type: string
            example: batbern-2026-spring
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInviteRequest'
      responses:
        '200':
          description: All invitations processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchInviteResponse'
        '207':
          description: Partial success - some invitations failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchInviteResponse'
        '400':
          description: Validation error (e.g., empty speakers list)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - BearerAuth: []

  /events/{eventCode}/speakers/{username}/send-invitation:
    post:
      tags:
        - Speaker Invitation
      summary: Send invitation email to a speaker
      description: |
        Send or resend a personalized invitation email with magic links for
        accept/decline and a dashboard access link.

        **Story**: 6.1b - Speaker Invitation System
        **Acceptance Criteria**: AC3 (email), AC4 (i18n), AC6 (domain events)
        **Authorization**: Requires ORGANIZER role

        **Business Rules**:
        - Speaker must exist in the pool for this event
        - Transitions speaker status to INVITED
        - Generates two magic link tokens:
          - RESPOND token (single-use) for accept/decline
          - VIEW token (reusable, 30-day expiry) for dashboard access
        - Publishes SpeakerInvitationSentEvent domain event
        - Records outreach history and status transition history
        - Email sent asynchronously; failure does not block the response

        **Performance**: <300ms (P95)

      operationId: sendSpeakerInvitation
      parameters:
        - name: eventCode
          in: path
          description: Event code
          required: true
          schema:
            type: string
            example: batbern-2026-spring
        - name: username
          in: path
          description: Speaker's username or UUID (for brainstormed speakers)
          required: true
          schema:
            type: string
            example: john.doe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendInvitationRequest'
      responses:
        '200':
          description: Invitation sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendInvitationResponse'
        '400':
          description: Validation error (e.g., missing email, invalid deadlines)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Event or speaker not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
      security:
        - BearerAuth: []

  /events/{eventCode}/speakers/{speakerId}/outreach:
    post:
      tags:
        - Speaker Outreach
      summary: Record speaker outreach attempt
      description: |
        Record a contact attempt with a potential speaker during outreach phase.

        **Story**: 5.3 - Speaker Outreach Tracking
        **Acceptance Criteria**: AC1-4
        **Authorization**: Requires ORGANIZER role
        **Rate Limiting**: Applied at API Gateway level

        **Business Rules**:
        - Speaker must exist in speaker pool
        - Speaker must be in IDENTIFIED, CONTACTED, or READY state
        - Contact method must be email, phone, or in_person
        - Automatically transitions speaker from IDENTIFIED → CONTACTED on first outreach
        - Subsequent outreach attempts are logged without status change
        - Organizer username is captured from authentication context

        **State Transitions**:
        - IDENTIFIED → CONTACTED (first outreach)
        - CONTACTED → CONTACTED (additional outreach)
        - READY → READY (follow-up outreach)

        **Performance**: <200ms (P95)

      operationId: recordSpeakerOutreach
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern56
        - name: speakerId
          in: path
          description: UUID of the speaker in the speaker pool
          required: true
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordOutreachRequest'
      responses:
        '201':
          description: Outreach attempt recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutreachHistoryResponse'
        '400':
          description: Validation error (e.g., invalid contact method)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: "Invalid contact method: sms. Must be one of: email, phone, in_person"
                timestamp: "2025-12-14T10:00:00Z"
                path: "/api/v1/events/BATbern56/speakers/550e8400-e29b-41d4-a716-446655440000/outreach"
                status: 400
                error: "Bad Request"
        '404':
          description: Speaker or event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: "Speaker not found: 550e8400-e29b-41d4-a716-446655440000"
                timestamp: "2025-12-14T10:00:00Z"
                path: "/api/v1/events/BATbern56/speakers/550e8400-e29b-41d4-a716-446655440000/outreach"
                status: 404
                error: "Not Found"
        '409':
          description: Invalid state transition (speaker not in valid state for outreach)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: "Cannot record outreach for speaker 550e8400-e29b-41d4-a716-446655440000 in state DECLINED. Speaker must be in IDENTIFIED, CONTACTED, or READY state."
                timestamp: "2025-12-14T10:00:00Z"
                path: "/api/v1/events/BATbern56/speakers/550e8400-e29b-41d4-a716-446655440000/outreach"
                status: 409
                error: "Conflict"
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

    get:
      tags:
        - Speaker Outreach
      summary: Get speaker outreach history
      description: |
        Retrieve all outreach attempts for a speaker, ordered by most recent first.

        **Story**: 5.3 - Speaker Outreach Tracking
        **Acceptance Criteria**: AC6
        **Authorization**: Requires ORGANIZER role
        **Rate Limiting**: Applied at API Gateway level

        **Response**:
        - Returns chronological history of all contact attempts
        - Includes contact method, date, notes, and organizer
        - Ordered by contact date descending (most recent first)

        **Performance**: <150ms (P95)

      operationId: getSpeakerOutreachHistory
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern56
        - name: speakerId
          in: path
          description: UUID of the speaker in the speaker pool
          required: true
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Outreach history retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OutreachHistoryResponse'
        '404':
          description: Speaker or event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                message: "Speaker not found: 550e8400-e29b-41d4-a716-446655440000"
                timestamp: "2025-12-14T10:00:00Z"
                path: "/api/v1/events/BATbern56/speakers/550e8400-e29b-41d4-a716-446655440000/outreach"
                status: 404
                error: "Not Found"
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /events/{eventCode}/sessions:
    get:
      tags:
        - Sessions
      summary: List event sessions
      description: |
        Retrieve all sessions for a specific event with optional filtering.

        **Acceptance Criteria**: AC9
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Filter Examples**:
        - By type: `{"type":"keynote"}`
        - By time range: `{"startTime":{"$gte":"2025-05-15T09:00:00Z"}}`

      operationId: listSessions
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: filter
          in: query
          description: JSON filter criteria
          required: false
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Sessions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Session'
                  pagination:
                    $ref: '#/components/schemas/PaginationMetadata'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Sessions
      summary: Create session
      description: |
        Create a new session for the event.

        **Acceptance Criteria**: AC10
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

      operationId: createSession
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        '201':
          description: Session created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/timetable:
    get:
      tags:
        - Sessions
      summary: Get the authoritative timetable for an event
      description: |
        Returns the complete chronological slot grid for the event, including both
        structural slots (MODERATION, BREAK, LUNCH) and droppable speaker slots
        (SPEAKER_SLOT).  Structural slots are enriched with DB session slugs when
        structural sessions have been generated.  Speaker slots show which speaker
        session (if any) has been assigned to each position.

        This endpoint is the single source of truth for the slot-assignment UI —
        both the grid display and the auto-assign algorithm use these positions.

        **Access**: ORGANIZER role required.
      operationId: getEventTimetable
      security:
        - BearerAuth: []
      parameters:
        - name: eventCode
          in: path
          required: true
          schema:
            type: string
          example: BATbern142
      responses:
        '200':
          description: Timetable successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimetableResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /events/{eventCode}/sessions/structural:
    post:
      tags:
        - Sessions
        - Organizer
      summary: Generate structural sessions for an event
      description: |
        Generates structural sessions (moderation start, breaks, lunch, moderation end)
        with computed start/end times based on the event type configuration.

        The organizer is automatically assigned as MODERATOR on both moderation sessions.

        **Requires ORGANIZER role.**

        If `overwrite=false` (default) and structural sessions already exist, returns 409.
        If `overwrite=true`, deletes existing structural sessions and recreates them.
      operationId: generateStructuralSessions
      security:
        - BearerAuth: []
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateStructuralSessionsRequest'
      responses:
        '201':
          description: Structural sessions created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SessionResponse'
        '409':
          description: Structural sessions already exist (use overwrite=true to replace)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /events/{eventCode}/sessions/batch-import:
    post:
      tags:
        - Sessions
        - Bulk Operations
      summary: Batch import sessions from legacy JSON
      description: |
        Import multiple sessions from sessions.json with speaker assignments.

        **Features**:
        - Duplicate detection by (event_id, title)
        - Automatic speaker assignment via speakerId → username matching
        - Sequential 45-minute time slot calculation
        - Graceful error handling for missing speakers

        **Note**: This endpoint is designed for historical data migration from
        the legacy BATspa application. For normal session creation, use the
        POST /events/{eventCode}/sessions endpoint.

      operationId: batchImportSessions
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/BatchImportSessionRequest'
            example:
              - bat: 142
                title: "User Interface Design"
                abstract: "Discussion on modern UI patterns"
                pdf: "BAT142_UI_Design.pdf"
                referenten:
                  - name: "Thomas Goetz, Die Mobiliar"
                    bio: "Expert in UI design"
                    company: "mobiliar"
                    portrait: "thomas.goetz.jpg"
                    speakerId: "thomas.goetz"
      responses:
        '200':
          description: Import completed (may include skipped/failed sessions)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchImportSessionResult'
              example:
                totalProcessed: 3
                successfullyCreated: 2
                skipped: 1
                failed: 0
                details:
                  - title: "User Interface Design"
                    status: "success"
                    message: "Session created successfully"
                    sessionSlug: "user-interface-design-abc123"
                  - title: "Backend Architecture"
                    status: "skipped"
                    message: "Session already exists with title 'Backend Architecture'"
                  - title: "Database Design"
                    status: "success"
                    message: "Session created successfully"
                    sessionSlug: "database-design-def456"
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /events/{eventCode}/sessions/{sessionSlug}:
    get:
      tags:
        - Sessions
      summary: Get session details
      description: |
        Retrieve detailed information about a specific session including speakers.

        **Story**: 1.15a.1b - Session-User Many-to-Many Relationship
        **Story**: 4.1.3 - Public event discovery endpoints

        Returns session information including:
        - Session details (title, description, time, room)
        - Speaker list with enriched User data
        - Confirmation status for each speaker

        **Public Endpoint**: No authentication required for GET requests
      operationId: getSession
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: sessionSlug
          in: path
          description: URL-friendly slug generated from session title
          required: true
          schema:
            type: string
            pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
            example: opening-keynote
        - name: expand
          in: query
          description: Optional expand parameter (currently speakers are always included)
          required: false
          schema:
            type: string
            example: 'speakers'
      responses:
        '200':
          description: Session details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags:
        - Sessions
      summary: Update session
      description: |
        Update an existing session.

        **Acceptance Criteria**: AC10
        **Story**: 1.16.2 - Uses eventCode and sessionSlug (meaningful IDs) instead of UUIDs

      operationId: updateSession
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: sessionSlug
          in: path
          description: URL-friendly slug generated from session title
          required: true
          schema:
            type: string
            pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
            example: keynote-opening-session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSessionRequest'
      responses:
        '200':
          description: Session updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Sessions
      summary: Delete session
      description: |
        Delete a session from the event.

        **Acceptance Criteria**: AC10
        **Story**: 1.16.2 - Uses eventCode and sessionSlug (meaningful IDs) instead of UUIDs

      operationId: deleteSession
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: sessionSlug
          in: path
          description: URL-friendly slug generated from session title
          required: true
          schema:
            type: string
            pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
            example: keynote-opening-session
      responses:
        '204':
          description: Session deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/sessions/{sessionSlug}/speakers:
    get:
      tags:
        - Sessions
      summary: List session speakers
      description: |
        Retrieve all speakers assigned to a specific session with enriched User data.

        **Story**: 1.15a.1b - Session-User Many-to-Many Relationship

        Returns speaker information including:
        - User profile data (name, company, photo)
        - Speaker role (primary, co-speaker, moderator, panelist)
        - Confirmation status
      operationId: listSessionSpeakers
      parameters:
        - name: eventCode
          in: path
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: sessionSlug
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
            example: blockchain-security
      responses:
        '200':
          description: List of session speakers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SessionSpeaker'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Sessions
      summary: Assign speaker to session
      description: |
        Assign a user as a speaker to a session with a specific role.

        **Story**: 1.15a.1b - Session-User Many-to-Many Relationship
        **Authorization**: Requires ORGANIZER role

        **Speaker Roles**:
        - PRIMARY_SPEAKER: Main presenter
        - CO_SPEAKER: Co-presenter
        - MODERATOR: Panel moderator
        - PANELIST: Panel participant
      operationId: assignSpeakerToSession
      security:
        - bearerAuth: []
      parameters:
        - name: eventCode
          in: path
          required: true
          schema:
            type: string
        - name: sessionSlug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - speakerRole
              properties:
                username:
                  type: string
                  pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
                  example: john.doe
                speakerRole:
                  type: string
                  enum: [PRIMARY_SPEAKER, CO_SPEAKER, MODERATOR, PANELIST]
                  example: PRIMARY_SPEAKER
                presentationTitle:
                  type: string
                  maxLength: 255
                  example: Security Auditing Tools Deep Dive
      responses:
        '201':
          description: Speaker assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionSpeaker'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Speaker already assigned to session
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/sessions/{sessionSlug}/speakers/{username}:
    delete:
      tags:
        - Sessions
      summary: Remove speaker from session
      description: |
        Remove a speaker assignment from a session.

        **Story**: 1.15a.1b - Session-User Many-to-Many Relationship
        **Authorization**: Requires ORGANIZER role
      operationId: removeSpeakerFromSession
      security:
        - bearerAuth: []
      parameters:
        - name: eventCode
          in: path
          required: true
          schema:
            type: string
        - name: sessionSlug
          in: path
          required: true
          schema:
            type: string
        - name: username
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
            example: john.doe
      responses:
        '204':
          description: Speaker removed successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/sessions/{sessionSlug}/speakers/{username}/confirm:
    post:
      tags:
        - Sessions
      summary: Confirm speaker participation
      description: |
        Mark a speaker as confirmed for the session.

        **Story**: 1.15a.1b - Session-User Many-to-Many Relationship
        **Authorization**: Requires ORGANIZER role
      operationId: confirmSpeaker
      security:
        - bearerAuth: []
      parameters:
        - name: eventCode
          in: path
          required: true
          schema:
            type: string
        - name: sessionSlug
          in: path
          required: true
          schema:
            type: string
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Speaker confirmed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionSpeaker'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/sessions/{sessionSlug}/speakers/{username}/decline:
    post:
      tags:
        - Sessions
      summary: Decline speaker participation
      description: |
        Mark a speaker as declined for the session with an optional reason.

        **Story**: 1.15a.1b - Session-User Many-to-Many Relationship
        **Authorization**: Requires ORGANIZER role
      operationId: declineSpeaker
      security:
        - bearerAuth: []
      parameters:
        - name: eventCode
          in: path
          required: true
          schema:
            type: string
        - name: sessionSlug
          in: path
          required: true
          schema:
            type: string
        - name: username
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                declineReason:
                  type: string
                  example: Schedule conflict
      responses:
        '200':
          description: Speaker declined successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionSpeaker'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/registrations:
    get:
      tags:
        - Registrations
      summary: List event registrations
      description: |
        Retrieve all registrations for a specific event with optional filtering.

        **Acceptance Criteria**: AC11
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Filter Examples**:
        - By status: `{"status":"confirmed"}`
        - By date: `{"registrationDate":{"$gte":"2025-01-01"}}`

      operationId: listRegistrations
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: filter
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Registrations retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Registration'
                  pagination:
                    $ref: '#/components/schemas/PaginationMetadata'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Registrations
      summary: Create event registration (anonymous or authenticated)
      description: |
        Create a new registration for the event. Supports both anonymous and authenticated registration.

        **Story**: 4.1.5a - Anonymous registration with email-based account linking (ADR-006)
        **Security**: Public endpoint - no authentication required

        **Anonymous Registration**:
        - No authentication required
        - Email serves as identifier
        - Registration code generated (BAT-YYYY-NNNNNN)
        - Confirmation email sent automatically

        **Authenticated Registration**:
        - If user is authenticated, linked to user account immediately
        - Can view in dashboard

        **Account Linking (ADR-006)**:
        - When anonymous user creates account with same email, user_profile updated with cognito_user_id
        - All past registrations automatically linked (via attendeeId FK to user_profiles)
        - See ADR-006 for details

      operationId: createRegistration
      security: []  # Public endpoint
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbernXXX
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern25
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRegistrationRequest'
      responses:
        '201':
          description: Registration created successfully - confirmation email sent
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                  - email
                properties:
                  message:
                    type: string
                    example: Registration successful. Please check your email to confirm.
                  email:
                    type: string
                    format: email
                    example: john.doe@example.com
                description: |
                  **Story 4.1.5c**: Minimal response with no sensitive data.
                  Confirmation token sent via email (not in response).
                  User must click email link to confirm registration.
        '400':
          description: Invalid request (validation errors)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                duplicateEmail:
                  summary: Duplicate registration
                  value:
                    error: Already registered
                    message: This email is already registered for this event
                    code: DUPLICATE_REGISTRATION
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          description: Rate limit exceeded (public endpoint protection)
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/registrations/{registrationCode}:
    get:
      tags:
        - Registrations
      summary: Get registration by confirmation code
      description: |
        Retrieve registration details by confirmation code.

        **Story**: 4.1.6 - Registration Confirmation
        **Security**: Public endpoint - confirmation code acts as access token

      operationId: getRegistration
      security: []  # Public endpoint
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbernXXX
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern25
        - name: registrationCode
          in: path
          description: Registration code in format BAT-YYYY-NNNNNN
          required: true
          schema:
            type: string
            pattern: '^BAT-[0-9]{4}-[0-9]{6}$'
            example: BAT-2025-000123
      responses:
        '200':
          description: Registration found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        '404':
          description: Registration not found (invalid confirmation code)
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - Registrations
      summary: Update registration
      description: |
        Partially update a registration.

        **Story**: 4.1.6 - Uses registrationCode

      operationId: updateRegistration
      security: []  # Public endpoint - confirmation code acts as access token
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbernXXX
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern25
        - name: registrationCode
          in: path
          description: Registration code in format BAT-YYYY-NNNNNN
          required: true
          schema:
            type: string
            pattern: '^BAT-[0-9]{4}-[0-9]{6}$'
            example: BAT-2025-000123
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRegistrationRequest'
      responses:
        '200':
          description: Registration updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Registrations
      summary: Cancel registration
      description: |
        Cancel a registration from the event.

        **Story**: 4.1.6 - Public cancellation with confirmation code

      operationId: deleteRegistration
      security: []  # Public endpoint - confirmation code acts as access token
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbernXXX
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern25
        - name: registrationCode
          in: path
          description: Registration code in format BAT-YYYY-NNNNNN
          required: true
          schema:
            type: string
            pattern: '^BAT-[0-9]{4}-[0-9]{6}$'
            example: BAT-2025-000123
      responses:
        '204':
          description: Registration deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/registrations/confirm:
    post:
      tags:
        - Registrations
      summary: Confirm registration via email token
      description: |
        Confirm a registration using the JWT token sent via email.

        **Story**: 4.1.5c - Secure Email-Based Registration Confirmation
        **Security**: Public endpoint - JWT token provides authentication and authorization

        **Token Validation**:
        - JWT signature verified (HMAC-SHA256)
        - Token expiry checked (48 hours from registration)
        - Token type must be "email-confirmation"
        - Registration ID extracted from token claims
        - Event code in URL must match event code in token

        **Idempotency**: Can be called multiple times safely. Already confirmed registrations return 200 OK.

      operationId: confirmRegistration
      security: []  # Public endpoint - JWT token in query param provides security
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbernXXX
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern57
        - name: token
          in: query
          description: JWT confirmation token from email link
          required: true
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiJ9.eyJyZWdpc3RyYXRpb25JZCI6IjEyMzQ1Njc4LTkwYWItY2RlZi0xMjM0LTU2Nzg5MGFiY2RlZiIsImV2ZW50Q29kZSI6IkJBVGJlcm41NyIsInR5cGUiOiJlbWFpbC1jb25maXJtYXRpb24iLCJpYXQiOjE3MDUwMDAwMDAsImV4cCI6MTcwNTE3MjgwMH0.signature
      responses:
        '200':
          description: Registration confirmed successfully (or already confirmed)
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                  - status
                properties:
                  message:
                    type: string
                    example: Registration confirmed successfully
                  status:
                    type: string
                    enum: [CONFIRMED]
                    example: CONFIRMED
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                expiredToken:
                  summary: Token expired
                  value:
                    error: Invalid token
                    message: Token has expired (48 hour validity)
                    code: TOKEN_EXPIRED
                invalidToken:
                  summary: Invalid token signature
                  value:
                    error: Invalid token
                    message: Token signature validation failed
                    code: INVALID_TOKEN
        '404':
          description: Registration not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Not found
                message: Registration not found
                code: REGISTRATION_NOT_FOUND
        '500':
          $ref: '#/components/responses/InternalServerError'

  /registrations/cancel:
    post:
      tags:
        - Registrations
      summary: Cancel registration via email token
      description: |
        Cancel a registration using the JWT token sent via email.
        Permanently deletes the registration from the database.

        **Story**: Anonymous Cancellation Flow
        **Security**: Public endpoint - JWT token provides authentication and authorization

        **Token Validation**:
        - JWT signature verified (HMAC-SHA256)
        - Token expiry checked (48 hours from registration)
        - Token type must be "registration-cancellation"
        - Registration ID extracted from token claims

        **Deletion**: Permanently removes registration from database. Cannot be undone.

      operationId: cancelRegistration
      security: []  # Public endpoint - JWT token in query param provides security
      parameters:
        - name: token
          in: query
          description: JWT cancellation token from email link
          required: true
          schema:
            type: string
            example: eyJhbGciOiJIUzI1NiJ9.eyJyZWdpc3RyYXRpb25JZCI6IjEyMzQ1Njc4LTkwYWItY2RlZi0xMjM0LTU2Nzg5MGFiY2RlZiIsImV2ZW50Q29kZSI6IkJBVGJlcm41NyIsInR5cGUiOiJyZWdpc3RyYXRpb24tY2FuY2VsbGF0aW9uIiwiaWF0IjoxNzA1MDAwMDAwLCJleHAiOjE3MDUxNzI4MDB9.signature
      responses:
        '200':
          description: Registration cancelled successfully
          content:
            application/json:
              schema:
                type: object
                required:
                  - message
                  - status
                properties:
                  message:
                    type: string
                    example: Registration cancelled successfully
                  status:
                    type: string
                    enum: [CANCELLED]
                    example: CANCELLED
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                expiredToken:
                  summary: Token expired
                  value:
                    error: Invalid token
                    message: Token has expired (48 hour validity)
                    code: TOKEN_EXPIRED
                invalidToken:
                  summary: Invalid token signature
                  value:
                    error: Invalid token
                    message: Token signature validation failed
                    code: INVALID_TOKEN
        '404':
          description: Registration not found or already cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: Not found
                message: Registration not found or already cancelled
                code: REGISTRATION_NOT_FOUND
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/batch_registrations:
    post:
      tags:
        - Registrations
      summary: Create batch event registrations for a participant
      description: |
        Creates multiple event registrations for a single participant in one transaction.
        Used for bulk importing historical attendance data.

        **Story**: BAT-12 - API Contract - Participant Batch Registration

        **Behavior**:
        - Creates user if doesn't exist (get-or-create by email)
        - Skips duplicate registrations (idempotent)
        - Returns partial success if some registrations fail

        **Use Case**: Historical data migration for 2,307 participants

        **Performance**: <500ms (P95) for 100 registrations
      operationId: createBatchRegistrations
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchRegistrationRequest'
            examples:
              historicalAttendee:
                summary: Historical participant with multiple events
                value:
                  participantEmail: "adrian.buerki@centrisag.ch"
                  firstName: "Adrian"
                  lastName: "Bürki"
                  registrations:
                    - eventCode: "BATbern17"
                      status: "ATTENDED"
                    - eventCode: "BATbern25"
                      status: "ATTENDED"
                    - eventCode: "BATbern31"
                      status: "ATTENDED"
              syntheticEmail:
                summary: Participant with synthetic email
                value:
                  participantEmail: "max.muster@batbern.ch"
                  firstName: "Max"
                  lastName: "Muster"
                  registrations:
                    - eventCode: "BATbern1"
                      status: "ATTENDED"
      responses:
        '200':
          description: Batch registrations processed (full or partial success)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchRegistrationResponse'
              examples:
                fullSuccess:
                  summary: All registrations successful
                  value:
                    username: "adrian.buerki"
                    totalRegistrations: 3
                    successfulRegistrations: 3
                    failedRegistrations: []
                    errors: []
                partialSuccess:
                  summary: Some registrations failed
                  value:
                    username: "adrian.buerki"
                    totalRegistrations: 3
                    successfulRegistrations: 2
                    failedRegistrations:
                      - eventCode: "BATbern99"
                        reason: "Event not found"
                    errors: ["Event BATbern99 not found"]
        '400':
          description: Invalid request data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidEmail:
                  summary: Invalid email format
                  value:
                    error: "Validation failed"
                    message: "Invalid email format"
                    code: "VALIDATION_ERROR"
                    details:
                      - field: "participantEmail"
                        message: "must be a well-formed email address"
                emptyRegistrations:
                  summary: Empty registrations array
                  value:
                    error: "Validation failed"
                    message: "Registrations array cannot be empty"
                    code: "VALIDATION_ERROR"
                    details:
                      - field: "registrations"
                        message: "must contain at least 1 item"
                tooManyRegistrations:
                  summary: Too many registrations
                  value:
                    error: "Validation failed"
                    message: "Too many registrations in batch"
                    code: "VALIDATION_ERROR"
                    details:
                      - field: "registrations"
                        message: "must contain at most 100 items"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden - requires ORGANIZER role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Forbidden"
                message: "This operation requires ORGANIZER role"
                code: "INSUFFICIENT_PERMISSIONS"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/registrations:
    get:
      tags:
        - Registrations
      summary: List user registrations across all events
      description: |
        Retrieve all event registrations for a specific user.
        Used by user detail page to show participation history.

        **Story**: BAT-15 - Integration - Participant Batch Import
        **Security**: Requires authentication
      operationId: listUserRegistrations
      security:
        - BearerAuth: []
      parameters:
        - name: attendeeUsername
          in: query
          description: Username to filter registrations
          required: true
          schema:
            type: string
            example: "a.roethlisberger"
      responses:
        '200':
          description: User registrations retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Registration'
              example:
                - registrationCode: "BATbern34-reg-A3X9K2"
                  eventCode: "BATbern34"
                  eventTitle: "Cloud Native Architecture"
                  eventDate: "2023-03-15T18:00:00Z"
                  status: "attended"
                  registrationDate: "2023-02-01T10:30:00Z"
                - registrationCode: "BATbern36-reg-B7Y1M4"
                  eventCode: "BATbern36"
                  eventTitle: "Microservices Patterns"
                  eventDate: "2023-05-20T18:00:00Z"
                  status: "attended"
                  registrationDate: "2023-04-10T14:20:00Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/analytics:
    get:
      tags:
        - Analytics
      summary: Get event analytics
      description: |
        Retrieve analytics data for a specific event.

        **Acceptance Criteria**: AC13
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Metrics Available**:
        - attendance: Attendance counts and trends
        - registrations: Registration statistics
        - engagement: User engagement metrics
        - revenue: Revenue and ticket sales

        **Timeframe Options**: day, week, month, all

      operationId: getEventAnalytics
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: metrics
          in: query
          description: Comma-separated list of metrics
          required: false
          schema:
            type: string
            example: 'attendance,registrations,engagement'
        - name: timeframe
          in: query
          description: Time period for analytics
          required: false
          schema:
            type: string
            enum: [day, week, month, all]
            default: all
      responses:
        '200':
          description: Analytics data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAnalytics'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/types:
    get:
      tags:
        - Event Types
      summary: List all event type configurations
      description: |
        Retrieve all event type configurations (FULL_DAY, AFTERNOON, EVENING).

        **Story**: 5.1 - Event Type Definition
        **Acceptance Criteria**: AC1

        Event types define slot requirements and templates for different event formats.
        This endpoint returns cached configurations (Caffeine cache, 1 hour TTL).

        **Performance**: <50ms (P95) - cached response
      operationId: listEventTypes
      responses:
        '200':
          description: Event types retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EventSlotConfigurationResponse'
              example:
                - type: FULL_DAY
                  minSlots: 6
                  maxSlots: 8
                  slotDuration: 45
                  theoreticalSlotsAM: true
                  breakSlots: 2
                  lunchSlots: 1
                  defaultCapacity: 300
                  typicalStartTime: "09:00"
                  typicalEndTime: "16:00"
                - type: AFTERNOON
                  minSlots: 6
                  maxSlots: 8
                  slotDuration: 45
                  theoreticalSlotsAM: false
                  breakSlots: 1
                  lunchSlots: 0
                  defaultCapacity: 200
                  typicalStartTime: "13:00"
                  typicalEndTime: "19:00"
                - type: EVENING
                  minSlots: 3
                  maxSlots: 4
                  slotDuration: 45
                  theoreticalSlotsAM: false
                  breakSlots: 1
                  lunchSlots: 0
                  defaultCapacity: 200
                  typicalStartTime: "16:00"
                  typicalEndTime: "19:00"
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /events/types/{type}:
    get:
      tags:
        - Event Types
      summary: Get specific event type configuration
      description: |
        Retrieve configuration for a specific event type.

        **Story**: 5.1 - Event Type Definition
        **Acceptance Criteria**: AC2

        Returns slot configuration details for the specified event type.
        Cached response (Caffeine cache, 1 hour TTL).

        **Performance**: <50ms (P95) - cached response
      operationId: getEventType
      parameters:
        - name: type
          in: path
          required: true
          description: Event type identifier
          schema:
            $ref: '#/components/schemas/EventType'
          example: FULL_DAY
      responses:
        '200':
          description: Event type configuration retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSlotConfigurationResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

    put:
      tags:
        - Event Types
      summary: Update event type configuration (ORGANIZER only)
      description: |
        Update configuration for a specific event type.

        **Story**: 5.1 - Event Type Definition
        **Acceptance Criteria**: AC3, AC8

        **Authorization**: Requires ORGANIZER role

        Updates slot configuration for the event type template.
        Cache is automatically invalidated after successful update.

        **Validation**:
        - minSlots must be > 0
        - maxSlots must be >= minSlots
        - slotDuration must be >= 15 minutes
        - defaultCapacity must be > 0
      operationId: updateEventType
      parameters:
        - name: type
          in: path
          required: true
          description: Event type identifier
          schema:
            $ref: '#/components/schemas/EventType'
          example: FULL_DAY
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEventSlotConfigurationRequest'
[...]
