openapi: 3.0.3
info:
  title: BATbern Events API
  version: 1.0.0
  description: |
    Consolidated Events API for BATbern Event Management Platform.

    This API consolidates 130 fragmented endpoints into 25 efficient endpoints using:
    - **Resource Expansion**: `?include=` parameter for sub-resources
    - **Rich Filtering**: JSON filter syntax for complex queries
    - **Pagination**: Standard page/limit parameters
    - **Caching**: Caffeine in-memory cache (15min TTL)

    **Story**: 1.15a.1 - Events API Consolidation

    **Performance Targets**:
    - Event list (no includes): <100ms (P95)
    - Event detail (basic): <150ms (P95)
    - Event detail (all includes): <500ms (P95)
    - Cached response: <50ms (P95)

  contact:
    name: BATbern Platform Team
    email: platform@batbern.ch
  license:
    name: Proprietary

servers:
  - url: https://api.batbern.ch/api/v1
    description: Production
  - url: https://api.staging.batbern.ch/api/v1
    description: Staging
  - url: http://localhost:8080/api/v1
    description: Development

tags:
  - name: Events
    description: Event CRUD and listing operations
  - name: Event Actions
    description: Event publishing and workflow operations
  - name: Sessions
    description: Event session management
  - name: Registrations
    description: Event registration management
  - name: Analytics
    description: Event analytics and metrics
  - name: Bulk Operations
    description: Batch operations on multiple events

paths:
  /events:
    get:
      tags:
        - Events
      summary: List and search events
      description: |
        Retrieve a paginated list of events with optional filtering and sorting.

        **Acceptance Criteria**: AC1

        **Filter Syntax Examples**:
        - Single filter: `{"status":"published"}`
        - Multiple operators: `{"date":{"$gte":"2025-01-01","$lte":"2025-12-31"}}`
        - Logical operators: `{"$or":[{"status":"published"},{"status":"archived"}]}`
        - In operator: `{"status":{"$in":["published","archived"]}}`

        **Sort Syntax**:
        - Ascending: `date`
        - Descending: `-date`

        **Performance**: <100ms (P95)

      operationId: listEvents
      parameters:
        - name: filter
          in: query
          description: JSON filter criteria
          required: false
          schema:
            type: string
            example: '{"status":"published","year":2025}'
        - name: sort
          in: query
          description: Sort field (prefix with - for descending)
          required: false
          schema:
            type: string
            example: '-date'
        - name: page
          in: query
          description: Page number (0-indexed)
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: limit
          in: query
          description: Items per page (max 100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: include
          in: query
          description: Comma-separated list of resources to include
          required: false
          schema:
            type: string
            example: 'venue,speakers,sessions'
      responses:
        '200':
          description: Successful response with paginated events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Event'
                  pagination:
                    $ref: '#/components/schemas/PaginationMetadata'
              examples:
                basicList:
                  summary: Basic event list
                  value:
                    data:
                      - eventCode: BATbern142
                        title: Spring Conference 2025
                        eventNumber: 142
                        date: 2025-05-15T09:00:00Z
                        registrationDeadline: 2025-05-01T23:59:59Z
                        venueName: Kursaal Bern
                        venueAddress: Kornhausstrasse 3, 3013 Bern
                        venueCapacity: 200
                        status: published
                        organizerUsername: john.doe
                        currentAttendeeCount: 187
                        description: Cloud Native Architecture
                    pagination:
                      page: 0
                      limit: 20
                      totalItems: 1
                      totalPages: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Events
      summary: Create a new event
      description: |
        Create a new event with complete event data.

        **Acceptance Criteria**: AC3

        **Performance**: <200ms (P95)

      operationId: createEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
            examples:
              basicEvent:
                summary: Basic event creation
                value:
                  title: Summer Workshop 2025
                  eventNumber: 143
                  date: 2025-07-20T09:00:00Z
                  registrationDeadline: 2025-07-10T23:59:59Z
                  venueName: Kursaal Bern
                  venueAddress: Kornhausstrasse 3, 3013 Bern
                  venueCapacity: 150
                  status: planning
                  organizerUsername: john.doe
                  currentAttendeeCount: 0
                  description: AI/ML in Production
      responses:
        '201':
          description: Event created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - Bulk Operations
      summary: Batch update multiple events
      description: |
        Update multiple events in a single request.

        **Acceptance Criteria**: AC14

        **Performance**: <1000ms for 50 events (P95)

      operationId: batchUpdateEvents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateRequest'
      responses:
        '200':
          description: Batch update completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/current:
    get:
      tags:
        - Events
      summary: Get current published event
      description: |
        Retrieve the next upcoming published event for the public website.

        **Story**: 4.1.3 - Public event landing page hero section
        **Public Access**: No authentication required

        Returns the earliest published event by date (next upcoming event).
        If no published events exist, returns 404.

        **Performance**: <150ms (P95)

      operationId: getCurrentEvent
      parameters:
        - name: include
          in: query
          description: Comma-separated list of resources to expand (topics,venue,speakers,sessions)
          required: false
          schema:
            type: string
            example: 'topics,venue,speakers'
      responses:
        '200':
          description: Current event retrieved successfully
          headers:
            X-Cache-Status:
              description: Cache hit/miss indicator
              schema:
                type: string
                enum: [HIT, MISS]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetail'
              example:
                eventCode: BATbern57
                title: Cloud-Native Architecture in Practice
                eventNumber: 57
                status: published
                description: Join us for an evening exploring modern cloud-native architecture patterns and best practices.
                date: '2025-03-15T18:00:00Z'
                registrationDeadline: '2025-03-10T23:59:59Z'
                venueName: Bern TechHub
                venueAddress: Waisenhausplatz 30, 3014 Bern
                venueCapacity: 120
                organizerUsername: john.doe
                currentAttendeeCount: 87
                publishedAt: '2025-02-01T10:00:00Z'
                venue:
                  id: venue-001
                  name: Bern TechHub
                  capacity: 120
                  address: Waisenhausplatz 30, 3014 Bern
                topics:
                  - id: topic-1
                    name: Microservices
                    color: blue
                  - id: topic-2
                    name: Kubernetes
                    color: cyan
        '404':
          description: No current published event found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
              example:
                error: Not Found
                message: No current published event available
                timestamp: '2025-03-15T12:00:00Z'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}:
    get:
      tags:
        - Events
      summary: Get event details
      description: |
        Retrieve detailed information about a specific event with optional resource expansion.

        **Acceptance Criteria**: AC2
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Include Options**:
        - `venue`: Venue details with address and capacity
        - `speakers`: Complete speaker list with profiles
        - `sessions`: Event sessions with schedule
        - `topics`: Event topics and categories
        - `workflow`: Workflow state and history
        - `registrations`: Registration counts and status
        - `catering`: Catering arrangements
        - `team`: Team assignments
        - `publishing`: Publishing details
        - `notifications`: Notification settings
        - `analytics`: Event analytics and metrics

        **Performance**:
        - Basic (no includes): <150ms (P95)
        - All includes: <500ms (P95)
        - Cached: <50ms (P95)

        **Caching**: 15-minute TTL with automatic invalidation on updates

      operationId: getEvent
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: include
          in: query
          description: Comma-separated list of resources to include
          required: false
          schema:
            type: string
            example: 'venue,speakers,sessions,workflow'
      responses:
        '200':
          description: Event details retrieved successfully
          headers:
            X-Cache-Status:
              description: Cache hit status (HIT or MISS)
              schema:
                type: string
                enum: [HIT, MISS]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDetail'
              examples:
                basicEvent:
                  summary: Basic event (no includes)
                  value:
                    eventCode: BATbern142
                    title: Spring Conference 2025
                    eventNumber: 142
                    date: 2025-05-15T09:00:00Z
                    registrationDeadline: 2025-05-01T23:59:59Z
                    venueName: Kursaal Bern
                    venueAddress: Kornhausstrasse 3, 3013 Bern
                    venueCapacity: 500
                    status: published
                    organizerUsername: john.doe
                    currentAttendeeCount: 187
                    description: Cloud Native Architecture
                expandedEvent:
                  summary: Event with venue and speakers
                  value:
                    eventCode: BATbern142
                    title: Spring Conference 2025
                    eventNumber: 142
                    date: 2025-05-15T09:00:00Z
                    registrationDeadline: 2025-05-01T23:59:59Z
                    venueName: Kursaal Bern
                    venueAddress: Kornhausstrasse 3, 3013 Bern
                    venueCapacity: 500
                    status: published
                    organizerUsername: john.doe
                    currentAttendeeCount: 187
                    description: Cloud Native Architecture
                    venue:
                      id: ven-001
                      name: Kursaal Bern
                      address: Kornhausstrasse 3, 3013 Bern
                      capacity: 500
                    speakers:
                      - username: sara.kim
                        firstName: Sara
                        lastName: Kim
                        company: Docker Inc.
                        title: Container Security Expert
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags:
        - Events
      summary: Update event (full replacement)
      description: |
        Replace all event data with new data.

        **Acceptance Criteria**: AC4
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Cache Invalidation**: All event caches cleared on update

      operationId: updateEvent
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEventRequest'
      responses:
        '200':
          description: Event updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    patch:
      tags:
        - Events
      summary: Partially update event
      description: |
        Update specific fields of an event without replacing all data.

        **Acceptance Criteria**: AC5
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Cache Invalidation**: All event caches cleared on update

      operationId: patchEvent
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchEventRequest'
            examples:
              updateTitle:
                summary: Update only title
                value:
                  title: Spring Conference 2025 - Updated
      responses:
        '200':
          description: Event patched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Events
      summary: Delete event
      description: |
        Delete an event and all associated data.

        **Acceptance Criteria**: AC6
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Cascade Deletion**: Deletes all sessions, registrations, and related data
        **Cache Invalidation**: All event caches cleared on deletion

      operationId: deleteEvent
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      responses:
        '204':
          description: Event deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/publish:
    post:
      tags:
        - Event Actions
      summary: Publish event
      description: |
        Publish an event after validation checks.

        **Acceptance Criteria**: AC7
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Validation Rules**:
        - Event must have a date
        - Event must have a title
        - Event must be in draft status

        **Cache Invalidation**: All event caches cleared on publish

      operationId: publishEvent
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      responses:
        '200':
          description: Event published successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/workflow/advance:
    post:
      tags:
        - Event Actions
      summary: Advance workflow to next state
      description: |
        Advance event workflow to the next state in the state machine.

        **Acceptance Criteria**: AC8
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Workflow States**:
        1. draft → planning
        2. planning → ready
        3. ready → published
        4. published → completed

        **Invalid Transitions**: archived events cannot advance workflow

        **Cache Invalidation**: All event caches cleared on workflow advance

      operationId: advanceWorkflow
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      responses:
        '200':
          description: Workflow advanced successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/sessions:
    get:
      tags:
        - Sessions
      summary: List event sessions
      description: |
        Retrieve all sessions for a specific event with optional filtering.

        **Acceptance Criteria**: AC9
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Filter Examples**:
        - By type: `{"type":"keynote"}`
        - By time range: `{"startTime":{"$gte":"2025-05-15T09:00:00Z"}}`

      operationId: listSessions
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: filter
          in: query
          description: JSON filter criteria
          required: false
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Sessions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Session'
                  pagination:
                    $ref: '#/components/schemas/PaginationMetadata'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Sessions
      summary: Create session
      description: |
        Create a new session for the event.

        **Acceptance Criteria**: AC10
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

      operationId: createSession
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSessionRequest'
      responses:
        '201':
          description: Session created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/sessions/{sessionSlug}:
    get:
      tags:
        - Sessions
      summary: Get session details
      description: |
        Retrieve detailed information about a specific session including speakers.

        **Story**: 1.15a.1b - Session-User Many-to-Many Relationship
        **Story**: 4.1.3 - Public event discovery endpoints

        Returns session information including:
        - Session details (title, description, time, room)
        - Speaker list with enriched User data
        - Confirmation status for each speaker

        **Public Endpoint**: No authentication required for GET requests
      operationId: getSession
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: sessionSlug
          in: path
          description: URL-friendly slug generated from session title
          required: true
          schema:
            type: string
            pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
            example: opening-keynote
        - name: expand
          in: query
          description: Optional expand parameter (currently speakers are always included)
          required: false
          schema:
            type: string
            example: 'speakers'
      responses:
        '200':
          description: Session details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags:
        - Sessions
      summary: Update session
      description: |
        Update an existing session.

        **Acceptance Criteria**: AC10
        **Story**: 1.16.2 - Uses eventCode and sessionSlug (meaningful IDs) instead of UUIDs

      operationId: updateSession
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: sessionSlug
          in: path
          description: URL-friendly slug generated from session title
          required: true
          schema:
            type: string
            pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
            example: keynote-opening-session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSessionRequest'
      responses:
        '200':
          description: Session updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Sessions
      summary: Delete session
      description: |
        Delete a session from the event.

        **Acceptance Criteria**: AC10
        **Story**: 1.16.2 - Uses eventCode and sessionSlug (meaningful IDs) instead of UUIDs

      operationId: deleteSession
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: sessionSlug
          in: path
          description: URL-friendly slug generated from session title
          required: true
          schema:
            type: string
            pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
            example: keynote-opening-session
      responses:
        '204':
          description: Session deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/sessions/{sessionSlug}/speakers:
    get:
      tags:
        - Sessions
      summary: List session speakers
      description: |
        Retrieve all speakers assigned to a specific session with enriched User data.

        **Story**: 1.15a.1b - Session-User Many-to-Many Relationship

        Returns speaker information including:
        - User profile data (name, company, photo)
        - Speaker role (primary, co-speaker, moderator, panelist)
        - Confirmation status
      operationId: listSessionSpeakers
      parameters:
        - name: eventCode
          in: path
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: sessionSlug
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
            example: blockchain-security
      responses:
        '200':
          description: List of session speakers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SessionSpeaker'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - Sessions
      summary: Assign speaker to session
      description: |
        Assign a user as a speaker to a session with a specific role.

        **Story**: 1.15a.1b - Session-User Many-to-Many Relationship
        **Authorization**: Requires ORGANIZER role

        **Speaker Roles**:
        - PRIMARY_SPEAKER: Main presenter
        - CO_SPEAKER: Co-presenter
        - MODERATOR: Panel moderator
        - PANELIST: Panel participant
      operationId: assignSpeakerToSession
      security:
        - bearerAuth: []
      parameters:
        - name: eventCode
          in: path
          required: true
          schema:
            type: string
        - name: sessionSlug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - speakerRole
              properties:
                username:
                  type: string
                  pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
                  example: john.doe
                speakerRole:
                  type: string
                  enum: [PRIMARY_SPEAKER, CO_SPEAKER, MODERATOR, PANELIST]
                  example: PRIMARY_SPEAKER
                presentationTitle:
                  type: string
                  maxLength: 255
                  example: Security Auditing Tools Deep Dive
      responses:
        '201':
          description: Speaker assigned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionSpeaker'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Speaker already assigned to session
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/sessions/{sessionSlug}/speakers/{username}:
    delete:
      tags:
        - Sessions
      summary: Remove speaker from session
      description: |
        Remove a speaker assignment from a session.

        **Story**: 1.15a.1b - Session-User Many-to-Many Relationship
        **Authorization**: Requires ORGANIZER role
      operationId: removeSpeakerFromSession
      security:
        - bearerAuth: []
      parameters:
        - name: eventCode
          in: path
          required: true
          schema:
            type: string
        - name: sessionSlug
          in: path
          required: true
          schema:
            type: string
        - name: username
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
            example: john.doe
      responses:
        '204':
          description: Speaker removed successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/sessions/{sessionSlug}/speakers/{username}/confirm:
    post:
      tags:
        - Sessions
      summary: Confirm speaker participation
      description: |
        Mark a speaker as confirmed for the session.

        **Story**: 1.15a.1b - Session-User Many-to-Many Relationship
        **Authorization**: Requires ORGANIZER role
      operationId: confirmSpeaker
      security:
        - bearerAuth: []
      parameters:
        - name: eventCode
          in: path
          required: true
          schema:
            type: string
        - name: sessionSlug
          in: path
          required: true
          schema:
            type: string
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Speaker confirmed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionSpeaker'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/sessions/{sessionSlug}/speakers/{username}/decline:
    post:
      tags:
        - Sessions
      summary: Decline speaker participation
      description: |
        Mark a speaker as declined for the session with an optional reason.

        **Story**: 1.15a.1b - Session-User Many-to-Many Relationship
        **Authorization**: Requires ORGANIZER role
      operationId: declineSpeaker
      security:
        - bearerAuth: []
      parameters:
        - name: eventCode
          in: path
          required: true
          schema:
            type: string
        - name: sessionSlug
          in: path
          required: true
          schema:
            type: string
        - name: username
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                declineReason:
                  type: string
                  example: Schedule conflict
      responses:
        '200':
          description: Speaker declined successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionSpeaker'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/registrations:
    get:
      tags:
        - Registrations
      summary: List event registrations
      description: |
        Retrieve all registrations for a specific event with optional filtering.

        **Acceptance Criteria**: AC11
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Filter Examples**:
        - By status: `{"status":"confirmed"}`
        - By date: `{"registrationDate":{"$gte":"2025-01-01"}}`

      operationId: listRegistrations
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: filter
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Registrations retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Registration'
                  pagination:
                    $ref: '#/components/schemas/PaginationMetadata'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Registrations
      summary: Create registration
      description: |
        Create a new registration for the event.

        **Acceptance Criteria**: AC12
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

      operationId: createRegistration
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRegistrationRequest'
      responses:
        '201':
          description: Registration created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/registrations/{registrationCode}:
    patch:
      tags:
        - Registrations
      summary: Update registration
      description: |
        Partially update a registration.

        **Acceptance Criteria**: AC12
        **Story**: 1.16.2 - Uses eventCode and registrationCode (meaningful IDs) instead of UUIDs

      operationId: updateRegistration
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: registrationCode
          in: path
          description: Unique registration code (eventCode-username format)
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+-[a-z]+\.[a-z]+(-[0-9]+)?$'
            example: BATbern142-john.doe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchRegistrationRequest'
      responses:
        '200':
          description: Registration updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Registrations
      summary: Delete registration
      description: |
        Delete a registration from the event.

        **Acceptance Criteria**: AC12
        **Story**: 1.16.2 - Uses eventCode and registrationCode (meaningful IDs) instead of UUIDs

      operationId: deleteRegistration
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: registrationCode
          in: path
          description: Unique registration code (eventCode-username format)
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+-[a-z]+\.[a-z]+(-[0-9]+)?$'
            example: BATbern142-john.doe
      responses:
        '204':
          description: Registration deleted successfully
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /events/{eventCode}/analytics:
    get:
      tags:
        - Analytics
      summary: Get event analytics
      description: |
        Retrieve analytics data for a specific event.

        **Acceptance Criteria**: AC13
        **Story**: 1.16.2 - Uses eventCode (meaningful ID) instead of UUID

        **Metrics Available**:
        - attendance: Attendance counts and trends
        - registrations: Registration statistics
        - engagement: User engagement metrics
        - revenue: Revenue and ticket sales

        **Timeframe Options**: day, week, month, all

      operationId: getEventAnalytics
      parameters:
        - name: eventCode
          in: path
          description: Event code in format BATbern{number}
          required: true
          schema:
            type: string
            pattern: '^BATbern[0-9]+$'
            example: BATbern142
        - name: metrics
          in: query
          description: Comma-separated list of metrics
          required: false
          schema:
            type: string
            example: 'attendance,registrations,engagement'
        - name: timeframe
          in: query
          description: Time period for analytics
          required: false
          schema:
            type: string
            enum: [day, week, month, all]
            default: all
      responses:
        '200':
          description: Analytics data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventAnalytics'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    Event:
      type: object
      required:
        - eventCode
        - title
        - eventNumber
        - date
        - registrationDeadline
        - venueName
        - venueAddress
        - venueCapacity
        - status
        - organizerUsername
      properties:
        eventCode:
          type: string
          pattern: '^BATbern[0-9]+$'
          example: BATbern142
          description: |
            Human-readable event identifier in format "BATbern{number}".
            Story 1.16.2: Public API uses meaningful IDs, not UUIDs.
        title:
          type: string
          maxLength: 255
          example: Spring Conference 2025
        eventNumber:
          type: integer
          example: 142
          description: Sequential event number (e.g., BATbern #142)
        date:
          type: string
          format: date-time
          example: 2025-05-15T09:00:00Z
          description: Event date
        registrationDeadline:
          type: string
          format: date-time
          example: 2025-05-01T23:59:59Z
        venueName:
          type: string
          maxLength: 255
          example: Kursaal Bern
        venueAddress:
          type: string
          example: Kornhausstrasse 3, 3013 Bern
        venueCapacity:
          type: integer
          example: 500
        status:
          type: string
          enum: [planning, topic_defined, speakers_invited, agenda_draft, published, registration_open, registration_closed, in_progress, completed, archived]
          example: published
        organizerUsername:
          type: string
          pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
          example: john.doe
          description: |
            Username of the event organizer in format "firstname.lastname" or "firstname.lastname.2" for collisions.
            Story 1.16.2: Public API uses meaningful IDs (usernames), not UUIDs.
        currentAttendeeCount:
          type: integer
          example: 0
          default: 0
        publishedAt:
          type: string
          format: date-time
          nullable: true
        metadata:
          type: string
          description: JSONB metadata
          example: '{"theme":"cloud-native","category":"technology"}'
        description:
          type: string
          example: Cloud Native Architecture and Best Practices
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        themeImageUrl:
          type: string
          nullable: true
          format: uri
          maxLength: 1000
          example: "https://d123456.cloudfront.net/logos/2025/events/BATbern57/theme-abc123.png"
          description: |
            CloudFront URL for event theme image.
            Story 2.5.3a: Event Theme Image Upload
        themeImageUploadId:
          type: string
          nullable: true
          maxLength: 100
          example: "abc123-def456"
          description: |
            Upload ID from three-phase upload pattern (internal reference).
            Story 2.5.3a: Event Theme Image Upload
            This is returned so the frontend can track what was uploaded.

    EventDetail:
      allOf:
        - $ref: '#/components/schemas/Event'
        - type: object
          properties:
            venue:
              $ref: '#/components/schemas/Venue'
            speakers:
              type: array
              items:
                $ref: '#/components/schemas/Speaker'
            sessions:
              type: array
              items:
                $ref: '#/components/schemas/Session'

    Venue:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        address:
          type: string
        capacity:
          type: integer

    Speaker:
      type: object
      description: |
        Speaker information (speakers are users per Story 1.16.2)
      properties:
        username:
          type: string
          pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
          example: john.doe
          description: Speaker username in firstname.lastname format (Story 1.16.2)
        firstName:
          type: string
        lastName:
          type: string
        company:
          type: string
        title:
          type: string
        profilePhoto:
          type: string
          format: uri

    Session:
      type: object
      description: |
        Story 1.16.2: Uses sessionSlug and eventCode as meaningful IDs
      required:
        - sessionSlug
        - eventCode
        - title
        - sessionType
        - startTime
        - endTime
      properties:
        sessionSlug:
          type: string
          description: URL-friendly slug generated from session title
          pattern: '^[a-z0-9]+(-[a-z0-9]+)*$'
          example: keynote-opening-session
          maxLength: 200
        eventCode:
          type: string
          description: Event code this session belongs to
          pattern: '^BATbern[0-9]+$'
          example: BATbern142
        title:
          type: string
          maxLength: 255
        description:
          type: string
        sessionType:
          type: string
          enum: [keynote, presentation, workshop, panel_discussion, networking, break, lunch]
          example: keynote
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        room:
          type: string
          maxLength: 100
          example: Main Hall
        capacity:
          type: integer
          example: 200
        language:
          type: string
          maxLength: 10
          example: de
          default: de
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        speakers:
          type: array
          description: |
            Story 1.15a.1b: Session speakers with enriched User data
            List of speakers assigned to this session with their roles
          items:
            $ref: '#/components/schemas/SessionSpeaker'

    SessionSpeaker:
      type: object
      description: |
        Story 1.15a.1b: Session speaker with enriched User data
        Combines SessionUser entity (role, confirmation) with User entity (name, company, photo)
      required:
        - username
        - firstName
        - lastName
        - speakerRole
        - isConfirmed
      properties:
        username:
          type: string
          description: User's username (public identifier from User entity)
          pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
          example: john.doe
          maxLength: 100
        firstName:
          type: string
          description: Speaker's first name (from User entity)
          example: John
          maxLength: 100
        lastName:
          type: string
          description: Speaker's last name (from User entity)
          example: Doe
          maxLength: 100
        company:
          type: string
          description: Speaker's company name (from User.companyId)
          example: GoogleZH
          maxLength: 12
        profilePictureUrl:
          type: string
          format: uri
          description: Speaker's profile picture URL (from User entity)
          example: https://cdn.batbern.ch/logos/2025/users/john.doe/profile.jpg
        speakerRole:
          type: string
          enum: [PRIMARY_SPEAKER, CO_SPEAKER, MODERATOR, PANELIST]
          description: |
            Speaker's role in the session:
            - PRIMARY_SPEAKER: Main presenter
            - CO_SPEAKER: Co-presenter
            - MODERATOR: Panel moderator
            - PANELIST: Panel participant
          example: PRIMARY_SPEAKER
        presentationTitle:
          type: string
          description: Optional speaker-specific presentation title (if different from session title)
          maxLength: 255
          example: Security Auditing Tools Deep Dive
        isConfirmed:
          type: boolean
          description: Whether speaker has confirmed participation
          example: true

    SessionResponse:
      description: |
        Story 1.15a.1b: Session response with embedded speakers
        Same as Session schema but used specifically for API responses
      allOf:
        - $ref: '#/components/schemas/Session'

    Registration:
      type: object
      description: |
        Story 1.16.2: Uses registrationCode and attendeeUsername as meaningful IDs
      required:
        - registrationCode
        - eventCode
        - attendeeUsername
        - attendeeEmail
        - attendeeName
        - status
      properties:
        registrationCode:
          type: string
          description: Unique registration code (eventCode-username format)
          pattern: '^BATbern[0-9]+-[a-z]+\.[a-z]+(-[0-9]+)?$'
          example: BATbern142-john.doe
        eventCode:
          type: string
          description: Event code this registration belongs to
          pattern: '^BATbern[0-9]+$'
          example: BATbern142
        attendeeUsername:
          type: string
          description: Attendee username in firstname.lastname format
          pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
          example: john.doe
          maxLength: 100
        attendeeEmail:
          type: string
          format: email
          maxLength: 255
        attendeeName:
          type: string
          maxLength: 255
        status:
          type: string
          enum: [registered, waitlisted, confirmed, cancelled, attended]
        registrationDate:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateEventRequest:
      type: object
      required:
        - title
        - eventNumber
        - date
        - registrationDeadline
        - venueName
        - venueAddress
        - venueCapacity
        - status
        - organizerUsername
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
        eventNumber:
          type: integer
        date:
          type: string
          format: date-time
        registrationDeadline:
          type: string
          format: date-time
        venueName:
          type: string
          maxLength: 255
        venueAddress:
          type: string
        venueCapacity:
          type: integer
          minimum: 1
        status:
          type: string
          enum: [planning, topic_defined, speakers_invited, agenda_draft, published, registration_open, registration_closed, in_progress, completed, archived]
        organizerUsername:
          type: string
          pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
          example: john.doe
          description: |
            Username of the event organizer in format "firstname.lastname" or "firstname.lastname.2" for collisions.
            Story 1.16.2: Public API uses meaningful IDs (usernames), not UUIDs.
        currentAttendeeCount:
          type: integer
          default: 0
        publishedAt:
          type: string
          format: date-time
        metadata:
          type: string
        description:
          type: string
          maxLength: 5000
        themeImageUploadId:
          type: string
          nullable: true
          maxLength: 100
          example: "abc123-def456"
          description: |
            Upload ID from /logos/presigned-url for event theme image.
            Story 2.5.3a: Event Theme Image Upload

    UpdateEventRequest:
      type: object
      required:
        - title
        - eventNumber
        - date
        - registrationDeadline
        - venueName
        - venueAddress
        - venueCapacity
        - status
        - organizerUsername
      properties:
        title:
          type: string
          maxLength: 255
        eventNumber:
          type: integer
        date:
          type: string
          format: date-time
        registrationDeadline:
          type: string
          format: date-time
        venueName:
          type: string
          maxLength: 255
        venueAddress:
          type: string
        venueCapacity:
          type: integer
        status:
          type: string
          enum: [planning, topic_defined, speakers_invited, agenda_draft, published, registration_open, registration_closed, in_progress, completed, archived]
        organizerUsername:
          type: string
          pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
          example: john.doe
          description: |
            Username of the event organizer in format "firstname.lastname" or "firstname.lastname.2" for collisions.
            Story 1.16.2: Public API uses meaningful IDs (usernames), not UUIDs.
        currentAttendeeCount:
          type: integer
        publishedAt:
          type: string
          format: date-time
        metadata:
          type: string
        description:
          type: string
          maxLength: 5000
        themeImageUploadId:
          type: string
          nullable: true
          maxLength: 100
          description: Upload ID from /logos/presigned-url for event theme image

    PatchEventRequest:
      type: object
      properties:
        title:
          type: string
          maxLength: 255
        eventNumber:
          type: integer
        date:
          type: string
          format: date-time
        registrationDeadline:
          type: string
          format: date-time
        venueName:
          type: string
          maxLength: 255
        venueAddress:
          type: string
        venueCapacity:
          type: integer
        status:
          type: string
          enum: [planning, topic_defined, speakers_invited, agenda_draft, published, registration_open, registration_closed, in_progress, completed, archived]
        organizerUsername:
          type: string
          pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
          example: john.doe
          description: |
            Username of the event organizer in format "firstname.lastname" or "firstname.lastname.2" for collisions.
            Story 1.16.2: Public API uses meaningful IDs (usernames), not UUIDs.
        currentAttendeeCount:
          type: integer
        publishedAt:
          type: string
          format: date-time
        metadata:
          type: string
        description:
          type: string
          maxLength: 5000
        themeImageUploadId:
          type: string
          nullable: true
          maxLength: 100
          description: Upload ID from /logos/presigned-url for event theme image

    CreateSessionRequest:
      type: object
      required:
        - title
        - sessionType
        - startTime
        - endTime
      properties:
        title:
          type: string
          maxLength: 255
        description:
          type: string
        sessionType:
          type: string
          enum: [keynote, presentation, workshop, panel_discussion, networking, break, lunch]
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        room:
          type: string
          maxLength: 100
        capacity:
          type: integer
        language:
          type: string
          maxLength: 10
          default: de

    UpdateSessionRequest:
      type: object
      required:
        - title
        - sessionType
        - startTime
        - endTime
      properties:
        title:
          type: string
          maxLength: 255
        description:
          type: string
        sessionType:
          type: string
          enum: [keynote, presentation, workshop, panel_discussion, networking, break, lunch]
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        room:
          type: string
          maxLength: 100
        capacity:
          type: integer
        language:
          type: string
          maxLength: 10

    CreateRegistrationRequest:
      type: object
      description: |
        Story 1.16.2: Uses attendeeUsername instead of UUID
      required:
        - attendeeUsername
        - attendeeEmail
        - attendeeName
      properties:
        attendeeUsername:
          type: string
          description: Attendee username in firstname.lastname format
          pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
          example: john.doe
          maxLength: 100
        attendeeEmail:
          type: string
          format: email
          maxLength: 255
        attendeeName:
          type: string
          maxLength: 255

    PatchRegistrationRequest:
      type: object
      properties:
        status:
          type: string
          enum: [registered, waitlisted, confirmed, cancelled, attended]
        attendeeName:
          type: string
          maxLength: 255

    BatchUpdateRequest:
      type: object
      required:
        - updates
      properties:
        updates:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              fields:
                type: object

    BatchUpdateResponse:
      type: object
      properties:
        successful:
          type: integer
          example: 45
        failed:
          type: integer
          example: 5
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              error:
                type: string

    EventAnalytics:
      type: object
      properties:
        eventCode:
          type: string
          pattern: '^BATbern[0-9]+$'
          example: BATbern142
          description: Event code in format BATbern{number} (Story 1.16.2)
        totalRegistrations:
          type: integer
        confirmedAttendees:
          type: integer
        cancellations:
          type: integer
        waitlist:
          type: integer
        registrationTrend:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              count:
                type: integer

    PaginationMetadata:
      type: object
      description: Pagination metadata from shared-kernel
      x-java-type: ch.batbern.shared.api.PaginationMetadata
      x-java-type-import: ch.batbern.shared.api.PaginationMetadata

    ErrorResponse:
      type: object
      description: Standard error response from shared-kernel
      x-java-type: ch.batbern.shared.dto.ErrorResponse
      x-java-type-import: ch.batbern.shared.dto.ErrorResponse

  responses:
    BadRequest:
      description: Bad request - validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            validationError:
              value:
                error: VALIDATION_ERROR
                errorCode: BAD_REQUEST
                message: Invalid filter syntax
                timestamp: 2025-01-15T10:30:00Z

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            eventNotFound:
              value:
                error: RESOURCE_NOT_FOUND
                errorCode: NOT_FOUND
                message: Event not found with id evt-999
                timestamp: 2025-01-15T10:30:00Z

    UnprocessableEntity:
      description: Request cannot be processed due to business logic
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            workflowError:
              value:
                error: WORKFLOW_ERROR
                errorCode: UNPROCESSABLE_ENTITY
                message: Cannot advance workflow for archived event
                timestamp: 2025-01-15T10:30:00Z
            validationError:
              value:
                error: VALIDATION_ERROR
                errorCode: UNPROCESSABLE_ENTITY
                message: Event must have a date before publishing
                timestamp: 2025-01-15T10:30:00Z

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            serverError:
              value:
                error: INTERNAL_SERVER_ERROR
                errorCode: INTERNAL_ERROR
                message: An unexpected error occurred
                timestamp: 2025-01-15T10:30:00Z

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: AWS Cognito JWT token

security:
  - BearerAuth: []
