openapi: 3.1.0
info:
  title: BATbern Partners API
  version: 1.0.0
  description: |
    Partner Coordination API for BATbern Event Management Platform.

    This API provides partner management capabilities with:
    - **Partner Relationship Management**: Partnership tiers and benefits
    - **Topic Voting & Suggestions**: Strategic topic influence
    - **Contact Management**: Multiple contact persons per partner

    **Important (ADR-003 + ADR-004)**: Partner is company-centric.
    - Partner entity stores companyName (meaningful ID), NOT companyId UUID
    - PartnerContact stores username (meaningful ID), NOT userId UUID
    - API responses combine User + PartnerContact data via HTTP enrichment
    - HTTP calls to Company Service: GET /api/v1/companies/{companyName}
    - HTTP calls to User Service: GET /api/v1/users/{username}
    - NO JPQL joins across service boundaries (ADR-003 microservices pattern)

  contact:
    name: BATbern Platform Team
    email: platform@batbern.ch
  license:
    name: Proprietary
    identifier: Proprietary

servers:
  - url: https://api.batbern.ch/api/v1
    description: Production
  - url: https://api.batbern.ch/api/v1
    description: Staging
  - url: http://localhost:8080/api/v1
    description: Development

tags:
  - name: Partners
    description: Partner relationship management
  - name: Partner Contacts
    description: Partner contact person management

paths:
  /partners:
    get:
      tags: [Partners]
      operationId: listPartners
      summary: List all partners
      description: Get a list of all partner companies with optional filtering
      parameters:
        - name: filter
          in: query
          schema:
            type: string
          description: Filter expression (e.g., "partnershipLevel=GOLD,isActive=true")
        - name: include
          in: query
          schema:
            type: string
          description: Related resources to include (e.g., "company,contacts")
        - name: page
          in: query
          schema:
            type: integer
            default: 0
        - name: size
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of partners
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      tags: [Partners]
      operationId: createPartner
      summary: Create new partnership
      description: Create a new partner relationship (organizer-only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePartnerRequest'
      responses:
        '201':
          description: Partner created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - organizer access required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /partners/{companyName}:
    parameters:
      - name: companyName
        in: path
        required: true
        schema:
          type: string
          maxLength: 12
        description: Company name (meaningful ID per ADR-003)

    get:
      tags: [Partners]
      operationId: getPartnerByCompanyName
      summary: Get partner by company name
      parameters:
        - name: include
          in: query
          schema:
            type: string
          description: Related resources to include
      responses:
        '200':
          description: Partner details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerResponse'
        '404':
          description: Partner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    patch:
      tags: [Partners]
      operationId: updatePartner
      summary: Update partnership details
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePartnerRequest'
      responses:
        '200':
          description: Partner updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Partner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags: [Partners]
      operationId: deletePartner
      summary: Deactivate partnership (soft delete)
      responses:
        '204':
          description: Partner deactivated
        '404':
          description: Partner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /partners/{companyName}/contacts:
    parameters:
      - name: companyName
        in: path
        required: true
        schema:
          type: string
          maxLength: 12
        description: Company name (meaningful ID per ADR-003)

    get:
      tags: [Partner Contacts]
      operationId: getPartnerContacts
      summary: List partner contacts
      description: |
        Returns all users from the User Service who have the PARTNER role and belong to this company.
        Contacts are derived automatically — any PARTNER-role user with matching companyId is a contact.
        No explicit add/remove management is needed.
      responses:
        '200':
          description: List of partner contacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PartnerContactResponse'
        '404':
          description: Partner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /partners/statistics:
    get:
      tags: [Partners]
      operationId: getPartnerStatistics
      summary: Get partner statistics
      description: |
        Get aggregate statistics across all partners including:
        - Total active partners count
        - Partners by tier breakdown
        - Recently added partners
        - Expiring partnerships
      responses:
        '200':
          description: Partner statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerStatistics'

components:
  schemas:
    PartnerResponse:
      type: object
      required:
        - companyName
        - partnershipLevel
        - partnershipStartDate
        - isActive
      properties:
        companyName:
          type: string
          maxLength: 12
          description: Meaningful ID per ADR-003
        partnershipLevel:
          $ref: '#/components/schemas/PartnershipLevel'
        partnershipStartDate:
          type: string
          format: date
        partnershipEndDate:
          type: string
          format: date
        isActive:
          type: boolean
        company:
          $ref: '#/components/schemas/CompanyInfo'
          description: Enriched via HTTP call (when include=company)
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/PartnerContactResponse'
          description: Enriched partner contacts (when include=contacts)

    CreatePartnerRequest:
      type: object
      required:
        - companyName
        - partnershipLevel
        - partnershipStartDate
      properties:
        companyName:
          type: string
          maxLength: 12
        partnershipLevel:
          $ref: '#/components/schemas/PartnershipLevel'
        partnershipStartDate:
          type: string
          format: date
        partnershipEndDate:
          type: string
          format: date

    UpdatePartnerRequest:
      type: object
      properties:
        partnershipLevel:
          $ref: '#/components/schemas/PartnershipLevel'
        partnershipEndDate:
          type: string
          format: date
        isActive:
          type: boolean

    PartnerListResponse:
      type: object
      required:
        - data
        - metadata
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PartnerResponse'
        metadata:
          $ref: '#/components/schemas/PaginationMetadata'

    PartnerContactResponse:
      type: object
      required:
        - username
      properties:
        username:
          type: string
          description: Meaningful ID per ADR-003
        email:
          type: string
          description: From User Service
        firstName:
          type: string
          description: From User Service
        lastName:
          type: string
          description: From User Service
        profilePictureUrl:
          type: string
          description: From User Service

    PartnershipLevel:
      type: string
      enum:
        - BRONZE
        - SILVER
        - GOLD
        - PLATINUM
        - STRATEGIC

    CompanyInfo:
      type: object
      description: Enriched from Company Service (ADR-004)
      properties:
        companyName:
          type: string
        name:
          type: string
          description: Same as companyName (backwards compatibility)
        displayName:
          type: string
        logoUrl:
          type: string
        industry:
          type: string
          description: Industry sector
        website:
          type: string
          description: Company website URL
        location:
          type: string
          description: Company headquarters location

    PartnerStatistics:
      type: object
      required:
        - totalPartners
        - activePartners
        - tierCounts
      properties:
        totalPartners:
          type: integer
          description: Total number of partners
        activePartners:
          type: integer
          description: Number of active partners
        tierCounts:
          type: object
          description: Count of partners by tier (keys are UPPER_CASE per coding standards)
          properties:
            BRONZE:
              type: integer
            SILVER:
              type: integer
            GOLD:
              type: integer
            PLATINUM:
              type: integer
            STRATEGIC:
              type: integer
        recentPartners:
          type: array
          description: Recently added partners (last 30 days)
          items:
            type: object
            properties:
              companyName:
                type: string
              partnershipLevel:
                $ref: '#/components/schemas/PartnershipLevel'
              partnershipStartDate:
                type: string
                format: date
        expiringPartnerships:
          type: array
          description: Partnerships expiring in next 90 days
          items:
            type: object
            properties:
              companyName:
                type: string
              partnershipLevel:
                $ref: '#/components/schemas/PartnershipLevel'
              partnershipEndDate:
                type: string
                format: date

    # Shared-kernel types (imported, not generated)
    ErrorResponse:
      type: object
      x-java-class: ch.batbern.shared.dto.ErrorResponse
      description: Imported from shared-kernel

    PaginationMetadata:
      type: object
      x-java-class: ch.batbern.shared.api.PaginationMetadata
      description: Imported from shared-kernel
