openapi: 3.1.0
info:
  title: BATbern Speakers API
  version: 1.0.0
  description: |
    Speaker Coordination API for BATbern Event Management Platform.

    This API provides speaker management capabilities with:
    - **Speaker Profile Management**: Expertise, availability, speaking history
    - **Slot Preferences Collection**: Time slot preferences and technical requirements
    - **Content Quality Review**: Abstract and material review workflow
    - **Workflow State Management**: Speaker invitation and confirmation workflow

    **Important (ADR-004)**: Speaker entity references User entity.
    - Email, name, bio, photo, company are stored in User entity (NOT duplicated in Speaker)
    - API responses combine User + Speaker data via JPQL joins
    - Internal: Speaker.userId (UUID FK) -> User.id
    - External: username is the public identifier (ADR-003)

    **Status**: IMPLEMENTED (Story 6.0)

  contact:
    name: BATbern Platform Team
    email: platform@batbern.ch
  license:
    name: Proprietary
    identifier: Proprietary

servers:
  - url: https://api.batbern.ch/api/v1
    description: Production
  - url: https://api.staging.batbern.ch/api/v1
    description: Staging
  - url: http://localhost:8080/api/v1
    description: Development

tags:
  - name: Speakers
    description: Speaker profile and management operations
  - name: Speaker Preferences
    description: Slot preferences and technical requirements
  - name: Speaker Status
    description: Speaker workflow status management (Story 5.4)
  - name: Speaker Content
    description: Speaker content submission - title, abstract, materials (Story 5.5)
  - name: Quality Review
    description: Content quality review workflow - approve/reject (Story 5.5)
  - name: Speaker Outreach
    description: Speaker outreach tracking and contact history (Story 5.3)

paths:
  /speakers:
    get:
      tags:
        - Speakers
      summary: List speakers
      description: |
        Retrieve a list of speakers with optional filtering by company, expertise, or availability.

        **Response combines User + Speaker data** (ADR-004):
        - User fields: username, email, firstName, lastName, bio, profilePictureUrl, companyName
        - Speaker fields: availability, workflowState, expertiseAreas, speakingTopics

      operationId: listSpeakers
      parameters:
        - name: companyName
          in: query
          description: Filter by company name (ADR-003 meaningful ID)
          required: false
          schema:
            type: string
            example: GoogleZH
        - name: expertiseArea
          in: query
          description: Filter by expertise area
          required: false
          schema:
            type: string
            example: Security
        - name: availability
          in: query
          description: Filter by availability status
          required: false
          schema:
            $ref: '#/components/schemas/SpeakerAvailability'
        - name: workflowState
          in: query
          description: Filter by workflow state
          required: false
          schema:
            $ref: '#/components/schemas/SpeakerWorkflowState'
        - name: page
          in: query
          description: Page number (0-indexed)
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: expertiseAreas
          in: query
          description: Filter by expertise area (array contains filter) - AC4
          required: false
          schema:
            type: string
            example: Security
        - name: languages
          in: query
          description: Filter by languages (array contains filter) - AC4
          required: false
          schema:
            type: string
            example: de
        - name: speakingTopics
          in: query
          description: Filter by speaking topics (array contains filter) - AC4
          required: false
          schema:
            type: string
            example: Kubernetes
      responses:
        '200':
          description: List of speakers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  speakers:
                    type: array
                    items:
                      $ref: '#/components/schemas/SpeakerResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

    post:
      tags:
        - Speakers
      summary: Create speaker profile
      description: |
        Create a new speaker profile for an existing user.
        Story 6.0: Speaker Profile Foundation (AC2)

        **Prerequisites**:
        - User must already exist in User service
        - Requires ORGANIZER role

      operationId: createSpeaker
      security:
        - CognitoAuth: [ORGANIZER]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpeakerRequest'
      responses:
        '201':
          description: Speaker profile created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerResponse'
        '400':
          description: Bad request - validation errors or duplicate speaker
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role
        '404':
          description: User not found

  /speakers/{username}:
    get:
      tags:
        - Speakers
      summary: Get speaker by username
      description: |
        Retrieve a specific speaker by their username (public identifier from User entity).

        **Response combines User + Speaker data** (ADR-004).

      operationId: getSpeakerByUsername
      parameters:
        - name: username
          in: path
          required: true
          description: Username (ADR-003 meaningful ID from User entity)
          schema:
            type: string
            pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
            example: john.doe
        - name: include
          in: query
          required: false
          description: |
            Resource expansion - comma-separated list of related resources to include (AC3).
            Supported: speakingHistory, events, sessions
          schema:
            type: string
            example: speakingHistory,events
      responses:
        '200':
          description: Speaker retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerResponse'
        '404':
          description: Speaker not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

    patch:
      tags:
        - Speakers
      summary: Update speaker profile
      description: |
        Update speaker-specific fields (availability, expertise, topics).

        **Important (ADR-004)**:
        - To update email, name, bio, photo, company: Use User API (/users/{username})
        - This endpoint updates ONLY speaker-specific fields

      operationId: updateSpeaker
      parameters:
        - name: username
          in: path
          required: true
          description: Username (ADR-003 meaningful ID from User entity)
          schema:
            type: string
            example: john.doe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpeakerRequest'
      responses:
        '200':
          description: Speaker updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerResponse'
        '400':
          description: Bad request - validation errors
        '404':
          description: Speaker not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

    delete:
      tags:
        - Speakers
      summary: Soft delete speaker profile
      description: |
        Soft delete a speaker profile (sets deletedAt timestamp).
        Story 6.0: Speaker Profile Foundation (AC2)

        **Notes**:
        - Speaker is not permanently deleted, just marked as deleted
        - Does not delete the underlying User entity
        - Requires ORGANIZER role

      operationId: deleteSpeaker
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: username
          in: path
          required: true
          description: Username (ADR-003 meaningful ID from User entity)
          schema:
            type: string
            example: john.doe
      responses:
        '204':
          description: Speaker profile deleted successfully
        '404':
          description: Speaker not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

  /speakers/{username}/preferences:
    get:
      tags:
        - Speaker Preferences
      summary: Get speaker slot preferences
      description: |
        Retrieve speaker's slot preferences for a specific event.

      operationId: getSpeakerPreferences
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            example: john.doe
        - name: eventCode
          in: query
          required: true
          description: Event code (ADR-003 meaningful ID)
          schema:
            type: string
            example: BATbern56
      responses:
        '200':
          description: Preferences retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerSlotPreferences'
        '404':
          description: Preferences not found

    post:
      tags:
        - Speaker Preferences
      summary: Submit speaker slot preferences
      description: |
        Speaker submits their slot preferences for an event.

      operationId: submitSpeakerPreferences
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            example: john.doe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitPreferencesRequest'
      responses:
        '201':
          description: Preferences submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerSlotPreferences'
        '400':
          description: Bad request - validation errors

  /events/{eventCode}/speakers/{speakerId}/status:
    put:
      tags:
        - Speaker Status
      summary: Update speaker status
      description: |
        Update the workflow status of a speaker for a specific event.
        Story 5.4: Speaker Status Management (AC1-2, AC10-12)

        Valid state transitions:
        - IDENTIFIED → CONTACTED, DECLINED
        - CONTACTED → READY, DECLINED
        - READY → ACCEPTED, DECLINED
        - ACCEPTED → SLOT_ASSIGNED, CONFIRMED (cannot go back to DECLINED)
        - DECLINED is terminal (cannot transition out)

      operationId: updateSpeakerStatus
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: eventCode
          in: path
          required: true
          description: Event code (ADR-003)
          schema:
            type: string
            example: BATbern56
        - name: speakerId
          in: path
          required: true
          description: Speaker pool ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStatusRequest'
      responses:
        '200':
          description: Status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerStatusResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Speaker not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid state transition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

  /events/{eventCode}/speakers/{speakerId}/status/history:
    get:
      tags:
        - Speaker Status
      summary: Get speaker status history
      description: |
        Retrieve the complete status change history for a speaker.
        Story 5.4: Speaker Status Management (AC3-4, AC15)

      operationId: getSpeakerStatusHistory
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: eventCode
          in: path
          required: true
          description: Event code (ADR-003)
          schema:
            type: string
            example: BATbern56
        - name: speakerId
          in: path
          required: true
          description: Speaker pool ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Status history retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StatusHistoryItem'
        '404':
          description: Speaker not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

  /events/{eventCode}/speakers/status-summary:
    get:
      tags:
        - Speaker Status
      summary: Get status dashboard summary
      description: |
        Get aggregated speaker status counts and metrics for the status dashboard.
        Story 5.4: Speaker Status Management (AC5-6, AC13)

        Returns:
        - Status counts by workflow state
        - Acceptance rate percentage
        - Threshold status (min/max slots)
        - Overflow detection

      operationId: getStatusSummary
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: eventCode
          in: path
          required: true
          description: Event code (ADR-003)
          schema:
            type: string
            example: BATbern56
      responses:
        '200':
          description: Status summary retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusSummaryResponse'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

  # Speaker Content Submission (Story 5.5)
  /events/{eventCode}/speakers/{speakerId}/content:
    get:
      tags:
        - Speaker Content
      summary: Get speaker content
      description: |
        Retrieve existing presentation content for a speaker.
        Story 5.5: Speaker Content Submission (AC34)

        Handles orphaned session references by resetting speaker state.
        Returns material information if uploaded.

      operationId: getSpeakerContent
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: eventCode
          in: path
          required: true
          description: Event code (ADR-003)
          schema:
            type: string
            example: BATbern56
        - name: speakerId
          in: path
          required: true
          description: Speaker pool ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Speaker content retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerContentResponse'
        '404':
          description: Speaker not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

    post:
      tags:
        - Speaker Content
      summary: Submit speaker content
      description: |
        Submit speaker content (presentation title and abstract).
        Story 5.5: Speaker Content Submission (AC6-10, AC33-34, AC37)

        Creates a session with the presentation details and links the speaker.
        Updates speaker status to CONTENT_SUBMITTED.

      operationId: submitSpeakerContent
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: eventCode
          in: path
          required: true
          description: Event code (ADR-003)
          schema:
            type: string
            example: BATbern56
        - name: speakerId
          in: path
          required: true
          description: Speaker pool ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitContentRequest'
      responses:
        '201':
          description: Content submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerContentResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Speaker not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid state - speaker must be in ACCEPTED state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

  # Quality Review Queue (Story 5.5)
  /events/{eventCode}/speakers/review-queue:
    get:
      tags:
        - Quality Review
      summary: Get quality review queue
      description: |
        Get review queue showing all speakers with CONTENT_SUBMITTED status.
        Story 5.5: Speaker Content Submission (AC11)

        Returns speakers pending quality review, ordered by submission date (oldest first).

      operationId: getReviewQueue
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: eventCode
          in: path
          required: true
          description: Event code (ADR-003)
          schema:
            type: string
            example: BATbern56
      responses:
        '200':
          description: Review queue retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpeakerPoolEntry'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

  # Quality Review Action (Story 5.5)
  /events/{eventCode}/speakers/{speakerId}/review:
    post:
      tags:
        - Quality Review
      summary: Approve or reject speaker content
      description: |
        Approve or reject speaker content quality review.
        Story 5.5: Speaker Content Submission (AC13-14, AC17)

        - APPROVE: Updates speaker status to QUALITY_REVIEWED
        - REJECT: Requires feedback, sends notification to speaker with magic link

        Auto-updates to CONFIRMED when both QUALITY_REVIEWED AND slot is assigned.

      operationId: reviewSpeakerContent
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: eventCode
          in: path
          required: true
          description: Event code (ADR-003)
          schema:
            type: string
            example: BATbern56
        - name: speakerId
          in: path
          required: true
          description: Speaker pool ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewRequest'
      responses:
        '204':
          description: Review action completed successfully
        '400':
          description: Validation error (e.g., feedback required for rejection)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Speaker not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid state - speaker must be in CONTENT_SUBMITTED state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

  # Speaker Outreach Tracking (Story 5.3)
  /events/{eventCode}/speakers/{speakerId}/outreach:
    get:
      tags:
        - Speaker Outreach
      summary: Get outreach history for speaker
      description: |
        Get the complete outreach/contact history for a speaker.
        Story 5.3: Speaker Outreach Tracking
      operationId: getOutreachHistory
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: eventCode
          in: path
          required: true
          description: Event code (ADR-003)
          schema:
            type: string
            example: BATbern56
        - name: speakerId
          in: path
          required: true
          description: Speaker pool ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Outreach history retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OutreachHistory'
        '404':
          description: Speaker not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

    post:
      tags:
        - Speaker Outreach
      summary: Record outreach attempt
      description: |
        Record a new outreach/contact attempt with a speaker.
        Story 5.3: Speaker Outreach Tracking
      operationId: recordOutreach
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: eventCode
          in: path
          required: true
          description: Event code (ADR-003)
          schema:
            type: string
            example: BATbern56
        - name: speakerId
          in: path
          required: true
          description: Speaker pool ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordOutreachRequest'
      responses:
        '201':
          description: Outreach recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutreachHistory'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Speaker not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

components:
  schemas:
    SpeakerResponse:
      type: object
      description: |
        Speaker response combines User entity fields with Speaker domain fields (ADR-004).
        Internal: Speaker.userId (UUID FK) -> User.id
        External: username is the public identifier
      properties:
        # From User entity (via JPQL join):
        username:
          type: string
          description: Public identifier from User (ADR-003)
          example: john.doe
        email:
          type: string
          format: email
          description: From User entity
          example: john.doe@example.com
        firstName:
          type: string
          description: From User entity
          example: John
        lastName:
          type: string
          description: From User entity
          example: Doe
        bio:
          type: string
          description: From User entity (single source of truth, no detailedBio)
          example: Experienced software architect with 15 years in the industry.
        profilePictureUrl:
          type: string
          format: uri
          description: From User entity
          example: https://cdn.batbern.ch/users/john.doe/profile.jpg
        companyName:
          type: string
          description: From User.companyId (company name, ADR-003)
          example: GoogleZH

        # Speaker-specific fields:
        availability:
          $ref: '#/components/schemas/SpeakerAvailability'
        workflowState:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        expertiseAreas:
          type: array
          items:
            type: string
          description: Areas of technical expertise
          example: ['Security', 'Cloud Architecture', 'DevOps']
        speakingTopics:
          type: array
          items:
            type: string
          description: Topics the speaker can present
          example: ['Blockchain Security', 'Zero Trust Architecture']
        linkedInUrl:
          type: string
          format: uri
          description: LinkedIn profile (speaker-specific)
          example: https://linkedin.com/in/johndoe
        twitterHandle:
          type: string
          description: Twitter/X handle (speaker-specific)
          example: '@johndoe'
        certifications:
          type: array
          items:
            type: string
          description: Professional certifications
          example: ['CISSP', 'AWS Solutions Architect']
        languages:
          type: array
          items:
            type: string
          description: Languages speaker can present in
          example: ['de', 'en', 'fr']
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        # Resource expansion fields (AC3)
        speakingHistory:
          type: array
          description: Speaking history (when ?include=speakingHistory)
          items:
            $ref: '#/components/schemas/SpeakingHistoryEntry'
        events:
          type: array
          description: Events speaker has presented at (when ?include=events)
          items:
            type: object
        sessions:
          type: array
          description: Sessions speaker has delivered (when ?include=sessions)
          items:
            type: object

    SpeakingHistoryEntry:
      type: object
      description: A single entry in speaker's speaking history
      properties:
        eventCode:
          type: string
          description: Event code (ADR-003)
          example: BATbern55
        eventTitle:
          type: string
          example: BATbern Q3 2025
        sessionTitle:
          type: string
          example: Zero Trust Security in Enterprise
        presentedAt:
          type: string
          format: date-time

    CreateSpeakerRequest:
      type: object
      description: |
        Create a new speaker profile for an existing user.
        Story 6.0: Speaker Profile Foundation (AC2)

        **Requires**: User must exist in User service (validated via UserApiClient)
      required:
        - username
      properties:
        username:
          type: string
          description: Username of existing user (ADR-003)
          example: john.doe
        availability:
          $ref: '#/components/schemas/SpeakerAvailability'
        workflowState:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        expertiseAreas:
          type: array
          items:
            type: string
          description: Areas of technical expertise
          example: ['Security', 'Cloud Architecture']
        speakingTopics:
          type: array
          items:
            type: string
          description: Topics the speaker can present
          example: ['Zero Trust', 'AWS Security']
        linkedInUrl:
          type: string
          format: uri
          description: LinkedIn profile URL
          example: https://linkedin.com/in/johndoe
        twitterHandle:
          type: string
          description: Twitter/X handle
          example: '@johndoe'
        certifications:
          type: array
          items:
            type: string
          description: Professional certifications
          example: ['CISSP', 'AWS Solutions Architect']
        languages:
          type: array
          items:
            type: string
          description: Languages speaker can present in (defaults to ['de', 'en'])
          example: ['de', 'en']

    UpdateSpeakerRequest:
      type: object
      description: |
        Update speaker-specific fields only.
        To update email, name, bio, photo, company: Use User API (ADR-004).
      properties:
        availability:
          $ref: '#/components/schemas/SpeakerAvailability'
        expertiseAreas:
          type: array
          items:
            type: string
        speakingTopics:
          type: array
          items:
            type: string
        linkedInUrl:
          type: string
          format: uri
        twitterHandle:
          type: string
        certifications:
          type: array
          items:
            type: string
        languages:
          type: array
          items:
            type: string

    SpeakerAvailability:
      type: string
      enum:
        - available
        - busy
        - unavailable
      description: Current availability status

    SpeakerWorkflowState:
      type: string
      enum:
        - IDENTIFIED
        - CONTACTED
        - READY
        - DECLINED
        - ACCEPTED
        - CONTENT_SUBMITTED
        - QUALITY_REVIEWED
        - CONFIRMED
      description: |
        Speaker coordination workflow state (UPPER_CASE as per coding-standards.md):
        - IDENTIFIED: Initial state, speaker identified but not yet contacted
        - CONTACTED: Invitation sent to speaker
        - READY: Speaker confirmed availability and interest
        - DECLINED: Speaker declined invitation
        - ACCEPTED: Speaker accepted invitation and confirmed participation
        - CONTENT_SUBMITTED: Speaker submitted presentation content (title, abstract) [Story 5.5]
        - QUALITY_REVIEWED: Speaker's content passed quality review [Story 5.5]
        - CONFIRMED: Speaker has both quality-reviewed content and assigned slot [Story 5.5]

    SpeakerSlotPreferences:
      type: object
      properties:
        username:
          type: string
          description: Speaker username (ADR-003)
          example: john.doe
        eventCode:
          type: string
          description: Event code (ADR-003)
          example: BATbern56
        preferredTimeSlots:
          type: array
          items:
            $ref: '#/components/schemas/TimeSlotPreference'
        technicalRequirements:
          $ref: '#/components/schemas/TechnicalRequirements'
        accessibilityNeeds:
          $ref: '#/components/schemas/AccessibilityNeeds'
        dietaryRestrictions:
          type: string
          maxLength: 200
        submittedAt:
          type: string
          format: date-time

    SubmitPreferencesRequest:
      type: object
      required:
        - eventCode
        - preferredTimeSlots
      properties:
        eventCode:
          type: string
          description: Event code (ADR-003)
          example: BATbern56
        preferredTimeSlots:
          type: array
          items:
            $ref: '#/components/schemas/TimeSlotPreference'
        technicalRequirements:
          $ref: '#/components/schemas/TechnicalRequirements'
        accessibilityNeeds:
          $ref: '#/components/schemas/AccessibilityNeeds'
        dietaryRestrictions:
          type: string
          maxLength: 200

    TimeSlotPreference:
      type: object
      properties:
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        preference:
          type: string
          enum: [strongly_preferred, preferred, acceptable, not_preferred, unavailable]

    TechnicalRequirements:
      type: object
      properties:
        requiresProjector:
          type: boolean
        requiresMicrophone:
          type: boolean
        requiresInternetConnection:
          type: boolean
        ownLaptopRequired:
          type: boolean
        additionalNotes:
          type: string
          maxLength: 500

    AccessibilityNeeds:
      type: object
      properties:
        wheelchairAccessible:
          type: boolean
        signLanguageInterpreter:
          type: boolean
        otherNeeds:
          type: string
          maxLength: 500

    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page (0-indexed)
        limit:
          type: integer
          description: Items per page
        totalItems:
          type: integer
          description: Total number of items
        totalPages:
          type: integer
          description: Total number of pages

    # Story 5.4: Speaker Status Management Schemas

    UpdateStatusRequest:
      type: object
      description: Request to update speaker status (Story 5.4 AC1-4)
      required:
        - newStatus
      properties:
        newStatus:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        reason:
          type: string
          description: Optional reason for status change (max 2000 characters)
          maxLength: 2000
          example: "Speaker confirmed availability via email"

    SpeakerStatusResponse:
      type: object
      description: Response after status update (Story 5.4)
      properties:
        speakerId:
          type: string
          format: uuid
          description: Speaker pool ID
        eventCode:
          type: string
          description: Event code (ADR-003)
          example: BATbern56
        currentStatus:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        previousStatus:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        changedByUsername:
          type: string
          description: Organizer who made the change
          example: john.doe
        changeReason:
          type: string
          description: Reason for the change
          example: "Speaker confirmed availability"
        changedAt:
          type: string
          format: date-time
          description: When the change occurred

    StatusHistoryItem:
      type: object
      description: Single status change record (Story 5.4 AC3-4)
      properties:
        id:
          type: string
          format: uuid
          description: History record ID
        previousStatus:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        newStatus:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        changedByUsername:
          type: string
          description: Organizer who made the change
          example: john.doe
        changeReason:
          type: string
          description: Reason for the change
        changedAt:
          type: string
          format: date-time
          description: When the change occurred

    StatusSummaryResponse:
      type: object
      description: Status dashboard summary (Story 5.4 AC5-6, AC13)
      properties:
        eventCode:
          type: string
          description: Event code (ADR-003)
          example: BATbern56
        statusCounts:
          type: object
          description: Count of speakers in each status
          additionalProperties:
            type: integer
          example:
            IDENTIFIED: 3
            CONTACTED: 5
            READY: 2
            ACCEPTED: 6
            DECLINED: 1
        totalSpeakers:
          type: integer
          description: Total number of speakers
          example: 17
        acceptedCount:
          type: integer
          description: Number of accepted speakers
          example: 6
        declinedCount:
          type: integer
          description: Number of declined speakers
          example: 1
        pendingCount:
          type: integer
          description: Number of pending speakers (not accepted/declined)
          example: 10
        acceptanceRate:
          type: number
          format: double
          description: Acceptance rate percentage
          example: 35.29
        minSlotsRequired:
          type: integer
          description: Minimum speakers required for event
          example: 6
        maxSlotsAllowed:
          type: integer
          description: Maximum speakers allowed for event
          example: 8
        thresholdMet:
          type: boolean
          description: Whether minimum threshold is met
          example: true
        overflowDetected:
          type: boolean
          description: Whether accepted count exceeds maximum (AC13)
          example: false

    ErrorResponse:
      type: object
      description: Standard error response format
      properties:
        timestamp:
          type: string
          format: date-time
          description: When the error occurred
        path:
          type: string
          description: Request path that caused the error
        status:
          type: integer
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Error type
          example: "Bad Request"
        message:
          type: string
          description: Error message
          example: "Validation failed: reason must not exceed 2000 characters"
        correlationId:
          type: string
          format: uuid
          description: Unique error correlation ID for tracing
        severity:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
          description: Error severity level
        details:
          type: object
          description: Additional error details
          additionalProperties: true

    # Speaker Outreach Schemas (Story 5.3)
    OutreachHistory:
      type: object
      description: Record of outreach/contact attempt with a speaker
      required:
        - id
        - speakerPoolId
        - contactDate
        - contactMethod
        - organizerUsername
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          description: Outreach record ID
        speakerPoolId:
          type: string
          format: uuid
          description: Speaker pool entry ID
        contactDate:
          type: string
          format: date-time
          description: When the contact was made
        contactMethod:
          $ref: '#/components/schemas/ContactMethod'
        notes:
          type: string
          maxLength: 2000
          description: Notes about the outreach attempt
        organizerUsername:
          type: string
          description: Username of organizer who made contact
          example: john.doe
        createdAt:
          type: string
          format: date-time
          description: When the record was created

    ContactMethod:
      type: string
      enum:
        - email
        - phone
        - in_person
      description: Method of contact used

    RecordOutreachRequest:
      type: object
      description: Request to record an outreach attempt
      required:
        - contactMethod
        - contactDate
      properties:
        contactMethod:
          $ref: '#/components/schemas/ContactMethod'
        contactDate:
          type: string
          format: date-time
          description: When the contact was made
        notes:
          type: string
          maxLength: 2000
          description: Optional notes about the outreach

    # Story 5.5: Speaker Content Submission Schemas

    SubmitContentRequest:
      type: object
      description: |
        Request to submit speaker content (Story 5.5 AC6-10).
        Creates a session with the presentation details and links the speaker.
      required:
        - presentationTitle
        - presentationAbstract
      properties:
        presentationTitle:
          type: string
          description: Presentation title (becomes session.title)
          maxLength: 255
          example: "Zero Trust Security in Enterprise Environments"
        presentationAbstract:
          type: string
          description: Presentation abstract (becomes session.description). Max 1000 characters.
          maxLength: 1000
          example: "This talk explores the implementation of Zero Trust security principles in large enterprise environments, covering identity verification, micro-segmentation, and continuous monitoring strategies."
        username:
          type: string
          description: Speaker username (if existing user selected, ADR-003)
          example: john.doe
        speakerName:
          type: string
          description: Speaker name (if creating new user)
          example: John Doe
        email:
          type: string
          format: email
          description: Speaker email (if creating new user)
          example: john.doe@example.com
        company:
          type: string
          description: Speaker company (optional)
          example: Google Switzerland
        bio:
          type: string
          description: Speaker bio (optional)
          example: "Experienced security architect with 15 years in the industry."

    SpeakerContentResponse:
      type: object
      description: |
        Response for speaker content operations (Story 5.5 AC6-10).
        Returns session details and speaker status after content submission or retrieval.
      properties:
        speakerPoolId:
          type: string
          format: uuid
          description: Speaker pool entry ID
        eventId:
          type: string
          format: uuid
          description: Event ID
        sessionId:
          type: string
          format: uuid
          description: Created session ID (AC7)
        presentationTitle:
          type: string
          description: Presentation title (from session.title)
          example: "Zero Trust Security in Enterprise Environments"
        presentationAbstract:
          type: string
          description: Presentation abstract (from session.description)
          example: "This talk explores..."
        username:
          type: string
          description: Speaker username (ADR-003)
          example: john.doe
        speakerName:
          type: string
          description: Speaker full name
          example: John Doe
        company:
          type: string
          description: Speaker company
          example: Google Switzerland
        status:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        hasContent:
          type: boolean
          description: Whether content exists for this speaker. False if session was deleted (AC34).
        warning:
          type: string
          description: Warning message if issues detected (AC34 - "Content was lost. Please resubmit.")
        submittedAt:
          type: string
          format: date-time
          description: When content was submitted
        hasMaterial:
          type: boolean
          description: Whether presentation material has been uploaded
        materialUrl:
          type: string
          format: uri
          description: Material download URL (CloudFront CDN URL)
          example: "https://cdn.batbern.ch/materials/presentation.pdf"
        materialFileName:
          type: string
          description: Material filename for display
          example: "zero-trust-presentation.pdf"

    ReviewRequest:
      type: object
      description: Request for quality review action (Story 5.5 AC13-14)
      required:
        - action
      properties:
        action:
          $ref: '#/components/schemas/ReviewAction'
        feedback:
          type: string
          description: Feedback for rejection (required when action is REJECT)
          maxLength: 2000
          example: "Please provide more technical details about the implementation approach."

    ReviewAction:
      type: string
      enum:
        - APPROVE
        - REJECT
      description: |
        Quality review action:
        - APPROVE: Accept the content, update status to QUALITY_REVIEWED
        - REJECT: Reject the content, requires feedback, sends notification with magic link

    SpeakerPoolEntry:
      type: object
      description: Speaker pool entry for review queue
      properties:
        id:
          type: string
          format: uuid
          description: Speaker pool entry ID
        eventId:
          type: string
          format: uuid
          description: Event ID
        speakerName:
          type: string
          description: Speaker name
          example: John Doe
        company:
          type: string
          description: Speaker company
          example: Google Switzerland
        status:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        contentStatus:
          type: string
          enum:
            - NOT_STARTED
            - IN_PROGRESS
            - SUBMITTED
            - REVISION_NEEDED
          description: Content submission status
        sessionId:
          type: string
          format: uuid
          description: Associated session ID (if content submitted)
        submittedAt:
          type: string
          format: date-time
          description: When content was submitted
        notes:
          type: string
          description: Notes (e.g., rejection feedback)

  securitySchemes:
    CognitoAuth:
      type: oauth2
      description: AWS Cognito authentication with role-based access control
      flows:
        implicit:
          authorizationUrl: https://auth.batbern.ch/oauth2/authorize
          scopes:
            ORGANIZER: Organizer role - can manage speakers, events, and content
            ATTENDEE: Attendee role - read-only access to public speaker info
            SPEAKER: Speaker role - can manage own profile and content
