openapi: 3.1.0
info:
  title: BATbern Speakers API
  version: 1.0.0
  description: |
    Speaker Coordination API for BATbern Event Management Platform.

    This API provides speaker management capabilities with:
    - **Speaker Profile Management**: Expertise, availability, speaking history
    - **Slot Preferences Collection**: Time slot preferences and technical requirements
    - **Content Quality Review**: Abstract and material review workflow
    - **Workflow State Management**: Speaker invitation and confirmation workflow

    **Important (ADR-004)**: Speaker entity references User entity.
    - Email, name, bio, photo, company are stored in User entity (NOT duplicated in Speaker)
    - API responses combine User + Speaker data via JPQL joins
    - Internal: Speaker.userId (UUID FK) -> User.id
    - External: username is the public identifier (ADR-003)

    **Status**: NOT YET IMPLEMENTED - This spec defines the future API design

  contact:
    name: BATbern Platform Team
    email: platform@batbern.ch
  license:
    name: Proprietary
    identifier: Proprietary

servers:
  - url: https://api.batbern.ch/api/v1
    description: Production
  - url: https://api.staging.batbern.ch/api/v1
    description: Staging
  - url: http://localhost:8080/api/v1
    description: Development

tags:
  - name: Speakers
    description: Speaker profile and management operations
  - name: Speaker Preferences
    description: Slot preferences and technical requirements
  - name: Quality Review
    description: Content quality review workflow
  - name: Speaker Outreach
    description: Speaker outreach tracking and contact history (Story 5.3)

paths:
  /speakers:
    get:
      tags:
        - Speakers
      summary: List speakers
      description: |
        Retrieve a list of speakers with optional filtering by company, expertise, or availability.

        **Response combines User + Speaker data** (ADR-004):
        - User fields: username, email, firstName, lastName, bio, profilePictureUrl, companyName
        - Speaker fields: availability, workflowState, expertiseAreas, speakingTopics

      operationId: listSpeakers
      parameters:
        - name: companyName
          in: query
          description: Filter by company name (ADR-003 meaningful ID)
          required: false
          schema:
            type: string
            example: GoogleZH
        - name: expertiseArea
          in: query
          description: Filter by expertise area
          required: false
          schema:
            type: string
            example: Security
        - name: availability
          in: query
          description: Filter by availability status
          required: false
          schema:
            $ref: '#/components/schemas/SpeakerAvailability'
        - name: workflowState
          in: query
          description: Filter by workflow state
          required: false
          schema:
            $ref: '#/components/schemas/SpeakerWorkflowState'
        - name: page
          in: query
          description: Page number (0-indexed)
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: List of speakers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  speakers:
                    type: array
                    items:
                      $ref: '#/components/schemas/SpeakerResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /speakers/{username}:
    get:
      tags:
        - Speakers
      summary: Get speaker by username
      description: |
        Retrieve a specific speaker by their username (public identifier from User entity).

        **Response combines User + Speaker data** (ADR-004).

      operationId: getSpeakerByUsername
      parameters:
        - name: username
          in: path
          required: true
          description: Username (ADR-003 meaningful ID from User entity)
          schema:
            type: string
            pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
            example: john.doe
      responses:
        '200':
          description: Speaker retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerResponse'
        '404':
          description: Speaker not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

    patch:
      tags:
        - Speakers
      summary: Update speaker profile
      description: |
        Update speaker-specific fields (availability, expertise, topics).

        **Important (ADR-004)**:
        - To update email, name, bio, photo, company: Use User API (/users/{username})
        - This endpoint updates ONLY speaker-specific fields

      operationId: updateSpeaker
      parameters:
        - name: username
          in: path
          required: true
          description: Username (ADR-003 meaningful ID from User entity)
          schema:
            type: string
            example: john.doe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpeakerRequest'
      responses:
        '200':
          description: Speaker updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerResponse'
        '400':
          description: Bad request - validation errors
        '404':
          description: Speaker not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /speakers/{username}/preferences:
    get:
      tags:
        - Speaker Preferences
      summary: Get speaker slot preferences
      description: |
        Retrieve speaker's slot preferences for a specific event.

      operationId: getSpeakerPreferences
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            example: john.doe
        - name: eventCode
          in: query
          required: true
          description: Event code (ADR-003 meaningful ID)
          schema:
            type: string
            example: BATbern56
      responses:
        '200':
          description: Preferences retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerSlotPreferences'
        '404':
          description: Preferences not found

    post:
      tags:
        - Speaker Preferences
      summary: Submit speaker slot preferences
      description: |
        Speaker submits their slot preferences for an event.

      operationId: submitSpeakerPreferences
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            example: john.doe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitPreferencesRequest'
      responses:
        '201':
          description: Preferences submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerSlotPreferences'
        '400':
          description: Bad request - validation errors

  /events/{eventCode}/speakers/{speakerId}/status:
    put:
      tags:
        - Speaker Status
      summary: Update speaker status
      description: |
        Update the workflow status of a speaker for a specific event.
        Story 5.4: Speaker Status Management (AC1-2, AC10-12)

        Valid state transitions:
        - IDENTIFIED → CONTACTED, DECLINED
        - CONTACTED → READY, DECLINED
        - READY → ACCEPTED, DECLINED
        - ACCEPTED → SLOT_ASSIGNED, CONFIRMED (cannot go back to DECLINED)
        - DECLINED is terminal (cannot transition out)

      operationId: updateSpeakerStatus
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: eventCode
          in: path
          required: true
          description: Event code (ADR-003)
          schema:
            type: string
            example: BATbern56
        - name: speakerId
          in: path
          required: true
          description: Speaker pool ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStatusRequest'
      responses:
        '200':
          description: Status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerStatusResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Speaker not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid state transition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

  /events/{eventCode}/speakers/{speakerId}/status/history:
    get:
      tags:
        - Speaker Status
      summary: Get speaker status history
      description: |
        Retrieve the complete status change history for a speaker.
        Story 5.4: Speaker Status Management (AC3-4, AC15)

      operationId: getSpeakerStatusHistory
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: eventCode
          in: path
          required: true
          description: Event code (ADR-003)
          schema:
            type: string
            example: BATbern56
        - name: speakerId
          in: path
          required: true
          description: Speaker pool ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Status history retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StatusHistoryItem'
        '404':
          description: Speaker not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

  /events/{eventCode}/speakers/status-summary:
    get:
      tags:
        - Speaker Status
      summary: Get status dashboard summary
      description: |
        Get aggregated speaker status counts and metrics for the status dashboard.
        Story 5.4: Speaker Status Management (AC5-6, AC13)

        Returns:
        - Status counts by workflow state
        - Acceptance rate percentage
        - Threshold status (min/max slots)
        - Overflow detection

      operationId: getStatusSummary
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: eventCode
          in: path
          required: true
          description: Event code (ADR-003)
          schema:
            type: string
            example: BATbern56
      responses:
        '200':
          description: Status summary retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusSummaryResponse'
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

  # Speaker Outreach Tracking (Story 5.3)
  /events/{eventCode}/speakers/{speakerId}/outreach:
    get:
      tags:
        - Speaker Outreach
      summary: Get outreach history for speaker
      description: |
        Get the complete outreach/contact history for a speaker.
        Story 5.3: Speaker Outreach Tracking
      operationId: getOutreachHistory
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: eventCode
          in: path
          required: true
          description: Event code (ADR-003)
          schema:
            type: string
            example: BATbern56
        - name: speakerId
          in: path
          required: true
          description: Speaker pool ID (UUID)
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Outreach history retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OutreachHistory'
        '404':
          description: Speaker not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

    post:
      tags:
        - Speaker Outreach
      summary: Record outreach attempt
      description: |
        Record a new outreach/contact attempt with a speaker.
        Story 5.3: Speaker Outreach Tracking
      operationId: recordOutreach
      security:
        - CognitoAuth: [ORGANIZER]
      parameters:
        - name: eventCode
          in: path
          required: true
          description: Event code (ADR-003)
          schema:
            type: string
            example: BATbern56
        - name: speakerId
          in: path
          required: true
          description: Speaker pool ID (UUID)
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordOutreachRequest'
      responses:
        '201':
          description: Outreach recorded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutreachHistory'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Speaker not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - requires ORGANIZER role

components:
  schemas:
    SpeakerResponse:
      type: object
      description: |
        Speaker response combines User entity fields with Speaker domain fields (ADR-004).
        Internal: Speaker.userId (UUID FK) -> User.id
        External: username is the public identifier
      properties:
        # From User entity (via JPQL join):
        username:
          type: string
          description: Public identifier from User (ADR-003)
          example: john.doe
        email:
          type: string
          format: email
          description: From User entity
          example: john.doe@example.com
        firstName:
          type: string
          description: From User entity
          example: John
        lastName:
          type: string
          description: From User entity
          example: Doe
        bio:
          type: string
          description: From User entity (single source of truth, no detailedBio)
          example: Experienced software architect with 15 years in the industry.
        profilePictureUrl:
          type: string
          format: uri
          description: From User entity
          example: https://cdn.batbern.ch/users/john.doe/profile.jpg
        companyName:
          type: string
          description: From User.companyId (company name, ADR-003)
          example: GoogleZH

        # Speaker-specific fields:
        availability:
          $ref: '#/components/schemas/SpeakerAvailability'
        workflowState:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        expertiseAreas:
          type: array
          items:
            type: string
          description: Areas of technical expertise
          example: ['Security', 'Cloud Architecture', 'DevOps']
        speakingTopics:
          type: array
          items:
            type: string
          description: Topics the speaker can present
          example: ['Blockchain Security', 'Zero Trust Architecture']
        linkedInUrl:
          type: string
          format: uri
          description: LinkedIn profile (speaker-specific)
          example: https://linkedin.com/in/johndoe
        twitterHandle:
          type: string
          description: Twitter/X handle (speaker-specific)
          example: '@johndoe'
        certifications:
          type: array
          items:
            type: string
          description: Professional certifications
          example: ['CISSP', 'AWS Solutions Architect']
        languages:
          type: array
          items:
            type: string
          description: Languages speaker can present in
          example: ['de', 'en', 'fr']
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    UpdateSpeakerRequest:
      type: object
      description: |
        Update speaker-specific fields only.
        To update email, name, bio, photo, company: Use User API (ADR-004).
      properties:
        availability:
          $ref: '#/components/schemas/SpeakerAvailability'
        expertiseAreas:
          type: array
          items:
            type: string
        speakingTopics:
          type: array
          items:
            type: string
        linkedInUrl:
          type: string
          format: uri
        twitterHandle:
          type: string
        certifications:
          type: array
          items:
            type: string
        languages:
          type: array
          items:
            type: string

    SpeakerAvailability:
      type: string
      enum:
        - available
        - busy
        - unavailable
      description: Current availability status

    SpeakerWorkflowState:
      type: string
      enum:
        - IDENTIFIED
        - CONTACTED
        - READY
        - DECLINED
        - ACCEPTED
        - CONTENT_SUBMITTED
        - QUALITY_REVIEWED
        - CONFIRMED
      description: |
        Speaker coordination workflow state (UPPER_CASE as per coding-standards.md):
        - IDENTIFIED: Initial state, speaker identified but not yet contacted
        - CONTACTED: Invitation sent to speaker
        - READY: Speaker confirmed availability and interest
        - DECLINED: Speaker declined invitation
        - ACCEPTED: Speaker accepted invitation and confirmed participation
        - CONTENT_SUBMITTED: Speaker submitted presentation content (title, abstract) [Story 5.5]
        - QUALITY_REVIEWED: Speaker's content passed quality review [Story 5.5]
        - CONFIRMED: Speaker has both quality-reviewed content and assigned slot [Story 5.5]

    SpeakerSlotPreferences:
      type: object
      properties:
        username:
          type: string
          description: Speaker username (ADR-003)
          example: john.doe
        eventCode:
          type: string
          description: Event code (ADR-003)
          example: BATbern56
        preferredTimeSlots:
          type: array
          items:
            $ref: '#/components/schemas/TimeSlotPreference'
        technicalRequirements:
          $ref: '#/components/schemas/TechnicalRequirements'
        accessibilityNeeds:
          $ref: '#/components/schemas/AccessibilityNeeds'
        dietaryRestrictions:
          type: string
          maxLength: 200
        submittedAt:
          type: string
          format: date-time

    SubmitPreferencesRequest:
      type: object
      required:
        - eventCode
        - preferredTimeSlots
      properties:
        eventCode:
          type: string
          description: Event code (ADR-003)
          example: BATbern56
        preferredTimeSlots:
          type: array
          items:
            $ref: '#/components/schemas/TimeSlotPreference'
        technicalRequirements:
          $ref: '#/components/schemas/TechnicalRequirements'
        accessibilityNeeds:
          $ref: '#/components/schemas/AccessibilityNeeds'
        dietaryRestrictions:
          type: string
          maxLength: 200

    TimeSlotPreference:
      type: object
      properties:
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        preference:
          type: string
          enum: [strongly_preferred, preferred, acceptable, not_preferred, unavailable]

    TechnicalRequirements:
      type: object
      properties:
        requiresProjector:
          type: boolean
        requiresMicrophone:
          type: boolean
        requiresInternetConnection:
          type: boolean
        ownLaptopRequired:
          type: boolean
        additionalNotes:
          type: string
          maxLength: 500

    AccessibilityNeeds:
      type: object
      properties:
        wheelchairAccessible:
          type: boolean
        signLanguageInterpreter:
          type: boolean
        otherNeeds:
          type: string
          maxLength: 500

    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page (0-indexed)
        limit:
          type: integer
          description: Items per page
        totalItems:
          type: integer
          description: Total number of items
        totalPages:
          type: integer
          description: Total number of pages

    # Story 5.4: Speaker Status Management Schemas

    UpdateStatusRequest:
      type: object
      description: Request to update speaker status (Story 5.4 AC1-4)
      required:
        - newStatus
      properties:
        newStatus:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        reason:
          type: string
          description: Optional reason for status change (max 2000 characters)
          maxLength: 2000
          example: "Speaker confirmed availability via email"

    SpeakerStatusResponse:
      type: object
      description: Response after status update (Story 5.4)
      properties:
        speakerId:
          type: string
          format: uuid
          description: Speaker pool ID
        eventCode:
          type: string
          description: Event code (ADR-003)
          example: BATbern56
        currentStatus:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        previousStatus:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        changedByUsername:
          type: string
          description: Organizer who made the change
          example: john.doe
        changeReason:
          type: string
          description: Reason for the change
          example: "Speaker confirmed availability"
        changedAt:
          type: string
          format: date-time
          description: When the change occurred

    StatusHistoryItem:
      type: object
      description: Single status change record (Story 5.4 AC3-4)
      properties:
        id:
          type: string
          format: uuid
          description: History record ID
        previousStatus:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        newStatus:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        changedByUsername:
          type: string
          description: Organizer who made the change
          example: john.doe
        changeReason:
          type: string
          description: Reason for the change
        changedAt:
          type: string
          format: date-time
          description: When the change occurred

    StatusSummaryResponse:
      type: object
      description: Status dashboard summary (Story 5.4 AC5-6, AC13)
      properties:
        eventCode:
          type: string
          description: Event code (ADR-003)
          example: BATbern56
        statusCounts:
          type: object
          description: Count of speakers in each status
          additionalProperties:
            type: integer
          example:
            IDENTIFIED: 3
            CONTACTED: 5
            READY: 2
            ACCEPTED: 6
            DECLINED: 1
        totalSpeakers:
          type: integer
          description: Total number of speakers
          example: 17
        acceptedCount:
          type: integer
          description: Number of accepted speakers
          example: 6
        declinedCount:
          type: integer
          description: Number of declined speakers
          example: 1
        pendingCount:
          type: integer
          description: Number of pending speakers (not accepted/declined)
          example: 10
        acceptanceRate:
          type: number
          format: double
          description: Acceptance rate percentage
          example: 35.29
        minSlotsRequired:
          type: integer
          description: Minimum speakers required for event
          example: 6
        maxSlotsAllowed:
          type: integer
          description: Maximum speakers allowed for event
          example: 8
        thresholdMet:
          type: boolean
          description: Whether minimum threshold is met
          example: true
        overflowDetected:
          type: boolean
          description: Whether accepted count exceeds maximum (AC13)
          example: false

    ErrorResponse:
      type: object
      description: Standard error response format
      properties:
        timestamp:
          type: string
          format: date-time
          description: When the error occurred
        path:
          type: string
          description: Request path that caused the error
        status:
          type: integer
          description: HTTP status code
          example: 400
        error:
          type: string
          description: Error type
          example: "Bad Request"
        message:
          type: string
          description: Error message
          example: "Validation failed: reason must not exceed 2000 characters"
        correlationId:
          type: string
          format: uuid
          description: Unique error correlation ID for tracing
        severity:
          type: string
          enum: [LOW, MEDIUM, HIGH, CRITICAL]
          description: Error severity level
        details:
          type: object
          description: Additional error details
          additionalProperties: true

    # Speaker Outreach Schemas (Story 5.3)
    OutreachHistory:
      type: object
      description: Record of outreach/contact attempt with a speaker
      required:
        - id
        - speakerPoolId
        - contactDate
        - contactMethod
        - organizerUsername
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          description: Outreach record ID
        speakerPoolId:
          type: string
          format: uuid
          description: Speaker pool entry ID
        contactDate:
          type: string
          format: date-time
          description: When the contact was made
        contactMethod:
          $ref: '#/components/schemas/ContactMethod'
        notes:
          type: string
          maxLength: 2000
          description: Notes about the outreach attempt
        organizerUsername:
          type: string
          description: Username of organizer who made contact
          example: john.doe
        createdAt:
          type: string
          format: date-time
          description: When the record was created

    ContactMethod:
      type: string
      enum:
        - email
        - phone
        - in_person
      description: Method of contact used

    RecordOutreachRequest:
      type: object
      description: Request to record an outreach attempt
      required:
        - contactMethod
        - contactDate
      properties:
        contactMethod:
          $ref: '#/components/schemas/ContactMethod'
        contactDate:
          type: string
          format: date-time
          description: When the contact was made
        notes:
          type: string
          maxLength: 2000
          description: Optional notes about the outreach
