openapi: 3.1.0
info:
  title: BATbern Speakers API
  version: 1.0.0
  description: |
    Speaker Coordination API for BATbern Event Management Platform.

    This API provides speaker management capabilities with:
    - **Speaker Profile Management**: Expertise, availability, speaking history
    - **Slot Preferences Collection**: Time slot preferences and technical requirements
    - **Content Quality Review**: Abstract and material review workflow
    - **Workflow State Management**: Speaker invitation and confirmation workflow

    **Important (ADR-004)**: Speaker entity references User entity.
    - Email, name, bio, photo, company are stored in User entity (NOT duplicated in Speaker)
    - API responses combine User + Speaker data via JPQL joins
    - Internal: Speaker.userId (UUID FK) -> User.id
    - External: username is the public identifier (ADR-003)

    **Status**: NOT YET IMPLEMENTED - This spec defines the future API design

  contact:
    name: BATbern Platform Team
    email: platform@batbern.ch
  license:
    name: Proprietary
    identifier: Proprietary

servers:
  - url: https://api.batbern.ch/api/v1
    description: Production
  - url: https://api.staging.batbern.ch/api/v1
    description: Staging
  - url: http://localhost:8080/api/v1
    description: Development

tags:
  - name: Speakers
    description: Speaker profile and management operations
  - name: Speaker Preferences
    description: Slot preferences and technical requirements
  - name: Quality Review
    description: Content quality review workflow

paths:
  /speakers:
    get:
      tags:
        - Speakers
      summary: List speakers
      description: |
        Retrieve a list of speakers with optional filtering by company, expertise, or availability.

        **Response combines User + Speaker data** (ADR-004):
        - User fields: username, email, firstName, lastName, bio, profilePictureUrl, companyName
        - Speaker fields: availability, workflowState, expertiseAreas, speakingTopics

      operationId: listSpeakers
      parameters:
        - name: companyName
          in: query
          description: Filter by company name (ADR-003 meaningful ID)
          required: false
          schema:
            type: string
            example: GoogleZH
        - name: expertiseArea
          in: query
          description: Filter by expertise area
          required: false
          schema:
            type: string
            example: Security
        - name: availability
          in: query
          description: Filter by availability status
          required: false
          schema:
            $ref: '#/components/schemas/SpeakerAvailability'
        - name: workflowState
          in: query
          description: Filter by workflow state
          required: false
          schema:
            $ref: '#/components/schemas/SpeakerWorkflowState'
        - name: page
          in: query
          description: Page number (0-indexed)
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: List of speakers retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  speakers:
                    type: array
                    items:
                      $ref: '#/components/schemas/SpeakerResponse'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '400':
          description: Bad request - invalid parameters
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /speakers/{username}:
    get:
      tags:
        - Speakers
      summary: Get speaker by username
      description: |
        Retrieve a specific speaker by their username (public identifier from User entity).

        **Response combines User + Speaker data** (ADR-004).

      operationId: getSpeakerByUsername
      parameters:
        - name: username
          in: path
          required: true
          description: Username (ADR-003 meaningful ID from User entity)
          schema:
            type: string
            pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
            example: john.doe
      responses:
        '200':
          description: Speaker retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerResponse'
        '404':
          description: Speaker not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

    patch:
      tags:
        - Speakers
      summary: Update speaker profile
      description: |
        Update speaker-specific fields (availability, expertise, topics).

        **Important (ADR-004)**:
        - To update email, name, bio, photo, company: Use User API (/users/{username})
        - This endpoint updates ONLY speaker-specific fields

      operationId: updateSpeaker
      parameters:
        - name: username
          in: path
          required: true
          description: Username (ADR-003 meaningful ID from User entity)
          schema:
            type: string
            example: john.doe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpeakerRequest'
      responses:
        '200':
          description: Speaker updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerResponse'
        '400':
          description: Bad request - validation errors
        '404':
          description: Speaker not found
        '401':
          description: Unauthorized
        '403':
          description: Forbidden

  /speakers/{username}/preferences:
    get:
      tags:
        - Speaker Preferences
      summary: Get speaker slot preferences
      description: |
        Retrieve speaker's slot preferences for a specific event.

      operationId: getSpeakerPreferences
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            example: john.doe
        - name: eventCode
          in: query
          required: true
          description: Event code (ADR-003 meaningful ID)
          schema:
            type: string
            example: BATbern56
      responses:
        '200':
          description: Preferences retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerSlotPreferences'
        '404':
          description: Preferences not found

    post:
      tags:
        - Speaker Preferences
      summary: Submit speaker slot preferences
      description: |
        Speaker submits their slot preferences for an event.

      operationId: submitSpeakerPreferences
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
            example: john.doe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitPreferencesRequest'
      responses:
        '201':
          description: Preferences submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeakerSlotPreferences'
        '400':
          description: Bad request - validation errors

components:
  schemas:
    SpeakerResponse:
      type: object
      description: |
        Speaker response combines User entity fields with Speaker domain fields (ADR-004).
        Internal: Speaker.userId (UUID FK) -> User.id
        External: username is the public identifier
      properties:
        # From User entity (via JPQL join):
        username:
          type: string
          description: Public identifier from User (ADR-003)
          example: john.doe
        email:
          type: string
          format: email
          description: From User entity
          example: john.doe@example.com
        firstName:
          type: string
          description: From User entity
          example: John
        lastName:
          type: string
          description: From User entity
          example: Doe
        bio:
          type: string
          description: From User entity (single source of truth, no detailedBio)
          example: Experienced software architect with 15 years in the industry.
        profilePictureUrl:
          type: string
          format: uri
          description: From User entity
          example: https://cdn.batbern.ch/users/john.doe/profile.jpg
        companyName:
          type: string
          description: From User.companyId (company name, ADR-003)
          example: GoogleZH

        # Speaker-specific fields:
        availability:
          $ref: '#/components/schemas/SpeakerAvailability'
        workflowState:
          $ref: '#/components/schemas/SpeakerWorkflowState'
        expertiseAreas:
          type: array
          items:
            type: string
          description: Areas of technical expertise
          example: ['Security', 'Cloud Architecture', 'DevOps']
        speakingTopics:
          type: array
          items:
            type: string
          description: Topics the speaker can present
          example: ['Blockchain Security', 'Zero Trust Architecture']
        linkedInUrl:
          type: string
          format: uri
          description: LinkedIn profile (speaker-specific)
          example: https://linkedin.com/in/johndoe
        twitterHandle:
          type: string
          description: Twitter/X handle (speaker-specific)
          example: '@johndoe'
        certifications:
          type: array
          items:
            type: string
          description: Professional certifications
          example: ['CISSP', 'AWS Solutions Architect']
        languages:
          type: array
          items:
            type: string
          description: Languages speaker can present in
          example: ['de', 'en', 'fr']
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    UpdateSpeakerRequest:
      type: object
      description: |
        Update speaker-specific fields only.
        To update email, name, bio, photo, company: Use User API (ADR-004).
      properties:
        availability:
          $ref: '#/components/schemas/SpeakerAvailability'
        expertiseAreas:
          type: array
          items:
            type: string
        speakingTopics:
          type: array
          items:
            type: string
        linkedInUrl:
          type: string
          format: uri
        twitterHandle:
          type: string
        certifications:
          type: array
          items:
            type: string
        languages:
          type: array
          items:
            type: string

    SpeakerAvailability:
      type: string
      enum:
        - available
        - busy
        - unavailable
      description: Current availability status

    SpeakerWorkflowState:
      type: string
      enum:
        - open
        - contacted
        - ready
        - declined
        - accepted
        - slot_assigned
        - quality_reviewed
        - final_agenda
      description: |
        Speaker coordination workflow state:
        - open: Initial state, speaker identified but not yet contacted
        - contacted: Invitation sent to speaker
        - ready: Speaker confirmed availability and interest
        - declined: Speaker declined invitation
        - accepted: Speaker accepted invitation and confirmed participation
        - slot_assigned: Speaker assigned to specific time slot
        - quality_reviewed: Speaker's content passed quality review
        - final_agenda: Speaker finalized in published agenda

    SpeakerSlotPreferences:
      type: object
      properties:
        username:
          type: string
          description: Speaker username (ADR-003)
          example: john.doe
        eventCode:
          type: string
          description: Event code (ADR-003)
          example: BATbern56
        preferredTimeSlots:
          type: array
          items:
            $ref: '#/components/schemas/TimeSlotPreference'
        technicalRequirements:
          $ref: '#/components/schemas/TechnicalRequirements'
        accessibilityNeeds:
          $ref: '#/components/schemas/AccessibilityNeeds'
        dietaryRestrictions:
          type: string
          maxLength: 200
        submittedAt:
          type: string
          format: date-time

    SubmitPreferencesRequest:
      type: object
      required:
        - eventCode
        - preferredTimeSlots
      properties:
        eventCode:
          type: string
          description: Event code (ADR-003)
          example: BATbern56
        preferredTimeSlots:
          type: array
          items:
            $ref: '#/components/schemas/TimeSlotPreference'
        technicalRequirements:
          $ref: '#/components/schemas/TechnicalRequirements'
        accessibilityNeeds:
          $ref: '#/components/schemas/AccessibilityNeeds'
        dietaryRestrictions:
          type: string
          maxLength: 200

    TimeSlotPreference:
      type: object
      properties:
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        preference:
          type: string
          enum: [strongly_preferred, preferred, acceptable, not_preferred, unavailable]

    TechnicalRequirements:
      type: object
      properties:
        requiresProjector:
          type: boolean
        requiresMicrophone:
          type: boolean
        requiresInternetConnection:
          type: boolean
        ownLaptopRequired:
          type: boolean
        additionalNotes:
          type: string
          maxLength: 500

    AccessibilityNeeds:
      type: object
      properties:
        wheelchairAccessible:
          type: boolean
        signLanguageInterpreter:
          type: boolean
        otherNeeds:
          type: string
          maxLength: 500

    Pagination:
      type: object
      properties:
        page:
          type: integer
          description: Current page (0-indexed)
        limit:
          type: integer
          description: Items per page
        totalItems:
          type: integer
          description: Total number of items
        totalPages:
          type: integer
          description: Total number of pages
