openapi: 3.1.0
info:
  title: BATbern Users API
  version: 1.0.0
  description: |
    Consolidated Users API for BATbern Event Management Platform.

    This API provides comprehensive user management capabilities with:
    - **Resource Expansion**: `?include=` parameter for company, roles, preferences, settings, activity
    - **Advanced Filtering**: MongoDB-style JSON filter syntax for complex queries
    - **Field Selection**: Sparse fieldsets to reduce payload size
    - **Pagination**: Standard page/limit parameters
    - **Caching**: Caffeine in-memory cache (10min TTL)
    - **Role Management**: Business rules enforcement (minimum 2 organizers)
    - **GDPR Compliance**: Cascade deletion and audit logging

    **Important (ADR-004)**: User entity is the single source of truth for email, name, bio, photo, company.
    Domain entities (Speaker, Attendee, Partner) reference User and never duplicate these fields.

    **Story**: 1.14-2 - User Management Service Foundation
    **Story 1.16.2**: Eliminate UUIDs from API - Use username as identifier

    **Performance Targets**:
    - Current user (GET /users/me): <100ms (P95)
    - User list (no includes): <100ms (P95)
    - User detail (basic): <150ms (P95)
    - User detail (all includes): <150ms (P95)
    - Cached search response: <50ms (P95)
    - Get-or-create user: <200ms (P95)

  contact:
    name: BATbern Platform Team
    email: platform@batbern.ch
  license:
    name: Proprietary
    identifier: Proprietary

servers:
  - url: https://api.batbern.ch/api/v1
    description: Production
  - url: https://api.staging.batbern.ch/api/v1
    description: Staging
  - url: http://localhost:8080/api/v1
    description: Development

tags:
  - name: User Management
    description: User profile CRUD and management operations
  - name: User Search
    description: User search and autocomplete with caching
  - name: User Preferences
    description: User preference management
  - name: User Settings
    description: User account settings management
  - name: Role Management
    description: User role management with business rules
  - name: Activity History
    description: User activity tracking and history
  - name: Profile Picture
    description: Profile picture upload and management
  - name: GDPR Compliance
    description: GDPR-compliant data export and deletion
  - name: Domain Integration
    description: Domain service integration endpoints

paths:
  /users/{username}/watch-pairing:
    post:
      operationId: generateWatchPairingCode
      tags:
        - Watch Pairing
      summary: Generate pairing code (AC1)
      description: |
        Generate a 6-digit numeric pairing code for the organizer's Apple Watch.
        Code expires after 24 hours (NFR20). Max 2 watches per organizer (NFR19).
      security:
        - BearerAuth: []
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: Pairing code generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairingCodeResponse'
        '409':
          description: Maximum 2 watches already paired (AC2)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized - missing or invalid JWT
        '403':
          description: Forbidden - not owner or not ORGANIZER role

    get:
      operationId: getWatchPairingStatus
      tags:
        - Watch Pairing
      summary: Get pairing status
      description: Returns list of paired watches and any pending pairing code.
      security:
        - BearerAuth: []
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pairing status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairingStatusResponse'
        '401':
          description: Unauthorized - missing or invalid JWT
        '403':
          description: Forbidden

  /users/{username}/watch-pairing/{watchId}:
    delete:
      operationId: unpairWatch
      tags:
        - Watch Pairing
      summary: Unpair a watch (AC4)
      description: Hard-delete the pairing record by UUID (GDPR compliant). Uses id instead of deviceName because deviceName is nullable (not set during pairing flow).
      security:
        - BearerAuth: []
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
        - name: watchId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Watch unpaired
        '404':
          description: Watch not found
        '401':
          description: Unauthorized - missing or invalid JWT
        '403':
          description: Forbidden

  /users/me:
    get:
      tags:
        - User Management
      summary: Get current authenticated user
      description: |
        Retrieve the profile of the currently authenticated user with optional resource expansion.

        **Acceptance Criteria**: AC1

        **Resource Expansion**:
        - company: Expands company details
        - preferences: Includes user preferences
        - settings: Includes account settings
        - roles: Includes full role information
        - activity: Includes recent activity history

        **Performance**: <100ms (P95)

      operationId: getCurrentUser
      parameters:
        - name: include
          in: query
          description: Comma-separated list of resources to include
          required: false
          schema:
            type: string
            example: 'company,preferences,settings'
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
              examples:
                basicUser:
                  summary: Basic user profile
                  value:
                    id: john.doe
                    email: john.doe@example.com
                    firstName: John
                    lastName: Doe
                    roles: [SPEAKER, ATTENDEE]
                    active: true
                    createdAt: 2025-01-15T10:00:00Z
                    updatedAt: 2025-01-15T10:00:00Z
                expandedUser:
                  summary: User with all expansions
                  value:
                    id: john.doe
                    email: john.doe@example.com
                    firstName: John
                    lastName: Doe
                    roles: [SPEAKER, ATTENDEE]
                    companyId: Swiss IT Solutions AG
                    active: true
                    createdAt: 2025-01-15T10:00:00Z
                    updatedAt: 2025-01-15T10:00:00Z
                    company:
                      id: Swiss IT Solutions AG
                      name: Swiss IT Solutions AG
                      industry: Technology
                    preferences:
                      theme: dark
                      language: de
                      emailNotifications: true
                    settings:
                      profileVisibility: members_only
                      showEmail: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

    put:
      tags:
        - User Management
      summary: Update current user profile
      description: |
        Update the profile of the currently authenticated user.

        **Acceptance Criteria**: AC2

        **Validation Rules**:
        - Email must be valid and unique
        - Names: 2-100 characters
        - Bio: max 2000 characters

        **Cognito Sync**: Updates synchronize with AWS Cognito

        **Events Published**: UserUpdatedEvent to EventBridge

        **Cache Invalidation**: All user caches cleared on update

      operationId: updateCurrentUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
            examples:
              basicUpdate:
                summary: Update basic profile
                value:
                  firstName: Jonathan
                  lastName: Doe
                  bio: Software engineer specializing in cloud architecture
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

    patch:
      tags:
        - User Management
      summary: Partially update current user profile
      description: |
        Partially update the profile of the currently authenticated user.

        **Acceptance Criteria**: AC2

        Similar to PUT but allows partial updates.

      operationId: patchCurrentUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /users:
    get:
      tags:
        - User Management
      summary: List users with advanced query support
      description: |
        Retrieve a paginated list of users with optional filtering, sorting,
        field selection, and resource expansion.

        **Acceptance Criteria**: AC3, AC13, AC14

        **Authorization**: ADMIN or ORGANIZER role required

        **Filter Syntax Examples**:
        - Single filter: {"role":"SPEAKER"}
        - Multiple fields: {"role":"SPEAKER","isActive":true}
        - Company filter: {"companyId":"550e8400-e29b-41d4-a716-446655440000"}
        - Logical operators: {"$or":[{"role":"SPEAKER"},{"role":"PARTNER"}]}

        **Sort Syntax**:
        - Ascending: lastName or +lastName
        - Descending: -createdAt
        - Multiple fields: lastName,-createdAt

        **Field Selection**:
        - Specific fields: ?fields=id,email,firstName,lastName,roles
        - All fields: omit fields parameter

        **Resource Expansion**:
        - ?include=company: Expands company details
        - ?include=roles: Includes full role information
        - ?include=preferences: Includes user preferences

        **Performance**:
        - Basic query: <100ms (P95)
        - With all includes: <150ms (P95)

      operationId: listUsers
      parameters:
        - name: filter
          in: query
          description: MongoDB-style JSON filter criteria
          required: false
          schema:
            type: string
            example: '{"role":"SPEAKER","isActive":true}'
        - name: sort
          in: query
          description: Sort fields (comma-separated, prefix with - for descending)
          required: false
          schema:
            type: string
            example: '-createdAt,lastName'
        - name: page
          in: query
          description: Page number (1-indexed)
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Items per page (max 100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: fields
          in: query
          description: Comma-separated field names for sparse fieldsets
          required: false
          schema:
            type: string
            example: 'id,email,firstName,lastName,roles'
        - name: include
          in: query
          description: Comma-separated list of resources to include
          required: false
          schema:
            type: string
            example: 'company,roles,preferences'
        - name: role
          in: query
          description: Filter by specific role (deprecated, use filter parameter)
          required: false
          schema:
            type: string
            enum: [ORGANIZER, SPEAKER, PARTNER, ATTENDEE]
        - name: company
          in: query
          description: Filter by company name (deprecated, use filter parameter)
          required: false
          schema:
            type: string
            example: Swiss IT Solutions AG
        - name: sortBy
          in: query
          description: Field to sort by (whitelisted server-side)
          required: false
          schema:
            type: string
            enum: [name, email, company]
            default: name
        - name: sortDir
          in: query
          description: Sort direction
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
      responses:
        '200':
          description: Successful response with paginated users
          headers:
            X-Cache-Status:
              description: Cache hit status (HIT or MISS)
              schema:
                type: string
                enum: [HIT, MISS]
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

    post:
      tags:
        - User Management
      summary: Create new user (Organizer/Admin only)
      description: |
        Create a new user with Cognito integration and automatic username generation.

        **Acceptance Criteria**: AC4 (Story 2.5.2 - User Management Frontend)

        **Authorization**: ORGANIZER or ADMIN role required

        **Business Rules**:
        - Email must be unique
        - Username auto-generated from first/last name (e.g., john.doe)
        - User created in Cognito with email_verified=true
        - Default role: ATTENDEE (unless initialRoles specified)
        - Password set via Cognito welcome email

        **Events Published**: UserCreatedEvent to EventBridge

        **Performance**: <200ms (P95)

      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
            examples:
              basicUser:
                summary: Basic user creation
                value:
                  email: anna.mueller@example.com
                  firstName: Anna
                  lastName: Müller
                  companyId: Swiss IT Solutions AG
                  initialRoles:
                    - ATTENDEE
              organizerUser:
                summary: Create organizer
                value:
                  email: john.admin@batbern.ch
                  firstName: John
                  lastName: Admin
                  companyId: BATbern GmbH
                  initialRoles:
                    - ORGANIZER
                  bio: Senior event organizer
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
              examples:
                createdUser:
                  summary: Newly created user
                  value:
                    id: anna.mueller
                    email: anna.mueller@example.com
                    firstName: Anna
                    lastName: Müller
                    username: anna.mueller
                    companyId: Swiss IT Solutions AG
                    roles:
                      - ATTENDEE
                    active: true
                    createdAt: '2025-10-21T20:00:00Z'
                    updatedAt: '2025-10-21T20:00:00Z'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                duplicateEmail:
                  summary: Email already exists
                  value:
                    timestamp: '2025-10-21T20:00:00Z'
                    status: 400
                    error: ERR_VALIDATION
                    message: User with email anna.mueller@example.com already exists
                    path: /api/v1/users
                invalidEmail:
                  summary: Invalid email format
                  value:
                    timestamp: '2025-10-21T20:00:00Z'
                    status: 400
                    error: ERR_VALIDATION
                    message: Invalid email format
                    path: /api/v1/users
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden - Requires ORGANIZER or ADMIN role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /users/{username}:
    get:
      tags:
        - User Management
      summary: Get user details by username
      description: |
        Retrieve detailed information about a specific user.

        **Acceptance Criteria**: AC5

        **Story 1.16.2**: Uses username as identifier instead of UUID

        **Resource Expansion**: Supports ?include parameter

        **Performance**: <150ms (P95)

      operationId: getUserByUsername
      parameters:
        - name: username
          in: path
          description: Username (unique identifier)
          required: true
          schema:
            type: string
            pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
            example: john.doe
        - name: include
          in: query
          description: Comma-separated list of resources to include
          required: false
          schema:
            type: string
            example: 'company,roles'
      responses:
        '200':
          description: User details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

    delete:
      tags:
        - GDPR Compliance
      summary: Delete user and all associated data
      description: |
        Delete a user and cascade deletion across all domain services.

        **Acceptance Criteria**: AC11

        **Story 1.16.2**: Uses username as identifier instead of UUID

        **Authorization**: ADMIN role or self-deletion

        **Business Rules**:
        - Cannot delete last ORGANIZER user
        - Cascade deletion across Event, Speaker, Partner, Attendee services

        **Events Published**: UserDeletedEvent to EventBridge

        **Audit Logging**: GDPR compliance logging

      operationId: deleteUser
      parameters:
        - name: username
          in: path
          description: Username (unique identifier)
          required: true
          schema:
            type: string
            pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
            example: john.doe
      responses:
        '204':
          description: User deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /users/search:
    get:
      tags:
        - User Search
      summary: Search users with autocomplete
      description: |
        Search users by name or email with autocomplete functionality.

        **Acceptance Criteria**: AC4, AC11

        **Caching**:
        - Caffeine in-memory cache with 10-minute TTL
        - Cache key includes query, role filter, and limit
        - Automatic cache invalidation on user updates

        **Performance**:
        - Cached response: <50ms (P95)
        - Cache miss: <100ms (P95)

        **Default Results**: 20 users (configurable via limit parameter)

      operationId: searchUsers
      parameters:
        - name: query
          in: query
          description: Search query (minimum 1 character)
          required: true
          schema:
            type: string
            minLength: 1
            example: 'John'
        - name: role
          in: query
          description: Filter by specific role
          required: false
          schema:
            type: string
            enum: [ORGANIZER, SPEAKER, PARTNER, ATTENDEE]
        - name: limit
          in: query
          description: Maximum number of results (default 20)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Search results returned successfully
          headers:
            X-Cache-Status:
              description: Cache hit status (HIT or MISS)
              schema:
                type: string
                enum: [HIT, MISS]
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserSearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /users/me/preferences:
    get:
      tags:
        - User Preferences
      summary: Get current user preferences
      description: |
        Retrieve preferences for the currently authenticated user.

        **Acceptance Criteria**: AC6

        Includes: theme, language, notification settings, quiet hours

      operationId: getUserPreferences
      responses:
        '200':
          description: Preferences retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferences'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

    put:
      tags:
        - User Preferences
      summary: Update current user preferences
      description: |
        Update preferences for the currently authenticated user.

        **Acceptance Criteria**: AC6

        **Validation**: All preference values validated against allowed enums/formats

      operationId: updateUserPreferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPreferences'
            examples:
              preferenceUpdate:
                summary: Update preferences
                value:
                  theme: dark
                  language: de
                  emailNotifications: true
                  notificationFrequency: daily_digest
                  quietHoursStart: '22:00'
                  quietHoursEnd: '07:00'
      responses:
        '200':
          description: Preferences updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferences'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /users/me/settings:
    get:
      tags:
        - User Settings
      summary: Get current user settings
      description: |
        Retrieve account settings for the currently authenticated user.

        **Acceptance Criteria**: AC7

        Includes: privacy controls, account preferences, security settings

      operationId: getUserSettings
      responses:
        '200':
          description: Settings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

    put:
      tags:
        - User Settings
      summary: Update current user settings
      description: |
        Update account settings for the currently authenticated user.

        **Acceptance Criteria**: AC7

        **Privacy Controls**: Profile visibility, contact information display
        **Security Settings**: Two-factor authentication enablement

      operationId: updateUserSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettings'
      responses:
        '200':
          description: Settings updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /users/{username}/roles:
    get:
      tags:
        - Role Management
      summary: Get user roles
      description: |
        Retrieve roles for a specific user.

        **Acceptance Criteria**: AC8

        **Story 1.16.2**: Uses username as identifier instead of UUID

        **Authorization**: ADMIN or ORGANIZER role required

      operationId: getUserRoles
      parameters:
        - name: username
          in: path
          description: Username (unique identifier)
          required: true
          schema:
            type: string
            pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
            example: john.doe
      responses:
        '200':
          description: Roles retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRolesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

    put:
      tags:
        - Role Management
      summary: Update user roles
      description: |
        Update roles for a specific user.

        **Acceptance Criteria**: AC8

        **Story 1.16.2**: Uses username as identifier instead of UUID

        **Authorization**: ADMIN or ORGANIZER role required

        **Business Rules**:
        - System must maintain at least 2 active ORGANIZER role users
        - Removing ORGANIZER role requires approval if only 2 remain

        **Events Published**: UserRoleChangedEvent to EventBridge

        **Cache Invalidation**: All user caches cleared on role update

      operationId: updateUserRoles
      parameters:
        - name: username
          in: path
          description: Username (unique identifier)
          required: true
          schema:
            type: string
            pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
            example: john.doe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRolesRequest'
      responses:
        '200':
          description: Roles updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserRolesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /users/{username}/activity:
    get:
      tags:
        - Activity History
      summary: Get user activity history
      description: |
        Retrieve paginated activity history for a specific user.

        **Acceptance Criteria**: AC9

        **Story 1.16.2**: Uses username as identifier instead of UUID

        **Activity Types**: event_registered, session_attended, topic_voted, content_viewed

        **Timeframe Filtering**: Support for date range queries

      operationId: getUserActivity
      parameters:
        - name: username
          in: path
          description: Username (unique identifier)
          required: true
          schema:
            type: string
            pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
            example: john.doe
        - name: timeframe
          in: query
          description: Filter by timeframe
          required: false
          schema:
            type: string
            enum: [24h, 7d, 30d, 90d, all]
            default: 30d
        - name: activityType
          in: query
          description: Filter by activity type
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Activity history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActivityHistory'
                  pagination:
                    $ref: '#/components/schemas/PaginationMetadata'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /users/me/picture:
    post:
      tags:
        - Profile Picture
      summary: Upload profile picture
      description: |
        Generate presigned S3 upload URL for profile picture.

        **Acceptance Criteria**: AC10

        **File Constraints**:
        - Max size: 5 MB
        - Allowed formats: PNG, JPG, JPEG
        - Recommended dimensions: 400x400 to 1000x1000 pixels

        **Upload Process**:
        1. Client calls this endpoint to get presigned URL
        2. Client uploads directly to S3 using presigned URL
        3. Client calls confirm endpoint with file ID

      operationId: uploadProfilePicture
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - filename
                - fileSizeBytes
                - mimeType
              properties:
                filename:
                  type: string
                  maxLength: 255
                fileSizeBytes:
                  type: integer
                  minimum: 1
                  maximum: 5242880  # 5 MB
                mimeType:
                  type: string
                  enum: [image/png, image/jpeg, image/jpg]
      responses:
        '200':
          description: Presigned upload URL generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadUrl:
                    type: string
                    format: uri
                    description: Presigned S3 upload URL (valid for 15 minutes)
                  fileId:
                    type: string
                    description: File identifier for confirmation
                  expiresIn:
                    type: integer
                    description: URL expiration time in seconds
                    example: 900
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /users/me/picture/presigned-url:
    post:
      tags:
        - Profile Picture
      summary: Request presigned URL for profile picture upload
      description: |
        Generate presigned S3 upload URL for current user's profile picture.

        **Acceptance Criteria**: AC10

        **File Constraints**:
        - Max size: 5 MB
        - Allowed formats: PNG, JPG, JPEG, SVG
        - Recommended dimensions: 400x400 to 1000x1000 pixels

        **Upload Process**:
        1. Client calls this endpoint to get presigned URL
        2. Client uploads directly to S3 using presigned URL
        3. Client calls /users/me/picture/confirm with file ID and extension

      operationId: requestProfilePictureUploadUrl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilePictureUploadRequest'
      responses:
        '200':
          description: Presigned upload URL generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedUploadUrl'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /users/me/picture/confirm:
    post:
      tags:
        - Profile Picture
      summary: Confirm profile picture upload completion
      description: |
        Confirm that profile picture has been uploaded to S3 and associate with user.

        **Acceptance Criteria**: AC10

        Must be called after successful upload to presigned URL.

      operationId: confirmProfilePictureUpload
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilePictureUploadConfirmRequest'
      responses:
        '200':
          description: Upload confirmed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilePictureUploadConfirmResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /users/{username}/picture/presigned-url:
    post:
      tags:
        - Profile Picture
      summary: Request presigned URL for user profile picture upload (Admin)
      description: |
        Admin endpoint to generate presigned S3 upload URL for a specific user's profile picture.

        **Authorization**: ORGANIZER role required

        **File Constraints**:
        - Max size: 5 MB
        - Allowed formats: PNG, JPG, JPEG, SVG

        **Upload Process**:
        1. Admin calls this endpoint to get presigned URL
        2. Admin uploads directly to S3 using presigned URL
        3. Admin calls /users/{username}/picture/confirm with file ID and extension

      operationId: requestProfilePictureUploadUrlForUser
      parameters:
        - name: username
          in: path
          description: Username (unique identifier)
          required: true
          schema:
            type: string
            pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
            example: john.doe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilePictureUploadRequest'
      responses:
        '200':
          description: Presigned upload URL generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignedUploadUrl'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /users/{username}/picture/confirm:
    post:
      tags:
        - Profile Picture
      summary: Confirm user profile picture upload completion (Admin)
      description: |
        Admin endpoint to confirm that profile picture has been uploaded to S3 for a specific user.

        **Authorization**: ORGANIZER role required

        Must be called after successful upload to presigned URL.

      operationId: confirmProfilePictureUploadForUser
      parameters:
        - name: username
          in: path
          description: Username (unique identifier)
          required: true
          schema:
            type: string
            pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
            example: john.doe
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfilePictureUploadConfirmRequest'
      responses:
        '200':
          description: Upload confirmed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfilePictureUploadConfirmResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /users/{username}/picture:
    delete:
      tags:
        - Profile Picture
      summary: Remove user profile picture (Admin)
      description: |
        Admin endpoint to remove profile picture for a specific user.

        **Authorization**: ORGANIZER role required

        Clears profile picture URL and S3 key from user entity.

      operationId: removeProfilePictureForUser
      parameters:
        - name: username
          in: path
          description: Username (unique identifier)
          required: true
          schema:
            type: string
            pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
            example: john.doe
      responses:
        '204':
          description: Profile picture removed successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /users/get-or-create:
    post:
      tags:
        - Domain Integration
      summary: Get or create user (for domain services, supports anonymous users)
      description: |
        Idempotent endpoint for domain services to get existing user or create new user.

        **ADR-005**: Anonymous Event Registration - creates users with cognito_id=NULL
        **Story 4.1.5a**: Architecture consolidation
        **Acceptance Criteria**: AC12

        **Use Cases**:
        - Event Service: Create anonymous user during public event registration (ADR-005)
        - Speaker Service: Create user account when speaker registers
        - Partner Service: Create user account for partner contact
        - Attendee Service: Create user account during event registration

        **Anonymous Users** (ADR-005):
        - When cognitoSync=false, creates user_profile with cognito_id=NULL
        - User can later create Cognito account which auto-links on first login
        - Email serves as unique identifier for anonymous users

        **Idempotency**: Safe to call multiple times with same email

        **Cognito Sync**: Optionally creates Cognito user if createIfMissing=true

        **Performance**: <200ms (P95)

      operationId: getOrCreateUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetOrCreateUserRequest'
            examples:
              speakerRegistration:
                summary: Speaker registration
                value:
                  email: jane.smith@example.com
                  firstName: Jane
                  lastName: Smith
                  createIfMissing: true
                  cognitoSync: true
      responses:
        '200':
          description: User retrieved or created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrCreateUserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  # W2.2: Watch Authentication Endpoints (unauthenticated — code/token IS the credential)
  /watch/pair:
    post:
      operationId: pairWatch
      tags:
        - Watch Authentication
      summary: Exchange pairing code for pairing token (W2.2 AC2/AC3)
      description: |
        Exchanges a 6-digit pairing code (generated via POST /users/{username}/watch-pairing)
        for a long-lived pairing token. The code is single-use and cleared after exchange.

        **Unauthenticated** — the pairing code is the credential.

        Returns 400 if code is invalid, not found, or expired.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchPairingRequest'
            example:
              pairingCode: "482715"
      responses:
        '200':
          description: Pairing successful — returns pairing token and organizer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchPairingResponse'
              example:
                pairingToken: "a1b2c3d4-1234567890-98765"
                organizerUsername: "marco.organizer"
                organizerFirstName: "Marco"
        '400':
          description: Code invalid, expired, or wrong format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []

  /watch/authenticate:
    post:
      operationId: authenticateWatch
      tags:
        - Watch Authentication
      summary: Exchange pairing token for short-lived JWT (W2.2 AC4/NFR16)
      description: |
        Exchanges a pairing token for a short-lived JWT (1-hour lifespan per NFR16).
        Called on app launch and auto-refreshed 10 minutes before expiry.

        **Unauthenticated** — the pairing token is the credential.

        Returns 401 if pairing token is invalid or pairing is incomplete.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WatchAuthRequest'
            example:
              pairingToken: "a1b2c3d4-1234567890-98765"
      responses:
        '200':
          description: Authentication successful — returns JWT and expiry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WatchAuthResponse'
              example:
                jwt: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                expiresAt: "2026-02-17T16:30:00"
        '401':
          description: Pairing token invalid or pairing incomplete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security: []

components:
  schemas:
    # W2.2: Watch Authentication Schemas
    WatchPairingRequest:
      type: object
      required:
        - pairingCode
      properties:
        pairingCode:
          type: string
          pattern: '^\d{6}$'
          description: 6-digit numeric pairing code generated by the web frontend
          example: "482715"

    WatchPairingResponse:
      type: object
      required:
        - pairingToken
        - organizerUsername
        - organizerFirstName
      properties:
        pairingToken:
          type: string
          description: Long-lived token stored in Watch Keychain (NFR15)
        organizerUsername:
          type: string
          description: Organizer's username
        organizerFirstName:
          type: string
          description: Organizer's first name for display

    WatchAuthRequest:
      type: object
      required:
        - pairingToken
      properties:
        pairingToken:
          type: string
          description: Pairing token obtained from /watch/pair

    WatchAuthResponse:
      type: object
      required:
        - jwt
        - expiresAt
      properties:
        jwt:
          type: string
          description: Short-lived JWT for authenticated Watch API calls (1 hour, NFR16)
        expiresAt:
          type: string
          format: date-time
          description: JWT expiry timestamp (ISO 8601)

    UserResponse:
      type: object
      description: |
        User response with meaningful IDs.
        Story 1.16.2: id field contains username, not UUID.
      required:
        - id
        - email
        - firstName
        - lastName
        - roles
        - isActive
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          description: Username (unique identifier) - Story 1.16.2
          pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
          example: john.doe
        hasCognitoAccount:
          type: boolean
          description: True if this user has a linked Cognito account (UUID not exposed per ADR-003)
          example: true
        email:
          type: string
          format: email
          example: john.doe@example.com
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        bio:
          type: string
          example: Software engineer passionate about cloud architecture
        companyId:
          type: string
          description: Company name (unique identifier) - Story 1.16.2
          example: Swiss IT Solutions AG
        roles:
          type: array
          items:
            type: string
            enum: [ORGANIZER, SPEAKER, PARTNER, ATTENDEE]
        profilePictureUrl:
          type: string
          format: uri
          example: https://cdn.batbern.ch/profile-pictures/550e8400.jpg
        active:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time
          example: 2025-01-15T10:00:00Z
        updatedAt:
          type: string
          format: date-time
          example: 2025-01-15T10:00:00Z
        lastLoginAt:
          type: string
          format: date-time
          example: 2025-01-20T14:30:00Z
        company:
          $ref: '#/components/schemas/Company'
        preferences:
          $ref: '#/components/schemas/UserPreferences'
        settings:
          $ref: '#/components/schemas/UserSettings'

    UserPreferences:
      type: object
      properties:
        theme:
          type: string
          enum: [light, dark, auto]
          default: auto
        language:
          type: string
          enum: [de, en, fr, it, rm, es, fi, nl, ja]
          default: de
        emailNotifications:
          type: boolean
          default: true
        inAppNotifications:
          type: boolean
          default: true
        pushNotifications:
          type: boolean
          default: false
        notificationFrequency:
          type: string
          enum: [immediate, daily_digest, weekly_digest]
          default: immediate
        quietHoursStart:
          type: string
          pattern: '^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$'
          example: '22:00'
        quietHoursEnd:
          type: string
          pattern: '^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$'
          example: '07:00'

    UserSettings:
      type: object
      properties:
        profileVisibility:
          type: string
          enum: [public, members_only, private]
          default: members_only
        showEmail:
          type: boolean
          default: false
        showCompany:
          type: boolean
          default: true
        showActivityHistory:
          type: boolean
          default: false
        allowMessaging:
          type: boolean
          default: true
        allowCalendarSync:
          type: boolean
          default: false
        timezone:
          type: string
          example: Europe/Zurich
        twoFactorEnabled:
          type: boolean
          default: false

    UpdateUserRequest:
      type: object
      properties:
        firstName:
          type: string
          minLength: 2
          maxLength: 100
        lastName:
          type: string
          minLength: 2
          maxLength: 100
        email:
          type: string
          format: email
        bio:
          type: string
          maxLength: 2000
        companyId:
          type: string
          description: Company name (unique identifier, alphanumeric only)
          pattern: '^[a-zA-Z0-9]{1,12}$'
          maxLength: 12
          example: PostFinance

    UserSearchResponse:
      type: object
      description: |
        User search result with meaningful IDs.
        Story 1.16.2: id field contains username, not UUID.
      required:
        - id
        - email
        - firstName
        - lastName
      properties:
        id:
          type: string
          description: Username (unique identifier) - Story 1.16.2
          pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
          example: john.doe
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        companyId:
          type: string
          description: Company name (unique identifier) - Story 1.16.2
          example: Swiss IT Solutions AG
        roles:
          type: array
          items:
            type: string
        profilePictureUrl:
          type: string
          format: uri

    CreateUserRequest:
      type: object
      description: Request body for creating a new user (Story 2.5.2 AC4)
      required:
        - email
        - firstName
        - lastName
      properties:
        email:
          type: string
          format: email
          description: User email address (must be unique)
          example: anna.mueller@example.com
        firstName:
          type: string
          minLength: 1
          maxLength: 100
          description: User first name
          example: Anna
        lastName:
          type: string
          minLength: 1
          maxLength: 100
          description: User last name
          example: Müller
        companyId:
          type: string
          description: Company name (unique identifier) - Story 1.16.2
          example: Swiss IT Solutions AG
        initialRoles:
          type: array
          description: Initial roles for the user (defaults to [ATTENDEE] if not specified)
          items:
            type: string
            enum: [ORGANIZER, SPEAKER, PARTNER, ATTENDEE]
          example: [ATTENDEE]
        bio:
          type: string
          maxLength: 500
          description: User biography/description
          example: Software engineer passionate about cloud architecture

    GetOrCreateUserRequest:
      type: object
      description: Request to get an existing user or create a new one. Supports both authenticated (Cognito) and anonymous users (ADR-005).
      required:
        - email
        - firstName
        - lastName
      properties:
        email:
          type: string
          format: email
          description: User email address. Used as unique identifier for anonymous users and for account linking.
          example: john.doe@example.com
        firstName:
          type: string
          description: User first name
          example: John
        lastName:
          type: string
          description: User last name
          example: Doe
        companyId:
          type: string
          description: Company name (unique identifier) - Story 1.16.2. Optional for anonymous event registration.
          example: Swiss IT Solutions AG
        createIfMissing:
          type: boolean
          description: If true, creates a new user if not found. If false, returns error if user doesn't exist.
          default: true
        cognitoSync:
          type: boolean
          description: |
            ADR-005: Controls whether to sync with AWS Cognito.
            - true (default): Creates/syncs with Cognito account (authenticated user)
            - false: Creates anonymous user with cognito_id=NULL (for event registration without account)
            When false, user profile is created without Cognito account and can be linked later via post-authentication trigger.
          default: true
          example: false

    GetOrCreateUserResponse:
      type: object
      required:
        - username
        - created
        - user
      properties:
        username:
          type: string
          description: Username (unique identifier) - Story 1.16.2
          pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
          example: john.doe
        created:
          type: boolean
          description: True if user was created, false if existing
        cognitoUserId:
          type: string
          description: Cognito user ID (only if created)
        user:
          $ref: '#/components/schemas/UserResponse'

    ActivityHistory:
      type: object
      description: |
        Activity history record for audit purposes.
        Note: id field uses internal UUID format (exception to ADR-003) as activity records
        are internal audit entries and are not referenced across services.
      properties:
        id:
          type: string
          description: Activity ID (internal UUID preserved for audit purposes - ADR-003 exception for internal audit records)
          format: uuid
        username:
          type: string
          description: Username (unique identifier) - Story 1.16.2
          pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
          example: john.doe
        activityType:
          type: string
          example: event_registered
        entityType:
          type: string
          example: event
        entityId:
          type: string
          example: evt-123
        description:
          type: string
          example: Registered for BATbern Developer Meetup
        metadata:
          type: object
          additionalProperties: true
        timestamp:
          type: string
          format: date-time

    Company:
      type: object
      description: |
        Company details with meaningful IDs.
        Story 1.16.2: id field contains company name, not UUID.
      properties:
        id:
          type: string
          description: Company name (unique identifier) - Story 1.16.2
          example: Swiss IT Solutions AG
        name:
          type: string
          description: Company name (same as id)
          example: Swiss IT Solutions AG
        displayName:
          type: string
        industry:
          type: string
        website:
          type: string
          format: uri

    PaginatedUserResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserResponse'
        pagination:
          $ref: '#/components/schemas/PaginationMetadata'

    UserRolesResponse:
      type: object
      description: User roles response
      required:
        - username
        - roles
      properties:
        username:
          type: string
          description: Username (unique identifier) - Story 1.16.2
          pattern: '^[a-z]+\.[a-z]+(\.[0-9]+)?$'
          example: john.doe
        roles:
          type: array
          items:
            type: string
            enum: [ORGANIZER, SPEAKER, PARTNER, ATTENDEE]

    UpdateUserRolesRequest:
      type: object
      description: Request to update user roles
      required:
        - roles
      properties:
        roles:
          type: array
          items:
            type: string
            enum: [ORGANIZER, SPEAKER, PARTNER, ATTENDEE]
          minItems: 1

    ProfilePictureUploadRequest:
      type: object
      description: Request to generate presigned URL for profile picture upload
      required:
        - fileName
        - fileSize
      properties:
        fileName:
          type: string
          description: Original filename with extension
          maxLength: 255
          example: profile.jpg
        fileSize:
          type: integer
          description: File size in bytes (max 5 MB)
          minimum: 1
          maximum: 5242880
          example: 1048576

    PresignedUploadUrl:
      type: object
      description: Presigned URL response for S3 upload
      required:
        - uploadUrl
        - fileId
        - s3Key
        - fileExtension
        - expiresInMinutes
      properties:
        uploadUrl:
          type: string
          format: uri
          description: Presigned S3 upload URL
          example: https://s3.eu-central-1.amazonaws.com/bucket/...
        fileId:
          type: string
          description: Unique file identifier for confirmation
          example: f3e8d1a4-5b2c-4d6e-8a9b-1c2d3e4f5a6b
        s3Key:
          type: string
          description: S3 object key where file will be stored
          example: profile-pictures/2025/john.doe/profile-f3e8d1a4.jpg
        fileExtension:
          type: string
          description: File extension
          example: jpg
        expiresInMinutes:
          type: integer
          description: URL expiration time in minutes
          example: 15
        requiredHeaders:
          type: object
          additionalProperties:
            type: string
          description: Headers required for the upload request
          example:
            Content-Type: image/jpeg

    ProfilePictureUploadConfirmRequest:
      type: object
      description: Request to confirm profile picture upload completion
      required:
        - fileId
        - fileExtension
      properties:
        fileId:
          type: string
          description: File identifier from presigned URL response
          example: f3e8d1a4-5b2c-4d6e-8a9b-1c2d3e4f5a6b
        fileExtension:
          type: string
          description: File extension (png, jpg, jpeg, svg)
          example: jpg
        checksum:
          type: string
          description: Optional SHA256 checksum of uploaded file
          example: sha256=abc123...

    ProfilePictureUploadConfirmResponse:
      type: object
      description: Response after confirming profile picture upload
      required:
        - profilePictureUrl
      properties:
        profilePictureUrl:
          type: string
          format: uri
          description: CloudFront URL for the uploaded profile picture
          example: https://cdn.batbern.ch/profile-pictures/2025/john.doe/profile-f3e8d1a4.jpg

    PaginationMetadata:
      type: object
      required:
        - page
        - limit
        - totalItems
        - totalPages
        - hasNext
        - hasPrev
      properties:
        page:
          type: integer
          description: Current page (1-indexed)
          example: 1
        limit:
          type: integer
          description: Items per page
          example: 20
        totalItems:
          type: integer
          description: Total number of items
          example: 150
        totalPages:
          type: integer
          description: Total number of pages
          example: 8
        hasNext:
          type: boolean
          description: Whether there is a next page
          example: true
        hasPrev:
          type: boolean
          description: Whether there is a previous page
          example: false

    ErrorResponse:
      type: object
      required:
        - error
        - message
        - timestamp
      properties:
        error:
          type: string
          example: VALIDATION_ERROR
        errorCode:
          type: string
          example: BAD_REQUEST
        message:
          type: string
          example: Invalid request data
        timestamp:
          type: string
          format: date-time
          example: 2025-01-15T10:30:00Z
        details:
          type: object
          description: Additional error details

    PairingCodeResponse:
      type: object
      properties:
        pairingCode:
          type: string
          pattern: '^\d{6}$'
          example: '482910'
        expiresAt:
          type: string
          format: date-time
        hoursUntilExpiry:
          type: integer
          example: 24

    PairingStatusResponse:
      type: object
      properties:
        pairedWatches:
          type: array
          items:
            $ref: '#/components/schemas/PairedWatch'
        pendingCode:
          oneOf:
            - $ref: '#/components/schemas/PendingPairingCode'
            - type: 'null'

    PairedWatch:
      type: object
      required:
        - id
        - pairedAt
      properties:
        id:
          type: string
          format: uuid
          description: Stable UUID identifier used for unpair. Never null.
        deviceName:
          type: string
          nullable: true
          description: Device name, nullable (not set during pairing flow).
        pairedAt:
          type: string
          format: date-time

    PendingPairingCode:
      type: object
      properties:
        code:
          type: string
          pattern: '^\d{6}$'
        expiresAt:
          type: string
          format: date-time

  responses:
    BadRequest:
      description: Bad request - validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            validationError:
              value:
                error: VALIDATION_ERROR
                errorCode: BAD_REQUEST
                message: Invalid request data
                timestamp: 2025-01-15T10:30:00Z

    Unauthorized:
      description: Unauthorized - missing or invalid JWT token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            missingToken:
              value:
                error: UNAUTHORIZED
                errorCode: UNAUTHORIZED
                message: Missing or invalid authentication token
                timestamp: 2025-01-15T10:30:00Z

    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            insufficientPermissions:
              value:
                error: FORBIDDEN
                errorCode: FORBIDDEN
                message: Insufficient permissions. Requires ADMIN or ORGANIZER role.
                timestamp: 2025-01-15T10:30:00Z

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            userNotFound:
              value:
                error: RESOURCE_NOT_FOUND
                errorCode: NOT_FOUND
                message: User not found with username 'john.doe'
                timestamp: 2025-01-15T10:30:00Z

    Conflict:
      description: Conflict - resource already exists or business rule violation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            duplicateEmail:
              value:
                error: CONFLICT
                errorCode: CONFLICT
                message: User with email 'john.doe@example.com' already exists
                timestamp: 2025-01-15T10:30:00Z
            minimumOrganizers:
              value:
                error: BUSINESS_RULE_VIOLATION
                errorCode: CONFLICT
                message: Cannot remove ORGANIZER role - minimum 2 organizers required
                timestamp: 2025-01-15T10:30:00Z

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            serverError:
              value:
                error: INTERNAL_SERVER_ERROR
                errorCode: INTERNAL_ERROR
                message: An unexpected error occurred
                timestamp: 2025-01-15T10:30:00Z

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: AWS Cognito JWT token

security:
  - BearerAuth: []
