/* You can add global styles to this file, and also import other style files */

body {
    background-color: beige;
    font-family: 'Open Sans', sans-serif;
}

.card {
    background-color: beige;
    margin-top: 0px;
  }
  