/* You can add global styles to this file, and also import other style files */

body {
    background-color: beige;
    font-family: 'Open Sans', sans-serif;
}

/* .bigcard {
    margin-top: 2.5rem;
} */

.bigcard {
    background-color: beige;
 
  }
  