<div class="card">
    <div class="card-header">
        Kontakt
    </div>
    <div class="card-block">

    <div class="card-text">
        Das Berner-Architekten-Treffen wird inhaltlich und organisatorisch durch ein Organisationskomitee begleitet:
    </div>

    <div class="card-media-block">
      <div class="card-media-image">
        <img src="assets/bilder/ok_nissim_buchs.jpg" alt="Nissim J. Buchs">
      </div>
      <div class="card-media-description">
        <span class="card-media-title">
          <b>Dr. Nissim J. Buchs, ELCA Informatik AG, nissim.buchs(at)elca.ch</b>
        </span>
        <span class="card-media-text">
            Nissim Buchs ist Delivery Manager Java mit Fokus auf den Financial Services bei der ELCA Informatik AG.
            Zuvor arbeitete er als CTO und Chef Architekt bei mehreren Finanzdienstleistern.
            Seine Schwerpunkte liegen auf Consulting f&uuml;r Core Banking Transformation, Enterprise Architecture Management
            und agilen Methoden. Nissim Buchs hat Informatik und Medizin an der Universit&auml;t Bern studiert und besitzt ein EMBA und MBA in Finance von Rochester-Bern.
        </span>
      </div>
    </div>

    <div class="card-media-block">
      <div class="card-media-image">
        <img src="assets/bilder/ok_andreas_gruetter.jpg" alt="Andreas Gr&uuml;tter">
      </div>
      <div class="card-media-description">
        <span class="card-media-title">
          <b>Andreas Gr&uuml;tter, Die Mobiliar, andreas.gruetter(at)mobiliar.ch</b>
        </span>
        <span class="card-media-text">
          Andreas Gr&uuml;tter ist Leiter IT Architektur und Mitglied der Direktion bei der Mobiliar.
          Zuvor arbeitete er als Chief Architect und Software Engineer bei mehreren Finanzdienstleistern.
          Sein Spezialgebiet ist die Modernisierung der Unternehmens IT Landschaften, damit die digitale Transformation gemeistert werden kann.
          Andreas Gr&uuml;tter hat an der Fachhochschule Nordwestschweiz Informatik studiert und besitzt einen EMBA in Innovation Management der Berner Fachhochschule.
        </span>
      </div>
    </div>

    <div class="card-media-block">
      <div class="card-media-image">
        <img src="assets/bilder/ok_daniel_kuehni.jpg" alt="Daniel K&uuml;hni">
      </div>
      <div class="card-media-description">
        <span class="card-media-title">
          <b>Daniel K&uuml;hni, BKW Energie AG, daniel.kuehni(at)bkw.ch</b>
        </span>
        <span class="card-media-text">
          Dani Kühni ist als Domänenarchitekt bei der BKW für den Energiemarkt und Smart Energy Lösungen zuständig.
          Zuvor unterstützte er als Consultant und Coach 6 Jahre lang Firmen bei der Umsetzung einer agilen Kultur und bei DevOps.
          Davor war er 3.5 Jahre für die Mobile Plattformen der SBB verantwortlich und vorher 14 Jahre als Geschäftsführer der indato GmbH tätig.
          Dani Kühni hat an der Universität Bern Informatik studiert und besitzt einen EMBA in Innovation Management der Berner Fachhochschule.
        </span>
      </div>
    </div>

    <div class="card-media-block">
      <div class="card-media-image">
        <img src="assets/bilder/ok_baltisar_oswald.jpg" alt="Baltisar Oswald">
      </div>
      <div class="card-media-description">
        <span class="card-media-title">
          <b>Baltisar Oswald, Galenica, baltisar.oswald(at)galenica.com</b>
        </span>
        <span class="card-media-text">
          Baltisar Oswald ist als Head of Software Engineering bei der Galenica für das Handwerk und den Technologieeinsatz verantwortlich.
          Davor war er als Solution Architekt für die zentralen Plattformen, das operative Technologie Management, die Cloud Plattformen, Methodik Leiter der Software Entwicklung und Software Architekt bei der SBB, sowie als Software Entwickler und Architekt in diversen Firmen im Raum Bern tätig.
          Baltisar Oswald hat an der Universität Bern Mathematik und Informatik studiert.
        </span>
      </div>
    </div>

    <div class="card-text">
      F&uuml;r Fragen, Anregungen und Kommentare k&ouml;nnen Sie jederzeit eines der Mitglieder direkt kontaktieren oder
      sich an <a href="mailto:info@berner-architekten-treffen.ch">info@berner-architekten-treffen.ch</a> wenden.
    </div>
  </div>
  <div class="card-block ">
    Interessierte Personen k&ouml;nnen zudem unseren <a href="https://lists.hostpoint.ch/mailman3/lists/newsletter.berner-architekten-treffen.ch/"><b>BAT Newsletter</b></a> abonnieren.
    <br>Dieser wird ausschliesslich f&uuml;r Ank&uuml;ndigungen von Veranstaltungen im Zusammenhang mit dem Berner Architekten-Treffen verwendet.
  </div>
</div>
