<div class="card">
    <div class="card-header">
        Kontakt
    </div>
    <div class="card-block">

    <div class="card-text">
        Das Berner-Architekten-Treffen wird inhaltlich und organisatorisch durch ein Organisationskomitee begleitet:
    </div>

    <div class="card-media-block">
      <div class="card-media-image">
        <img src="assets/bilder/ok_nissim_buchs.jpg" alt="Nissim J. Buchs">
      </div>
      <div class="card-media-description">
        <span class="card-media-title">
          <b>Dr. Nissim J. Buchs, ELCA Informatik AG, nissim.buchs(at)elca.ch</b>
        </span>
        <span class="card-media-text">
            Nissim Buchs ist Division Manager Financial Services bei der ELCA Informatik AG. 
            Zuvor arbeitete er als CTO und Chef Architekt bei mehreren Finanzdienstleistern. 
            Seine Schwerpunkte liegen auf Core Banking Transformation, Enterprise Architecture Management 
            und agilen Methoden. Nissim Buchs hat Informatik und Medizin an der Universit&auml;t Bern studiert und besitzt ein EMBA und MBA in Finance von Rochester-Bern.
        </span>
      </div>
    </div>

    <div class="card-media-block">
      <div class="card-media-image">
        <img src="assets/bilder/ok_andreas_gruetter.jpg" alt="Andreas Gr&uuml;tter">
      </div>
      <div class="card-media-description">
        <span class="card-media-title">
          <b>Andreas Gr&uuml;tter, Die Mobiliar, andreas.gruetter(at)mobiliar.ch</b>
        </span>
        <span class="card-media-text">
          Andreas Gr&uuml;tter ist Leiter IT Architektur und Mitglied der Direktion bei der Mobiliar. 
          Zuvor arbeitete er als Chief Architect und Software Engineer bei mehreren Finanzdienstleistern. 
          Sein Spezialgebiet ist die Modernisierung der Unternehmens IT Landschaften, damit die digitale Transformation gemeistert werden kann. 
          Andreas Gr&uuml;tter hat an der Fachhochschule Nordwestschweiz Informatik studiert und besitzt einen EMBA in Innovation Management der Berner Fachhochschule.
        </span>
      </div>
    </div>
  
    <div class="card-media-block">
      <div class="card-media-image">
        <img src="assets/bilder/ok_daniel_kuehni.jpg" alt="Daniel K&uuml;hni">
      </div>
      <div class="card-media-description">
        <span class="card-media-title">
          <b>Daniel K&uuml;hni, avega IT, daniel.kuehni(at)avega.ch</b>
        </span>
        <span class="card-media-text">
            Daniel K&uuml;hni unterst&uuml;tzt als Senior Consultant und Coach Firmen bei der Umsetzung einer agilen Kultur und bei DevOps.
      Davor war er 3.5 Jahre f&uuml;r die Mobile Plattformen der SBB verantwortlich und vorher 14 Jahre als Gesch&auml;ftsf&uuml;hrer der indato GmbH t&auml;tig.
      Daniel K&uuml;hni hat an der Universit&auml;t Bern Informatik studiert und besitzt einen EMBA in Innovation Management der Berner Fachhochschule.
        </span>
      </div>
    </div>
    
    <div class="card-media-block">
      <div class="card-media-image">
        <img src="assets/bilder/ok_baltisar_oswald.jpg" alt="Baltisar Oswald">
      </div>
      <div class="card-media-description">
        <span class="card-media-title">
          <b>Baltisar Oswald, SBB CFF FFS, baltisar.oswald(at)sbb.ch</b>
        </span>
        <span class="card-media-text">
          Baltisar Oswald ist als Stackverantwortlicher (PO) Cloud Stack, sowie Teamleiter Delivery f&uuml;r die Umsetzung der Cloud Strategie der SBB verantwortlich.
          Davor war er als Software Architekt und Methodik Leiter der Software Entwicklung bei der SBB, sowie als Software Entwickler und Architekt in diversen Firmen im Raum Bern tätig.
          Baltisar Oswald hat an der Universit&auml;t Bern Mathematik und Informatik studiert.
        </span>
      </div>
    </div>

    <div class="card-text">
      F&uuml;r Fragen, Anregungen und Kommentare k&ouml;nnen Sie jederzeit eines der Mitglieder direkt kontaktieren oder
      sich an <a href="mailto:info@berner-architekten-treffen.ch">info@berner-architekten-treffen.ch</a> wenden.
    </div>
  </div>
  <div class="card-block ">
    Interessierte Personen k&ouml;nnen zudem unseren <b>Newsletter</b> abonnieren.
    Dieser wird ausschliesslich f&uuml;r Ank&uuml;ndigungen von Veranstaltungen im Zusammenhang mit dem Berner Architekten-Treffen verwendet.
  
    <form class="clr-row clr-align-items-left" clrForm method="POST" action="https://admin.hostpoint.ch/mailman/subscribe/newsletter_berner-architekten-treffen.ch">
      <label class="newsletter">Ihre Mailadresse:</label>
      <input class="newsletter" type="Text" name="email" size="30" value="">
      <input class="newsletter" type="Submit" name="email-button" value="Newsletter abonnieren">
    </form>
  </div>
</div>
