<div class="card bigcard">
  <div class="card-header">
    Archiv
  </div>
  <div class="card-block">
    <div class="card-text">
      Alle Unterlagen der neueren Austragungen befinden sich auf Slideshare:
      <a href="https://www.slideshare.net/batbern/presentations">BAT Unterlagen ab BAT40</a>
    </div>
    <div class="card-text">
      Hier finden Sie alles &uuml;ber die fr&uuml;heren BAT-Treffen:
    </div>

    <div class='card-block col-lg-6' *ngFor='let topic of topics'>
      <div class="row">
        <div class='col-md-1'>{{topic.bat}}</div>
        <div class='col-md-8'>
          <a [routerLink]="['/archiv', topic.bat]">
            {{ topic.topic}}
          </a>
        </div>
        <div class='col-md-3'>{{topic.datum}}</div>
      </div>
    </div>
  </div>
</div>
