<div class="card bigcard">
    <div class="card-header">
      Archiv
    </div>
    <div class="card-block">
      <div class="card-text">
        Alle Unterlagen der neueren Austragungen befinden sich auf Slideshare:
        <a href="https://www.slideshare.net/batbern/presentations">BAT Unterlagen ab BAT40</a>
      </div>
      <div class="card-text">
        Hier finden Sie alles &uuml;ber die fr&uuml;heren BAT-Treffen:
      </div>
      <a href="http://www.berner-architekten-treffen.ch/archiv/1/treffen_no1.php">BAT 01: GUI Frameworks (24. Juni 2005)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/2/treffen_no2.php">BAT 02: Enterprise Architektur (11. November 2005)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/3/treffen_no3.php">BAT 03: SOA (17. M&auml;rz 2006)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/4/treffen_no4.php">BAT 04: Workflow (23. Juni 2006)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/5/treffen_no5.php">BAT 05: SAP Integration (17. November 2006)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/6/treffen_no6.php">BAT 06: MDA/MDSD (23. M&auml;rz 2007)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/7/treffen_no7.php">BAT 07: Architektur messen/verkaufen (15. Juni 2007)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/8/treffen_no8.php">BAT 08: EA Tools (16. November 2007)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/9/treffen_no9.php">BAT 09: Business Rules (14. M&auml;rz 2008)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/10/treffen_no10.php">BAT 10: RIA (20. Juni 2008)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/11/treffen_no11.php">BAT 11: Workplace (21. November 2008)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/12/treffen_no12.php">BAT 12: Architekturplanung (13. M&auml;rz 2009)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/13/treffen_no13.php">BAT 13: SOAreloaded (12. Juni 2009)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/14/treffen_no14.php">BAT 14: Qualit&auml;tssicherung (13. November 2009)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/15/treffen_no15.php">BAT 15: Business Intelligence (DWH, 5. M&auml;rz 2010)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/16/treffen_no16.php">BAT 16: Informatik-Sicherheit (11. Juni 2010)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/17/treffen_no17.php">BAT 17: IT-Innovation (5. November 2010)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/18/treffen_no18.php">BAT 18: Datenhaltung (11. M&auml;rz 2011)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/19/treffen_no19.php">BAT 19: Integration (1. Juli 2011)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/20/treffen_no20.php">BAT 20: Jubil&auml;ums-BAT (11. November 2011)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/21/treffen_no21.php">BAT 21: Social Media im Unternehmenseinsatz (9. M&auml;rz 2012)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/22/treffen_no22.php">BAT 22: Mobilkommunikation im Unternehmen (29. Juni 2012)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/23/treffen_no23.php">BAT 23: Management von Projekt- & Anwendungsportfolios (2. November 2012)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/24/treffen_no24.php">BAT 24: Open Source Software (15. M&auml;rz 2013)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/25/treffen_no25.php">BAT 25: Fertigungstiefe (28. Juni 2013)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/26/treffen_no26.php">BAT 26: Mobile Applikationen (8. November 2013)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/27/treffen_no27.php">BAT 27: Security - Quo Vadis? (28. M&auml;rz 2014)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/28/treffen_no28.php">BAT 28: IT-getriebene Gesch&auml;ftsinnovationen (20. Juni 2014)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/29/treffen_no29.php">BAT 29: Big Data / Information Management (21. November 2014)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/30/treffen_no30.php">BAT 30: Agile Architektur (27. M&auml;rz 2015)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/31/treffen_no31.php">BAT 31: Open Data (19. Juni 2015)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/32/treffen_no32.php">BAT 32: Internet of Things (6. November 2015)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/33/treffen_no33.php">BAT 33: NoSQL Databases (15. April 2016)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/34/treffen_no34.php">BAT 34: Digitalisierung / Industrie 4.0 (1. Juli 2016)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/35/treffen_no35.php">BAT 35: Hochverf&uuml;gbare Systeme (4. November 2016)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/36/treffen_no36.php">BAT 36: Container (3. M&auml;rz 2017)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/37/treffen_no37.php">BAT 37: Not only Java - Programmiersprachen in Unternehmen (23. Juni 2017)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/38/treffen_no38.php">BAT 38: Kryptographie (3. November 2017)</a><br>
      <a href="http://www.berner-architekten-treffen.ch/archiv/39/treffen_no39.php">BAT 39: Cloud (23. M&auml;rz 2018)</a><br>
      </div>
  </div>